
 <div class="container ml-6 mt-4">
     <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Chapitre</mat-label>
        <mat-select
          [(ngModel)]="chapitre"
          #selectionChapitre
          (selectionChange)="getNombreBienImmobiliers(selectionChapitre.value);getNombreBienImmobiliersOqp(selectionChapitre.value)"
        >
          <mat-option [value]=0>
            Tout
          </mat-option>
          <mat-option
          [value]=1
        >
         Magiser
        </mat-option>
        <mat-option
        [value]=2
      >
       Ebimpe
      </mat-option>
        </mat-select>
      </mat-form-field>
         <div class="col-md-4 col-xl-3">
             <div class="card bg-c-blue order-card">
                 <div class="card-block">
                     <h6 class="m-b-20">Total biens loués</h6>
                     <h2 class="text-right"><i class="fas fa-building  f-left"></i><span>{{totalBiensOQp}}</span></h2>
                     <p class="m-b-0">Total Biens<span class="f-right">{{totalBiens}}</span></p>
                 </div>
             </div>
         </div>

         <div class="col-md-4 col-xl-3">
             <div class="card bg-c-green order-card">
                 <div class="card-block">
                     <h6 class="m-b-20">Total utilisateurs</h6>
                     <h2 class="text-right"><i class="fas fa-users f-left"></i><span>{{totalLocatireActifParAgence}}</span></h2>
                     <p class="m-b-0">Total locatire(s) <span class="f-right">{{totalLocataireParAgence}}</span></p>
                 </div>
             </div>
         </div>

         <div class="col-md-4 col-xl-3">
             <div class="card bg-c-yellow order-card">
                 <div class="card-block">
                     <h6 class="m-b-20">Total baux Actifs</h6>
                     <h2 class="text-right"><i class="fas fa-file-contract f-left"></i><span>{{totalBailActif}}</span></h2>
                     <p class="m-b-0">Baux cloturés<span class="f-right">{{totalBauxNonActif}}</span></p>
                 </div>
             </div>
         </div>

         <!-- <div class="col-md-4 col-xl-3">
             <div class="card bg-c-pink order-card">
                 <div class="card-block">
                     <h6 class="m-b-20">Nombre de reservations</h6>
                     <h2 class="text-right"><i class='fas fa-calendar f-left' style='color: rgb(247, 247, 251)'></i><span>0</span></h2>
                     <p class="m-b-0">Meublés disponibles<span class="f-right">0</span></p>
                 </div>
             </div>
         </div> -->
   </div>



 <!--

    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-yellow order-card">
            <div class="card-block">
                <h6 class="m-b-20">Orders Received</h6>
                <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>486</span></h2>
                <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-pink order-card">
            <div class="card-block">
                <h6 class="m-b-20">Nombre de reservations</h6>
                <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>486</span></h2>
                <p class="m-b-0"><span class="f-right">351</span></p>
            </div>
        </div>
    </div>
</div> -->
<app-page-statistique-journalier [chapitre]="chapitre"></app-page-statistique-journalier>
 </div>

 <div class="container mt-3">
  <div class="row">
    <div class="col-md-6 col-xl-6">
      <div class="card">
        <div class="card-block">
          <div>
            <canvas baseChart
                    [chartType]="chartType"
                    [datasets]="dataset"
                    [labels]="labels"
                    [options]="chartOptions"
                    [legend]="true"
                    [title]="'My awesome chart'"

            ></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-6">
      <div class="card">
        <div style="display: block">
          <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
