<div class="mt-3 mb-3 ml-3">
  <div class="text-left">
    <h2>Tableau de bords</h2>
  </div>

</div>
<hr>
<div class="row justify-content-center">
  <div class="col-md-3">
      <div class="card mb-4 ml-4 mr-2 text-left">
          <div class="card-body">

          </div>
      </div>
  </div>
  <div class="col-md-3">
      <div class="card mb-4 ml-2 mr-2 text-left">
          <div class="card-body">

          </div>
      </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-4 ml-2 mr-2 text-left">
        <div class="card-body">

        </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card mb-4 ml-2 mr-4 text-left">
      <div class="card-body">

      </div>
  </div>
</div>
</div>
<hr>
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card mb-4 ml-4 mr-2 text-left">
      <div class="card-body">
        <p class="h4 blue-color">Liste des intervenants</p>
        <hr>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nom</th>
              <th scope="col">Fonction</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr  >
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
<div class="col-md-6">
  <div class="card mb-4 ml-2 mr-4  text-left">
    <div class="card-body">
        
    </div>
</div>
</div>
</div>

