.example-card {
  max-width: 500px;
  margin-bottom: 8px;

}
.example-additional-selection {
  opacity: 1;
  font-size: 1em;
}
.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}
.mat-form-field{
  width: 100%;
}
.mat-card-actions, .mat-card-subtitle, .mat-card-content {
  display: block;
  margin-bottom: 0;
}
.police{
  font-weight: bolder;
}

.backButton {
	border-radius: 4px;
	padding: 8px;
	border: none;
	font-size: 16px;
	background-color: #2eacd1;
	color: white;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
