<!-- Cards with media area -->
<div style="display: flex; flex-direction: row" class="center">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Statistiques par Période</mat-card-title>
      <mat-card-subtitle>
        <mat-form-field appearance="fill">
          <mat-label>Période</mat-label>
          <input matInput [matDatepicker]="dp" />
          <mat-hint>MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker
            #dp
            startView="multi-year"
            panelClass="example-month-picker"
          >
          </mat-datepicker>
        </mat-form-field>
      </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <ul>
        <li>Total des impayés 450000</li>
        <li>Total des impayés 450000</li>
      </ul>

      47 % de recouvrement
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Staisques par Année</mat-card-title>
      <mat-card-subtitle>
        <mat-form-field appearance="fill">
          <ng-container
            *ngIf="anneeState$ | async as anneeState"
            [ngSwitch]="anneeState.dataState"
          >
            <ng-container *ngSwitchCase="AnneeStateEnum.LOADING">
              <i class="fas fa-sync fa-spin"></i>
            </ng-container>
            <ng-container *ngSwitchCase="AnneeStateEnum.LOADED">
              <mat-label>Choisir l'année</mat-label>
              <mat-select
                #selectionAnnee
                (selectionChange)="
                  getImpayerParAnnee(selectionAnnee.value);
                  getPayerParAnnee(selectionAnnee.value)
                "
              >
                <mat-option
                  [value]="annee"
                  *ngFor="let annee of anneeState.annees"
                >
                  {{ annee }}</mat-option
                >
              </mat-select>
            </ng-container>
          </ng-container>
        </mat-form-field>
      </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <ul>
        <li>
          Total des loyers impayés
          <ng-container
            *ngIf="appelLoyerState$ | async as appelLoyerState"
            [ngSwitch]="appelLoyerState.dataState"
          >
            <ng-container *ngSwitchCase="AppelLoyerStateEnum.ERROR"
              >0</ng-container
            >
            <ng-container *ngSwitchCase="AppelLoyerStateEnum.LOADED">
              <div class="text-danger">
                {{ appelLoyerState.impayerAnnee }}
              </div>
            </ng-container>
          </ng-container>
        </li>
        <li>
          Total des loyers payés
          <ng-container
            *ngIf="appelLoyerPayerState$ | async as appelLoyerPayerState"
            [ngSwitch]="appelLoyerPayerState.dataState"
          >
            <ng-container *ngSwitchCase="AppelLoyerPayerStateEnum.ERROR"
              >0</ng-container
            >
            <ng-container *ngSwitchCase="AppelLoyerPayerStateEnum.LOADED">
              <div class="text-success">
                {{ appelLoyerPayerState.payerAnnee }}
              </div></ng-container
            >
          </ng-container>
        </li>
      </ul>
      Recouvrement: <p *ngIf="(v_impayer+v_payer)!=0">{{v_payer/(v_impayer+v_payer)*100|number:'2.1-2'}} %</p>
    </mat-card-content>
  </mat-card>
</div>
<!-- Cards with media area -->
<div style="display: flex; flex-direction: row">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Total des Encaissements Journaliers</mat-card-title>
      <mat-card-subtitle
        ><mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{ longText }}
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Impayé >=2 mois</mat-card-title>
      <mat-card-subtitle>Small</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{ longText }}
    </mat-card-content>
  </mat-card>
</div>
<div style="display: flex; flex-direction: row">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Statistiques sur les Baux</mat-card-title>
      <mat-card-subtitle>Small</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{ longText }}
    </mat-card-content>
  </mat-card>
</div>
