<!-- Cards with media area -->

<div class="row center">
  <div class="col-md-4">
    <mat-card class="example-card">
      <mat-card-title>Statistiques par Période</mat-card-title>
      <mat-card-subtitle>
        <ng-container
          *ngIf="periodeState$ | async as periodeState"
          [ngSwitch]="periodeState.dataState"
        >
          <ng-container *ngSwitchCase="PeriodeStateEnum.LOADING">
            <i class="fas fa-sync fa-spin"></i>
          </ng-container>
          <ng-container *ngSwitchCase="PeriodeStateEnum.LOADED">
            <mat-form-field appearance="outline">
              <mat-label>Choisir une période</mat-label>
              <mat-select
                [(ngModel)]="periode_model"
                #selectionPeriode
                (selectionChange)="
                  getImpayerParPeriode(selectionPeriode.value);
                  getPayerParPeriode(selectionPeriode.value)
                "
              >
                <mat-option
                  [value]="periode.periodeAppelLoyer"
                  *ngFor="let periode of periodeState.periodes"
                >
                  {{ periode.periodeLettre }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </ng-container>
        </ng-container>
      </mat-card-subtitle>
      <mat-card-content>
        <ul class="police" *ngIf="v_impayer_mois + v_payer_mois != 0">
          <li>
            Loyers impayés :
            <ng-container
              *ngIf="
                appelLoyerImpayerMoisState$
                  | async as appelLoyerImpayerMoisState
              "
              [ngSwitch]="appelLoyerImpayerMoisState.dataState"
            >
              <ng-container *ngSwitchCase="AppelLoyerImpayerMoisStateEnum.ERROR"
                >0</ng-container
              >
              <ng-container
                *ngSwitchCase="AppelLoyerImpayerMoisStateEnum.LOADED"
              >
                <span class="text-danger price"
                  >{{ appelLoyerImpayerMoisState.impayerPeriode | number }} F
                  CFA</span
                >
              </ng-container>
            </ng-container>
          </li>
          <li>
            Loyer payés :
            <ng-container
              *ngIf="
                appelLoyerPayerMoisState$ | async as appelLoyerPayerMoisState
              "
              [ngSwitch]="appelLoyerPayerMoisState.dataState"
            >
              <ng-container *ngSwitchCase="AppelLoyerPayerMoisStateEnum.ERROR"
                >0</ng-container
              >
              <ng-container *ngSwitchCase="AppelLoyerPayerMoisStateEnum.LOADED">
                <span class="text-success"
                  >{{ appelLoyerPayerMoisState.payerPeriode | number }} F
                  CFA</span
                >
              </ng-container>
            </ng-container>
          </li>
          <li>
            Recouvrement:
            {{
              (v_payer_mois / (v_impayer_mois + v_payer_mois)) * 100
                | number: "2.1-2"
            }}
            %
          </li>

          <!-- <li *ngIf="v_impayer_mois + v_payer_mois != 0">
        {{
          (v_payer_mois / (v_impayer_mois + v_payer_mois)) * 100
            | number: "2.1-2"
        }}
        %
      </li> -->
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="example-card">
      <mat-card-title>Statisques par année</mat-card-title>
      <mat-card-subtitle>
        <ng-container
          *ngIf="anneeState$ | async as anneeState"
          [ngSwitch]="anneeState.dataState"
        >
          <ng-container *ngSwitchCase="AnneeStateEnum.LOADING">
            <i class="fas fa-sync fa-spin"></i>
          </ng-container>
          <ng-container *ngSwitchCase="AnneeStateEnum.LOADED">
            <mat-form-field appearance="outline">
              <mat-label>Choisir l'année</mat-label>
              <mat-select
                [(ngModel)]="annee_model"
                #selectionAnnee
                (selectionChange)="
                  getImpayerParAnnee(selectionAnnee.value);
                  getPayerParAnnee(selectionAnnee.value)
                "
              >
                <mat-option
                  [value]="annee"
                  *ngFor="let annee of anneeState.annees"
                >
                  {{ annee }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </ng-container>
        </ng-container>
      </mat-card-subtitle>

      <mat-card-content>
        <ul class="police" *ngIf="v_impayer_annee + v_payer_annee != 0">
          <li>
            Total des loyers impayés
            <ng-container
              *ngIf="appelLoyerState$ | async as appelLoyerState"
              [ngSwitch]="appelLoyerState.dataState"
            >
              <ng-container *ngSwitchCase="AppelLoyerStateEnum.ERROR"
                >0</ng-container
              >
              <ng-container *ngSwitchCase="AppelLoyerStateEnum.LOADED">
                <span class="text-danger"
                  >{{ appelLoyerState.impayerAnnee | number }} F CFA</span
                >
              </ng-container>
            </ng-container>
          </li>
          <li>
            Total des loyers payés
            <ng-container
              *ngIf="appelLoyerPayerState$ | async as appelLoyerPayerState"
              [ngSwitch]="appelLoyerPayerState.dataState"
            >
              <ng-container *ngSwitchCase="AppelLoyerPayerStateEnum.ERROR"
                >0</ng-container
              >
              <ng-container *ngSwitchCase="AppelLoyerPayerStateEnum.LOADED">
                <span class="text-success"
                  >{{ appelLoyerPayerState.payerAnnee | number }} F CFA</span
                >
              </ng-container>
            </ng-container>
          </li>

          <li>
            Recouvrement:
            {{
              (v_payer_annee / (v_impayer_annee + v_payer_annee)) * 100
                | number: "2.1-2"
            }}
            %
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-4">
    <mat-card class="example-card">
      <mat-card-title>Encaissements Journaliers</mat-card-title>
      <mat-card-subtitle>
        <mat-form-field appearance="outline">
          <mat-label>Choisir une date</mat-label>
          <input
            [(ngModel)]="selectedDate"
            #refDate
            matInput
            [matDatepicker]="picker"
            data-date-format="yyyy-mm-dd"
            (dateChange)="getEncaissementPayerJour(refDate.value)"
          />

          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-card-subtitle>
      <ul class="police">
        <mat-card-content
          *ngIf="totalEncaissementState$ | async as totalEncaissementState"
          [ngSwitch]="totalEncaissementState.dataState"
        >
          <mat-card-content *ngSwitchCase="EncaissementStateEnum.ERROR">
            Une erreur c'est produite
          </mat-card-content>
          <mat-card-content *ngSwitchCase="EncaissementStateEnum.LOADED">
            <li>
              Total encaissements
              <span class="text-success">
                {{ totalEncaissementState.montantEncaisse | number }} F
                CFA</span
              >
            </li>
            <li>
              Total sortie de caisse
              <span class="text-danger">
                {{ totalEncaissementState.montantEncaisse | number }} F
                CFA</span
              >
            </li>
            <li>
              Solde journalier
              <span class="text-primary">
                {{ totalEncaissementState.montantEncaisse | number }} F
                CFA</span
              >
            </li>
          </mat-card-content>
        </mat-card-content>
      </ul>
    </mat-card>
  </div>
</div>
<!-- Cards with media area -->

<!-- <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Impayé >=2 mois</mat-card-title>
      <mat-card-subtitle>Small</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{ longText }}
    </mat-card-content>
  </mat-card>
</div> -->
<!-- <div style="display: flex; flex-direction: row">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Statistiques sur les Baux</mat-card-title>
      <mat-card-subtitle>Small</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{ longText }}
    </mat-card-content>
  </mat-card>
</div> -->
