<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Encaissement Divers</h1>
    </div>
    <div class="col-md-4 text-right"></div>
  </div>

  <div class="col">
    <div class="row">
      <div class="col">
        <h5>
          <i class="fas fa-asterisk blue-color"></i>&nbsp;Paramètre de règlement
        </h5>
      </div>
    </div>
    <div>
      <form *ngIf="formGroup" [formGroup]="formGroup">
        <hr style="margin-top: 0" />
        <div class="row">
          <div class="col-md-6">
            <ng-container>
              <mat-form-field appearance="outline">
                <label>Description de la dépense</label>
                <textarea formControlName="designation" matInput></textarea>
              </mat-form-field>
            </ng-container>
            <!-- <ng-container>
              <ng-container>
                <mat-form-field appearance="outline">
                  <mat-label>Code de la Transaction</mat-label>
                  <input
                    formControlName="codeTransaction"
                    type="text"
                    matInput
                    placeholder="Montant encaissé"
                  />
                  <mat-error>Ce champ est obligatoire.</mat-error>
                </mat-form-field>
              </ng-container>
            </ng-container> -->
          </div>
          <div class="col-md-6">
            <ng-container>
              <ng-container>
                <label>Type d'opérations</label>
                <select
                  id="operationType"
                  name="operationType"
                  class="form-control"
                  formControlName="operationType"
                >
                  <option value="CREDIT">Crédit</option>
                  <option value="DEBIT">Débit</option>
                  <option value="REMOURSEMENT_CHEQUE">
                    Remboursement de chèque
                  </option>
                  <option value="REMBOURSEMENT_ESPECE">
                    Remboursement espèce
                  </option>
                </select>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <!-- <div class="row mb-3"> -->
        <ng-container>
          <ng-container>
            <div class="col-md-3">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Mode de règlement*</mat-label>
                  <mat-select
                    formControlName="modePaiement"
                    placeholder="Mode de règlement"
                  >
                    <mat-option value="ESPESE_MAGISER">Espèce</mat-option>
                    <mat-option value="MOBILE_MONEY_MAGISER"
                      >Money Electronique</mat-option
                    >
                    <mat-option value="CHEQUE_ECOBANK_MAGISER"
                      >Chèque</mat-option
                    >
                    <mat-option value="VIREMENT_ECOBANK_MAGISER"
                      >Virement Banquaire</mat-option
                    >
                  </mat-select>
                  <mat-error>Ce champ est obligatoire.</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h5>
                  <i class="fas fa-asterisk blue-color"></i>&nbsp;Montant de
                  règlement
                </h5>
              </div>
            </div>
            <hr style="margin-top: 0" />

            <div class="row">
              <div class="col-md-3"></div>

              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Montant encaissé</mat-label>
                  <input
                    formControlName="montantDepense"
                    type="number"
                    matInput
                    placeholder="Montant encaissé"
                  />
                  <mat-error>Ce champ est obligatoire.</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <button
                  class="mr-2"
                  mat-raised-button
                  color="primary"
                  (click)="onSaveForm()"
                >
                  <mat-icon>save</mat-icon>
                  Encaisser
                </button>
                <button mat-raised-button color="warn" class="mr-1">
                  <mat-icon>cancel</mat-icon>
                  Annuler
                </button>
              </div>
              <!-- </div> -->
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="col panel-body text-right"></div>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <!-- </div> -->
      </form>
    </div>
    <div class="row">
      <div class="col">
        <h5>
          <i class="fas fa-asterisk blue-color"></i>&nbsp;Liste des
          encaissements
        </h5>
      </div>
    </div>
    <hr />
    <!--LE TABLEAU DES ENCAISEMNT A METTRE ICI  -->
    <div>
      <div class="mat-elevation-z8">
        <div class="example-header">
          <mat-form-field class="tail-50" style="margin-left: 12px">
            <mat-label>Rechercher</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input  placeholder="Rechercher un Encaissement" />
          </mat-form-field>
        </div>
        <mat-paginator
          #tableDepense
          showFirstLastButtons
          [pageSizeOptions]="pageSize"
          aria-label="Select page of users"
        >
        </mat-paginator>
        <mat-table #tableDepense [dataSource]="dataSource" matSort>
          <!-- Code colonne -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              id
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.id }}
            </mat-cell>
          </ng-container>
          <!-- Dénomination colonne -->
          <ng-container matColumnDef="dateEncaissement">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Date d'encaissement
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.dateEncaissement | date : "dd/MM/yyyy" }}
            </mat-cell>
          </ng-container>

          <!-- Propriétaire colonne -->
          <ng-container matColumnDef="codeTransaction">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Code Transaction
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.codeTransaction }}</mat-cell
            >
          </ng-container>

          <ng-container matColumnDef="montantDepense">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Montant
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.montantDepense }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="designation">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Description
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.designation }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="modePaiement">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Mode de Paiement
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.modePaiement }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="operationType">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Type d'opération
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.operationType }}</mat-cell>
          </ng-container>
          <!-- Propriétaire colonne -->

          <!-- Actions colonne -->
          <ng-container matColumnDef="Actions">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-icon-button color="primary">
                <mat-icon>print</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          -->

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              Aucune donnée enregistrée {{ input.value }}
            </td>
          </tr>
        </mat-table>
      </div>
    </div>
  </div>
</div>
