<div class="main-container">
  <div class="row min-height-600 no-flex-wrap">
    <div class="card col-md-2 mr-2">
      <div class="col pl-0 pr-0">
        <div class="card mt-3 mb-2 border-none text-center">
          <div class="row justify-content-center">
            <div class="row">
              <div class="col-md-12">
                <img
                  class="img"
                  src="assets/logoGestimo.png"
                  alt="Logo"
                  style="width: 100px; height: 100px"
                />
              </div>
            </div>
            <div class="col-md-12"></div>
          </div>
        </div>
        <div>
          <app-menu></app-menu>
          <div class="col-md-12 text-center">
            <small>Done by BZDATA</small>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-md-10 pl-0 pr-0 backgroung-gray border-none">
      <div class="col pl-0 pr-0 d-flex flex-column justify-content-between">
        <div class="card p-3 min-height-75 mb-2">
          <app-header></app-header>
        </div>
        <div class="card mb-2 min-heigth-600" style="min-height: 800px">
          <app-loader></app-loader>

          <router-outlet></router-outlet>
         <app-page-statistique-journalier></app-page-statistique-journalier>
        </div>
        <div class="card min-height-75">
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</div>
