<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Compte Locataire</h1>
    </div>
    <div class="col-md-4 text-right"></div>
  </div>

  <div class="col">
    <div class="row">
      <div class="col">
        <h5>
          <i class="fas fa-asterisk blue-color"></i>&nbsp;Information sur le
          locataire
        </h5>
      </div>
    </div>
    <hr style="margin-top: 0" />
  </div>
  <div class="row">

    <div class="col-md-6">
      <ng-container *ngIf="locataireState$ | async as locataireState" [ngSwitch]="locataireState.dataState">
        <ng-container *ngSwitchCase="UtilisteurStateEnum.LOADING">
        </ng-container>
        <ng-container *ngSwitchCase="UtilisteurStateEnum.LOADED">
          <!-- <label>Locataires</label> -->
          <mat-form-field appearance="outline">
            <mat-label> Locataires</mat-label>
            <mat-select #selectionlocataire [(value)]="locataire"
              (valueChange)="getAllEncaissementByBienImmobilier(locataire);getAllAppelLoyerByBail(locataire);getAllSmsByLocataire(locataire)">
              <mat-option [value]="loca" *ngFor="let loca of locataireState.locataireBail">{{
                loca.codeDescBail }}</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </ng-container>
    </div>
  </div>
    <div class="col">
    <div class="row">
      <div class="col">
        <h5>
          <i class="fas fa-asterisk blue-color"></i>&nbsp;Liste des loyers
        </h5>
      </div>
    </div>
    <hr style="margin-top: 0" />
  </div>
  <div>
    <div class="mat-elevation-z8">
      <div class="example-header">
        <mat-form-field class="tail-50" style="margin-left: 12px;">
          <mat-label>Rechercher</mat-label>
          <input matInput (keyup)="applyFilterAppel($event)" #input placeholder="Rechercher un Appel" />
        </mat-form-field>
      </div>
      <mat-paginator #paginator showFirstLastButtons [length]="100" [pageSizeOptions] ="pageSizeAppel" aria-label="Select page of users">
      </mat-paginator>
      <mat-table #tableAppel [dataSource]="dataSourceAppel" matSort>
        <!-- Code colonne -->
        <ng-container matColumnDef="idEncaiss">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            id
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.id }}
          </mat-cell>
        </ng-container>
        <!-- Dénomination colonne -->

        <!-- Propriétaire colonne -->
        <ng-container matColumnDef="Periode">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Période
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.periodeAppelLoyer| date: "MMMM yyyy" }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Loyer">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Montant Loyer
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.montantBailLPeriode }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="solde">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Solde du Mois
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.soldeAppelLoyer }}</mat-cell>
        </ng-container>
        <!-- Propriétaire colonne -->
        <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Status
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.statusAppelLoyer=='Soldé'"
              class="badge badge-success">{{row.statusAppelLoyer}}
            </span>
            <span *ngIf="row.statusAppelLoyer=='Impayé'"
              class="badge badge-danger">{{row.statusAppelLoyer}}
            </span>
            <span *ngIf="row.statusAppelLoyer=='partiellement payé'"
              class="badge badge-warning">{{row.statusAppelLoyer}}
            </span>

          </mat-cell>
        </ng-container>
        <!-- Actions colonne -->
        <ng-container matColumnDef="Actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary">
              <mat-icon>print</mat-icon>
            </button>
            <button *ngIf="row.statusAppelLoyer!='Impayé'" mat-icon-button style="color: rgb(255, 0, 0);" (click)="supprimerUnLoyer(row.id)">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsAppel"> </mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsAppel"></mat-row>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            Aucune donnée enregistrée {{ input.value }}
          </td>
        </tr>
      </mat-table>
    </div>
  </div>
  <!-- LISTE DES APPELS PAR BIEN -->
  <div class="col mt-4">
    <div class="row">
      <div class="col">
        <h5>
          <i class="fas fa-asterisk blue-color"></i>&nbsp;Liste des encaissements
        </h5>
      </div>
    </div>
    <hr style="margin-top: 0" />
  </div>
  <div>
    <div class="mat-elevation-z8">
      <div class="example-header">
        <mat-form-field class="tail-50" style="margin-left: 12px;">
          <mat-label>Rechercher</mat-label>
          <input matInput (keyup)="applyFilter($event)" #input placeholder="Rechercher un Encaissement" />
        </mat-form-field>
      </div>
      <mat-paginator #paginatorEncaissenent showFirstLastButtons [pageSizeOptions]="pageSize" aria-label="Select page of users">
      </mat-paginator>
      <mat-table #tableEncaissemnt [dataSource]="dataSource" matSort>
        <!-- Code colonne -->
        <ng-container matColumnDef="idEncaiss">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            id
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.id }}
          </mat-cell>
        </ng-container>
        <!-- Dénomination colonne -->
        <ng-container matColumnDef="Datedepaiement">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Date de Paiement
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.creationDate | date: "dd / MM / yyyy à HH:mm" }}
          </mat-cell>
        </ng-container>

        <!-- Propriétaire colonne -->
        <ng-container matColumnDef="Periode">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Période
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.appelLoyersFactureDto!.periodeLettre }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Loyer">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Montant Loyer
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.appelLoyersFactureDto!.nouveauMontantLoyer }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="MontantPaye">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Montant Payé
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.montantEncaissement }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="ModedeReglement">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Mode de Paiement
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.modePaiement }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="soldedumois">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Solde du mois
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.soldeEncaissement}}</mat-cell>
        </ng-container>
        <!-- Propriétaire colonne -->
        <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Status
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.appelLoyersFactureDto!.statusAppelLoyer=='Soldé'"
              class="badge badge-success">{{row.appelLoyersFactureDto!.statusAppelLoyer}}
            </span>
            <span *ngIf="row.appelLoyersFactureDto!.statusAppelLoyer=='Impayé'"
              class="badge badge-danger">{{row.appelLoyersFactureDto!.statusAppelLoyer}}
            </span>
            <span *ngIf="row.appelLoyersFactureDto!.statusAppelLoyer=='partiellement payé'"
              class="badge badge-warning">{{row.appelLoyersFactureDto!.statusAppelLoyer}}
            </span>

          </mat-cell>
        </ng-container>
        <!-- Actions colonne -->
        <ng-container matColumnDef="Actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary">
              <mat-icon>print</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            Aucune donnée enregistrée {{ input.value }}
          </td>
        </tr>
      </mat-table>
    </div>
  </div>


  <div class="col mt-4">
    <div class="row">
      <div class="col">
        <h5>
          <i class="fas fa-asterisk blue-color"></i>&nbsp;Liste des Messages
        </h5>
      </div>
    </div>
    <hr style="margin-top: 0" />
  </div>
  <div>
    <div class="mat-elevation-z8">
      <div class="example-header">
        <mat-form-field class="tail-50" style="margin-left: 12px;">
          <mat-label>Rechercher</mat-label>
          <input matInput (keyup)="applyFilter($event)" #input placeholder="Rechercher un Encaissement" />
        </mat-form-field>
      </div>
      <mat-paginator #matsms showFirstLastButtons [pageSizeOptions]="pageSizeSms" aria-label="Select page of users">
      </mat-paginator>
      <mat-table #tableEncaissemnt [dataSource]="dataSourceSms" matSort>
        <!-- Code colonne -->
        <ng-container matColumnDef="dateEnvoi">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            id
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.dateEnvoi }}
          </mat-cell>
        </ng-container>
        <!-- Dénomination colonne -->
        <ng-container matColumnDef="destinaireNomPrenom">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
           Téléphone
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.destinaireNomPrenom }}
          </mat-cell>
        </ng-container>

        <!-- Propriétaire colonne -->
        <ng-container matColumnDef="typeMessage">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Type de Message
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.typeMessage }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="textMessage">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
           Message
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.textMessage }}</mat-cell>
        </ng-container>

        <!-- Propriétaire colonne -->
        <ng-container matColumnDef="envoer">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Status
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.envoer.statusAppelLoyer==true"
              class="badge badge-success">Envoyé
            </span>
            <span *ngIf="row.envoer==false"
              class="badge badge-danger">Echec de l'envoi
            </span>
          </mat-cell>
        </ng-container>
        <!-- Actions colonne -->
        <ng-container matColumnDef="Actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary">
              <mat-icon>print</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsSms"> </mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsSms"></mat-row>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            Aucune donnée enregistrée {{ input.value }}
          </td>
        </tr>
      </mat-table>
    </div>
  </div>
</div>

