<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Liste des baux</h1>
    </div>
    <div class="col-md-4 text-right">
      <app-boutton-action-baux (bauxEmmitter)="onActionEmmit($event)"></app-boutton-action-baux>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        <h5><i class="fas fa-asterisk blue-color"></i>&nbsp;Filtre</h5>
      </div>
    </div>
    <hr style="margin-top: 0" />
    <div class="row mb-3">
      <div class="col-md-1">
        <label>Bail Actif</label>
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="checkbox" class="form-check-input" name="verificationControleGeneral" />
      </div>
      <div class="col-md-4">
        <label>Commune</label>
        <select id="modele" name="typeClim" class="form-control">
          <option value="0">selectionnez une commune</option>
          <option value="Janvier 2022">Cocody</option>
          <option value="Février 2022">Koumassi</option>
          <option value="Mars 2022">Yopougon</option>
        </select>
      </div>
      <div class="col-md-4">
        <label>Locataire</label>
        <select id="modele" name="typeClim" class="form-control">
          <option value="0">selectionnez un locataire</option>
          <option value="1">Abrogouah Laurent</option>
          <option value="2">Kanlan simplice</option>
        </select>
      </div>
      <div class="col-md-3 mt-4 text-center">
        <button type="button" class="mb-sm btn btn-primary mr-1">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h5><i class="fas fa-asterisk blue-color"></i>&nbsp;Liste des baux</h5>
      </div>
    </div>
    <hr style="margin-top: 0" />
    <ng-container *ngIf="bauxState$ | async as state" [ngSwitch]="state.dataState">
      <ng-container *ngSwitchCase="BauxStateEnum.ERROR">
        <div class="p-2">Erreur : {{ state.errorMessage }}</div>
      </ng-container>
      <ng-container *ngSwitchCase="BauxStateEnum.LOADING">
        <div class="p-2">Chargement des données...</div>
      </ng-container>
      <ng-container *ngSwitchCase="BauxStateEnum.LOADED">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="users">
            <table [dataSource]="state.baux" mat-table multiTemplateDataRows class="mat-elevation-z8">
              <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element">
                  <div *ngIf="column=='Bien immobilier'">
                    {{element.bienImmobilierOperation}}
                  </div>
                  <div *ngIf="column=='Code bail'">
                    {{element.abrvCodeBail}}
                  </div>
                  <div *ngIf="column=='debut'">
                    {{element.dateDebut|date:'dd-MM-yyyy'}}
                  </div>
                  <div *ngIf="column=='fin'">
                    {{element.dateFin|date:'dd-MM-yyyy'}}
                  </div>
                  <div *ngIf="column=='Nombre de mois de Caution'">
                    {{element.nbreMoisCautionBail}}
                  </div>
                  <div *ngIf="column=='Montant Caution'">
                    {{element.montantCautionBail}}
                  </div>

                  <div *ngIf="column=='Bail en cours'">
                    <span *ngIf="element.archiveBail==true">Archivé</span>
                    <span *ngIf="element.archiveBail==false">Actif</span>
                  </div>

                </td>
              </ng-container>

              <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button aria-label="expand row"
                    (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                    <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                  </button>
                </td>
              </ng-container>

              <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                  <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="example-element-diagram">
                      <div class="example-element-position"> {{element.position}} </div>
                      <div class="example-element-symbol"> {{element.symbol}} </div>
                      <div class="example-element-name"> {{element.name}} </div>
                      <div class="example-element-weight"> {{element.weight}} </div>
                    </div>
                    <div class="example-element-description">
                      {{element.description}}
                      <span class="example-element-description-attribution"> -- Wikipedia </span>
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
              <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
          </div>
        </div>
        <!-- main content -->
        <div class="tab-content" id="myTabContent">
          <!-- user table -->
          <div class="tab-pane fade show active" id="users">
            <!--           <table class="table table-hover m-3 p-3">
              <thead class="table-borderless">
                <tr class="text-center mt-3">
                  <th>Code bail</th>
                  <th>Date debut</th>
                  <th>Date fin</th>
                  <th>Bien immobilier</th>
                  <th>Montant loyer</th>
                  <th>Montant caution</th>
                  <th>Bail en cours</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center" *ngFor="let bail of state.baux">
                  <td>{{ bail.id }}</td>
                  <td>{{ bail.dateDebut }}</td>
                  <td>{{ bail.dateFin }}</td>
                  <td>{{ bail.bienImmobilierOperation }}</td>
                  <td>
                    {{ bail.montantCautionBail }}
                  </td>
                  <td>{{ bail.montantCautionBail }}</td>
                  <td>
                    <span *ngIf="bail.archiveBail">Archivé</span>
                    <span *ngIf="!bail.archiveBail">Actif</span>
                  </td>
                  <td class="">
                    <div class="btn-group">
                      <button class="btn btn-outline-info">
                        <i class="fas fa-edit"></i>
                      </button>
                      <button class="btn btn-outline-danger">
                        <i class="fas fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table> -->
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="row mb-3">
    <div class="col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
