<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Liste des baux</h1>
    </div>
    <div class="col-md-4 text-right">
      <app-boutton-action-baux (bauxEmmitter)="onActionEmmit($event)"></app-boutton-action-baux>
    </div>
  </div>
  <div class="col mb-3">
    <div class="row">
      <div class="col">
        <h5><i class="fas fa-asterisk blue-color"></i>&nbsp;Filtre</h5>
      </div>
    </div>
    <hr style="margin-top: 0" />
    <div class="row mb-3">
      <div class="col-md-1">
        <label>Bail Actif</label>
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="checkbox" class="form-check-input" name="verificationControleGeneral" />
      </div>
      <div class="col-md-4">
        <label>Commune</label>
        <select id="modele" name="typeClim" class="form-control">
          <option value="0">selectionnez une commune</option>
          <option value="Janvier 2022">Cocody</option>
          <option value="Février 2022">Koumassi</option>
          <option value="Mars 2022">Yopougon</option>
        </select>
      </div>
      <div class="col-md-4">
        <label>Locataire</label>
        <select id="modele" name="typeClim" class="form-control">
          <option value="0">selectionnez un locataire</option>
          <option value="1">Abrogouah Laurent</option>
          <option value="2">Kanlan simplice</option>
        </select>
      </div>
      <div class="col-md-3 mt-4 text-center">
        <button type="button" class="mb-sm btn btn-primary mr-1">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h5><i class="fas fa-asterisk blue-color"></i>&nbsp;Liste des baux</h5>
      </div>
    </div>
    <hr style="margin-top: 0" />
    <ng-container *ngIf="bauxState$ | async as state" [ngSwitch]="state.dataState">
      <ng-container *ngSwitchCase="BauxStateEnum.ERROR">
        <div class="p-2">Une erreur est survenue.</div>
      </ng-container>
      <ng-container *ngSwitchCase="BauxStateEnum.LOADING">
        <mat-spinner></mat-spinner>
      </ng-container>
      <ng-container *ngSwitchCase="BauxStateEnum.LOADED">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="users">
            <table [dataSource]="state.baux" mat-table multiTemplateDataRows class="mat-elevation-z8 ">
              <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button aria-label="expand row"
                    (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation();chargerAppels(element.id)">
                    <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                  </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <th mat-header-cell *matHeaderCellDef class="text-center thick"> {{column}} </th>
                <td mat-cell *matCellDef="let element" (click)="chargerAppels(element.id)" class="th-class">
                  <!-- <div *ngIf="column=='Bien immobilier'">
                    {{element.bienImmobilierOperation}}
                  </div> -->
                  <div *ngIf="column=='Code bail'">
                    {{element.utilisateurOperation}} / {{element.bienImmobilierOperation}}
                  </div>
                  <div *ngIf="column=='debut'">
                    {{element.dateDebut|date:'dd-MM-yyyy'}}
                  </div>
                  <div *ngIf="column=='fin'">
                    {{element.dateFin|date:'dd-MM-yyyy'}}
                  </div>
                  <div *ngIf="column=='Locataire'" class="text-primary">
                    <mat-icon>person</mat-icon> {{element.utilisateurOperation}}
                  </div>
                  <div *ngIf="column=='Montant Caution'">
                    {{element.montantCautionBail}}
                  </div>

                  <div *ngIf="column=='Bail en cours'">
                    <span *ngIf="element.enCoursBail==false" style='color: red'>
                      <mat-icon>lock</mat-icon>
                    </span>

                    <span *ngIf="element.enCoursBail==true">
                      <i class="fas fa-check-circle" aria-hidden="true" style='color: green'></i>
                    </span>
                  </div>

                  <div *ngIf="column=='Actions'">
                    <section>
                      <div class="example-button-row text-center">
                        <button mat-raised-button color="primary" class="mr-2"
                          (click)="onDetailClick(state.baux);(expandedElement  === element ? null : element); $event.stopPropagation();chargerAppels(element.id)">Detail</button>
                        <button mat-raised-button color="accent" class="mr-2"
                          (click)="onModifClick(state.baux);(expandedElement  === element ? null : element); $event.stopPropagation();chargerAppels(element.id)">Modication</button>
                        <button mat-raised-button color="primary" class="mr-2"
                          (click)="onClotureBail(element.id,element.abrvCodeBail);(expandedElement  === element ? null : element); $event.stopPropagation();chargerAppels(element.id)">Cloture</button>
                        <button mat-raised-button color="warn"
                          (click)="onDeleteClick(state.baux);(expandedElement  === element ? null : element); $event.stopPropagation();chargerAppels(element.id);openModifMontantDialog(element.id)">Modifier
                          montant loyer</button>
                      </div>
                    </section>
                  </div>

                </td>
              </ng-container>


              <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                  <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="card-body">
                      <ng-container *ngIf="appelloyerState$ | async as stateAppel" [ngSwitch]="stateAppel.dataState">
                        <ng-container *ngSwitchCase="AppelLoyerStateEnum.LOADING">
                          <mat-spinner></mat-spinner>
                        </ng-container>
                        <ng-container *ngSwitchCase="AppelLoyerStateEnum.ERROR">
                          Une erreur est survenue. Veuillez consulter l'administrateur
                        </ng-container>
                        <ng-container *ngSwitchCase="AppelLoyerStateEnum.LOADED">

                          <app-app-detail-bail-loyer [appelLoyerDto]="stateAppel.appelloyers">
                          </app-app-detail-bail-loyer>
                        </ng-container>
                      </ng-container>
                    </div>

                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
              <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
          </div>
        </div>
        <!-- main content -->
        <div class="tab-content" id="myTabContent">
          <!-- user table -->
          <div class="tab-pane fade show active" id="users">

          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="row mb-3">
    <div class="col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>