<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Liste des baux</h1>
    </div>
    <div class="col-md-4 text-right">
      <app-boutton-action-baux
        (bauxEmmitter)="onActionEmmit($event)"
      ></app-boutton-action-baux>
    </div>
  </div>
  <div class="col mb-3">

    <div class="row">
      <div class="col">
        <h5><i class="fas fa-asterisk blue-color"></i>&nbsp;Liste des baux</h5>
      </div>
    </div>
    <hr style="margin-top: 0" />
    <ng-container
      *ngIf="bauxState$ | async as state"
      [ngSwitch]="state.dataState"
    >
      <ng-container *ngSwitchCase="BauxStateEnum.ERROR">
        <div class="p-2">Une erreur est survenue.</div>
      </ng-container>
      <ng-container *ngSwitchCase="BauxStateEnum.LOADING">
        <mat-spinner></mat-spinner>
      </ng-container>
      <ng-container *ngSwitchCase="BauxStateEnum.LOADED">
        <div>
          <mat-form-field>
            <input
              matInput
              (keyup)="applyFilter($event)"
              #input
              placeholder="Rechercher un Bail"
            />
          </mat-form-field>
          <mat-paginator
            #matbaux
            showFirstLastButtons
            [pageSizeOptions]="pageSize"
            aria-label="Select page of users"
          ></mat-paginator>
        </div>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="users">
            <table
              [dataSource]="dataSource"
              mat-table
              multiTemplateDataRows
              class="mat-elevation-z8"
              matSort
              #sorted="matSort"
            >
              <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">
                  &nbsp;
                </th>
                <td mat-cell *matCellDef="let element">
                  <button
                    mat-icon-button
                    aria-label="expand row"
                    (click)="
                      expandedElement =
                        expandedElement === element ? null : element;
                      $event.stopPropagation();
                      chargerAppels(element.id)
                    "
                  >
                    <mat-icon *ngIf="expandedElement !== element"
                      >keyboard_arrow_down</mat-icon
                    >
                    <mat-icon *ngIf="expandedElement === element"
                      >keyboard_arrow_up</mat-icon
                    >
                  </button>
                </td>
              </ng-container>
              <ng-container
                matColumnDef="{{ column }}"
                *ngFor="let column of columnsToDisplay"
              >
                <th mat-header-cell *matHeaderCellDef class="text-center thick">
                  {{ column }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="chargerAppels(element.id)"
                  class="th-class"
                  mat-sort-header
                >
                  <div *ngIf="column == 'bail'">
                    {{ element.utilisateurOperation }} /
                    {{ element.codeAbrvBienImmobilier }}
                  </div>
                  <div *ngIf="column == 'debut'">
                    {{ element.dateDebut | date: "dd-MM-yyyy" }}
                  </div>
                  <div *ngIf="column == 'fin'">
                    {{ element.dateFin | date: "dd-MM-yyyy" }}
                  </div>
                  <div *ngIf="column == 'Locataire'" class="text-primary">
                    <mat-icon>person</mat-icon>
                    {{ element.utilisateurOperation }}
                  </div>
                  <!-- <div *ngIf="column == 'Loyer'">
                    <div *ngIf="element.nbreMoisCautionBail > 0">
                      {{
                        element.nouveauMontantLoyer
                      }}
                    </div>
                  </div> -->

                  <div *ngIf="column == 'Bail en cours'">
                    <span
                      *ngIf="element.enCoursBail == false"
                      style="color: red"
                    >
                      <mat-icon>lock</mat-icon>
                    </span>

                    <span *ngIf="element.enCoursBail == true">
                      <i
                        class="fas fa-check-circle"
                        aria-hidden="true"
                        style="color: green"
                      ></i>
                    </span>
                  </div>

                  <div *ngIf="column == 'Actions'">
                    <section>
                      <div class="example-button-row text-center">
                        <button
                          mat-icon-button
                          color="primary"
                          class="mr-2"
                          (click)="
                            onDetailClick(state.baux);
                            (expandedElement === element ? null : element);
                            $event.stopPropagation();
                            chargerAppels(element.id)
                          "
                        >
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button
                          mat-icon-button
                          color="warn"
                          class="mr-2"
                          (click)="
                            onDeleteBail(
                              element.id,
                              element.utilisateurOperation +
                                ' / ' +
                                element.codeAbrvBienImmobilier
                            );
                            (expandedElement === element ? null : element);
                            $event.stopPropagation();
                            chargerAppels(element.id)
                          "
                        >
                          <mat-icon>delete</mat-icon>
                        </button>
                        <button
                          mat-icon-button
                          color="info"
                          (click)="
                            (expandedElement === element ? null : element);
                            $event.stopPropagation();
                            chargerAppels(element.id);
                            openModifMontantDialog(element)
                          "
                        >
                          <mat-icon>attach_money</mat-icon>
                        </button>
                        <button
                          mat-icon-button
                          matTooltip="Clôturer le bail"

                          color="warn"
                          class="mr-2"
                          (click)="
                            onClotureClick(
                              element.id,
                              element.utilisateurOperation +
                                ' / ' +
                                element.codeAbrvBienImmobilier,
                                element.enCoursBail);
                            (expandedElement === element ? null : element);
                            $event.stopPropagation();
                            chargerAppels(element.id)
                          "
                        >
                          <mat-icon> no_meeting_room</mat-icon>
                        </button>
                      </div>
                    </section>
                  </div>
                </td>
              </ng-container>

              <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
              <ng-container matColumnDef="expandedDetail">
                <td
                  mat-cell
                  *matCellDef="let element"
                  [attr.colspan]="columnsToDisplayWithExpand.length"
                >
                  <div
                    class="example-element-detail"
                    [@detailExpand]="
                      element == expandedElement ? 'expanded' : 'collapsed'
                    "
                  >
                    <div class="card-body">
                      <ng-container
                        *ngIf="appelloyerState$ | async as stateAppel"
                        [ngSwitch]="stateAppel.dataState"
                      >
                        <ng-container
                          *ngSwitchCase="AppelLoyerStateEnum.LOADING"
                        >
                          <mat-spinner></mat-spinner>
                        </ng-container>
                        <ng-container *ngSwitchCase="AppelLoyerStateEnum.ERROR">
                          Une erreur est survenue. Veuillez consulter
                          l'administrateur
                        </ng-container>
                        <ng-container
                          *ngSwitchCase="AppelLoyerStateEnum.LOADED"
                        >
                          <app-app-detail-bail-loyer
                            [appelLoyerDto]="stateAppel.appelloyers"
                          >
                          </app-app-detail-bail-loyer>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="columnsToDisplayWithExpand"
              ></tr>
              <tr
                mat-row
                *matRowDef="let element; columns: columnsToDisplayWithExpand"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="
                  expandedElement = expandedElement === element ? null : element
                "
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: ['expandedDetail']"
                class="example-detail-row"
              ></tr>
            </table>
          </div>
        </div>
        <!-- main content -->
        <div class="tab-content" id="myTabContent">
          <!-- user table -->
          <div class="tab-pane fade show active" id="users"></div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
