<form *ngIf="formGroup" [formGroup]="formGroup" >
  <mat-label>Bail : {{v_bien}}</mat-label>
  <div class="row gx-3 mb-3">
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Date de prise en compte des changements</mat-label>
        <input formControlName="dateDePriseEncompte" matInput [matDatepicker]="picker3" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker3"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Nouveau montant loyer</mat-label>
        <input formControlName="nouveauMontantLoyer" type="text" matInput />
        <mat-error>Ce champ est obligatoire.</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row gx-3 mb-3">
    <!-- Form Group (organization name)-->
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Nombre de mois de caution</mat-label>
        <input
          formControlName="nombreMoisCaution"
          type="number"
          matInput
        />
        <mat-error>Ce champ est obligatoire.</mat-error>
      </mat-form-field>
    </div>
    <!-- Form Group (location)-->
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Ancien Loyer</mat-label>
        <input formControlName="ancienMontantLoyer" type="number" matInput />
        <mat-error>Ce champ est obligatoire.</mat-error>
      </mat-form-field>
    </div>
  </div>

  <!-- Form Row-->
  <div class="row gx-3 mb-3">
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Début du Bail</mat-label>
        <input formControlName="dateDebuBail" matInput [matDatepicker]="pickerdate" />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerdate"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerdate></mat-datepicker>
      </mat-form-field>
    </div>
     <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Fin du Bail</mat-label>
        <input formControlName="dateFin" matInput [matDatepicker]="picker4" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker4"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker4></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <button mat-raised-button color="primary" (click)="onSaveForm()">
    <mat-icon>save</mat-icon>
    Valider
  </button>
</form>
