<div class="container-xl px-4 mt-4">
  <!-- Account page navigation-->

  <hr class="mt-0 mb-4" />
  <div class="row">
    <div class="col-xl-3">
      <!-- Profile picture card-->
      <div class="card mb-3 mb-xl-0">
        <div class="card-header">Image d'illustration</div>
        <div class="card-body text-center">
          <!-- Profile picture image-->
          <img
            class="img-account-profile rounded-circle mb-2"
            src="assets/contrat.jpg"
            width="120px"
            height="120px"
            alt="contrat"
          />
        </div>
      </div>
    </div>
    <div class="col-xl-9">
      <!-- Account details card-->
      <div class="card mb-3">
        <div class="card-header">Account Details</div>
        <div class="card-body">
          <form *ngIf="formGroup" [formGroup]="formGroup">
            <div class="mb-2">

              <mat-form-field appearance="outline">
                <mat-label>Type de Contrat*</mat-label>
                <mat-select formControlName="idTypeContrat" placeholder="Type de biens" [(ngModel)]="ngSelectTypeContrat"
                  name="idTypeContrat">
                  <mat-option [value]="20000">Sélectionnez un type de contrat</mat-option>
                  <mat-option [value]="biens" *ngFor="let biens of listTypeContrat">{{ biens }}</mat-option>
                </mat-select>
                <mat-error>Ce champ est obligatoire.</mat-error>
              </mat-form-field>
            </div>
          </form>
          <!-- FORM BAIL VILLA -->
          <form
            *ngIf="bailvillaForm && ngSelectTypeContrat == 'Bail Villa'"
            [formGroup]="bailvillaForm"
          >
            <!-- Form Group (username)-->
            <div class="mb-2">
              <!-- <label class="small mb-1" for="inputUsername">Locataire</label> -->
              <ng-container
                *ngIf="utilisateurState$ | async as state"
                [ngSwitch]="state.dataState"
              >
                <ng-container *ngSwitchCase="UtilisteurStateEnum.INITIAL">
                  <mat-spinner></mat-spinner>
                </ng-container>
                <ng-container *ngSwitchCase="UtilisteurStateEnum.ERROR">
                  <div class="p-2 invalid-feedback">
                    Une erreur est survenue
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="UtilisteurStateEnum.LOADED">
                  <div class="form-group">

                    <mat-form-field appearance="outline">
                      <mat-label>Locataire*</mat-label>
                      <mat-select formControlName="idLocataire" placeholder="Type de biens"
                      >
                        <mat-option [value]="0">Sélection un Locataire</mat-option>
                        <mat-option [value]="utilis.id" *ngFor="let utilis of state.utilisateurs">{{ utilis.nom }} {{ utilis.prenom }}</mat-option>
                      </mat-select>
                      <mat-error>Ce champ est obligatoire.</mat-error>
                    </mat-form-field>

                  </div>
                </ng-container>
              </ng-container>
            </div>
            <div class="mb-2">
              <!-- <div class="col-sm-9"> -->
                <ng-container
                  *ngIf="villaState$ | async as state"
                  [ngSwitch]="state.dataState"
                >
                  <ng-container *ngSwitchCase="VillaStateEnum.INITIAL">
                    <mat-spinner> </mat-spinner>
                  </ng-container>
                  <ng-container *ngSwitchCase="VillaStateEnum.ERROR">
                    <div class="p-2 invalid-feedback">
                      Une erreur est survenue
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="VillaStateEnum.LOADED">
                    <!-- <label class="big mb-6" for="inputUsername"
                      >Choisir la Villa</label
                    > -->
                   <div class="mb-2">
                       <!-- <select
                        [ngClass]="{
                          'is-invalid':
                            submitted &&
                            (bailvillaForm.controls.idVilla.errors ||
                              bailvillaForm.controls['idVilla'].value == '')
                        }"
                        formControlName="idVilla"
                        name="idVilla"
                        class="form-control"
                      >
                        <option
                          [value]="villa.id"
                          *ngFor="let villa of state.villas"
                        >
                          {{ villa.codeAbrvBienImmobilier }}
                        </option>
                      </select>
                      <div
                        *ngIf="
                          submitted && bailvillaForm.controls.idVilla.errors
                        "
                        class="invalid-feedback"
                      >
                        <div
                          *ngIf="bailvillaForm.controls.idVilla.errors.required"
                        >
                          *Champ obligatoire
                        </div>
                      </div>-->

                    <mat-form-field appearance="outline">
                      <mat-label>Choisir la Villa*</mat-label>
                      <mat-select formControlName="idVilla" placeholder="Villa"
                      >
                        <mat-option [value]="0">Sélection un villa</mat-option>
                        <mat-option [value]="villa.id" *ngFor="let villa of state.villas">{{ villa.codeAbrvBienImmobilier }}</mat-option>
                      </mat-select>
                      <mat-error>Ce champ est obligatoire.</mat-error>
                    </mat-form-field>
                  </div>
                  </ng-container>
                </ng-container>
              <!-- </div> -->
            </div>
            <!-- Form Row-->
            <div class="row gx-3 mb-2">
              <!-- Form Group (first name)-->
              <div class="col-md-6">

                <mat-form-field appearance="outline">
                  <mat-label>Désignation*</mat-label>
                  <input formControlName="designationBail" type="text" matInput placeholder="Désignation*">
                  <mat-error>Ce champ est obligatoire.</mat-error>
                </mat-form-field>

              </div>
              <!-- Form Group (last name)-->
              <div class="col-md-6">

                <mat-form-field appearance="outline">
                  <mat-label>Loyer*</mat-label>
                  <input formControlName="nouveauMontantLoyer"
                  type="number" matInput placeholder="Loyer*"
                  [(ngModel)]="montantLoyerVil"
                  (ngModelChange)="calculMontantCautionVil()">

                  <mat-error>Ce champ est obligatoire.</mat-error>
                </mat-form-field>
              </div>
            </div>
            <!-- Form Row        -->
            <div class="row gx-3 mb-2">
              <!-- Form Group (organization name)-->
              <div class="col-md-6">
                <!-- <label class="small mb-1" for="inputOrgName"
                  >Nombre de mois de caution</label
                >
                <input
                  formControlName="nbreMoisCautionBail"
                  class="form-control"
                  [(ngModel)]="nombreMoisCautionVil"
                  (ngModelChange)="calculMontantCautionVil()"
                  type="number"
                /> -->
                <mat-form-field appearance="outline">
                  <mat-label>Nombre de mois de caution*</mat-label>
                  <input formControlName="nbreMoisCautionBail" type="number" matInput
                  [(ngModel)]="nombreMoisCautionVil"
                  (ngModelChange)="calculMontantCautionVil()">
                  <mat-error>Ce champ est obligatoire.</mat-error>
                </mat-form-field>
              </div>
              <!-- Form Group (location)-->
              <div class="col-md-6">
                <!-- <label class="small mb-1" for="inputLocation"
                  >Montant caution</label
                >
                <input
                  formControlName="montantCautionBail"
                  class="form-control"
                  [(ngModel)]="montantCautionVil"

                  type="number"
                /> -->
                <mat-form-field appearance="outline">
                  <mat-label>Montant caution*</mat-label>
                  <input formControlName="montantCautionBail"
                  type="number" matInput placeholder="Montant cautionn*"
                  [(ngModel)]="montantCautionVil">
                  <mat-error>Ce champ est obligatoire.</mat-error>
                </mat-form-field>
              </div>
            </div>

            <!-- Form Row-->
            <div class="row gx-3 mb-2">
              <!-- Form Group (phone number)-->
              <div class="col-md-6">
                <!-- <label class="small mb-1" for="inputPhone"
                  >Début du contrat</label
                >
                <input
                  [ngClass]="{
                    'is-invalid':
                      submitted && bailvillaForm.controls.dateDebut.errors
                  }"
                  class="form-control"
                  id="dateDebut"
                  type="date"
                  formControlName="dateDebut"
                /> -->
                <mat-form-field appearance="outline">
                  <mat-label>Début du contrat</mat-label>
                  <input formControlName="dateDebut" matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <!-- <div
                  *ngIf="submitted && bailvillaForm.controls.dateDebut.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="bailvillaForm.controls.dateDebut.errors.required">
                    *Champ obligatoire
                  </div>
                </div> -->
              </div>
              <!-- Form Group (birthday)-->
              <div class="col-md-6">
                <!-- <label class="small mb-1" for="inputBirthday"
                  >Date de fin</label
                >
                <input
                  [ngClass]="{
                    'is-invalid':
                      submitted && bailvillaForm.controls.dateFin.errors
                  }"
                  formControlName="dateFin"
                  class="form-control"
                  id="inputBirthday"
                  type="date"
                  name="birthday"
                /> -->
                <mat-form-field appearance="outline">
                  <mat-label>Date de fin</mat-label>
                  <input formControlName="dateFin" matInput [matDatepicker]="picker1">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <!-- <div
                  *ngIf="submitted && bailvillaForm.controls.dateFin.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="bailvillaForm.controls.dateFin.errors.required">
                    *Champ obligatoire
                  </div>
                </div> -->
              </div>
            </div>
            <!-- Save changes button-->
            <!-- <button
              class="btn btn-primary"
              type="button"
              (click)="onSaveBailVilla()"
            >
              Valider
            </button> -->
            <button  mat-raised-button color="primary" (click)="onSaveBailVilla()" [disabled]="bailvillaForm.invalid">
              <mat-icon>save</mat-icon>
              Valider
            </button>
          </form>
          <!-- FORM BAIL MAGASIN -->
          <form
            *ngIf="bailMagainForm && ngSelectTypeContrat == 'Bail Magasin'"
            [formGroup]="bailMagainForm"
          >
            <!-- Form Group (username)-->
            <div class="mb-3">
              <!-- <label class="small mb-1" for="inputUsername">Locataires</label> -->
              <ng-container
                *ngIf="utilisateurState$ | async as state"
                [ngSwitch]="state.dataState"
              >
                <ng-container *ngSwitchCase="UtilisteurStateEnum.INITIAL">
                  <mat-spinner> </mat-spinner>
                </ng-container>
                <ng-container *ngSwitchCase="UtilisteurStateEnum.ERROR">
                  <div class="p-2 invalid-feedback">
                    Une erreur est survenue
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="UtilisteurStateEnum.LOADED">
                  <div class="form-group">

                    <mat-form-field appearance="outline">
                      <mat-label>Locataire*</mat-label>
                      <mat-select formControlName="idLocataire" placeholder="locataires"
                      >
                        <mat-option [value]="0">Sélection un Locataire</mat-option>
                        <mat-option [value]="utilis.id" *ngFor="let utilis of state.utilisateurs">{{ utilis.nom }} {{ utilis.prenom }}</mat-option>
                      </mat-select>
                      <mat-error>Ce champ est obligatoire.</mat-error>
                    </mat-form-field>
                  </div>
                </ng-container>
              </ng-container>
            </div>
            <!-- <div class="form-group"> -->
              <div class="mb-3">
                <ng-container
                  *ngIf="magasinState$ | async as stateMagasin"
                  [ngSwitch]="stateMagasin.dataState"
                >
                  <ng-container *ngSwitchCase="MagasinStateEnum.INITIAL">
                    <mat-spinner> </mat-spinner>
                  </ng-container>
                  <ng-container *ngSwitchCase="MagasinStateEnum.ERROR">
                    <div class="p-2 invalid-feedback">
                      Une erreur est survenue.
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="MagasinStateEnum.LOADED">

                    <!-- <div class="form-group"> -->

                      <mat-form-field appearance="outline">
                      <mat-label>Magasin*</mat-label>
                      <mat-select formControlName="idMagasin" placeholder="Magasins"
                      >
                        <mat-option [value]="0">Sélectionnez un magasin</mat-option>
                        <mat-option *ngFor="let maga of stateMagasin.magasins"
                        [value]="maga.id">{{ maga.codeAbrvBienImmobilier }}</mat-option>
                      </mat-select>
                      <mat-error>Ce champ est obligatoire.</mat-error>
                    </mat-form-field>
                    <!-- </div> -->
                  </ng-container>
                </ng-container>
              </div>
            <!-- </div> -->
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (first name)-->
              <div class="col-md-6">

                <mat-form-field appearance="outline">
                  <mat-label>Désignation*</mat-label>
                  <input formControlName="designationBail" type="text" matInput placeholder="Désignation*">
                  <mat-error>Ce champ est obligatoire.</mat-error>
                </mat-form-field>
              </div>
              <!-- Form Group (last name)-->
              <div class="col-md-6">

                <mat-form-field appearance="outline">
                  <mat-label>Loyer*</mat-label>
                  <input formControlName="nouveauMontantLoyer" type="number" matInput placeholder="Loyer*"
                  [(ngModel)]="montantLoyerMag"
                  (ngModelChange)="calculMontantCautionMag()">
                  <mat-error>Ce champ est obligatoire.</mat-error>
                </mat-form-field>
              </div>
            </div>
            <!-- Form Row        -->
            <div class="row gx-3 mb-3">
              <!-- Form Group (organization name)-->
              <div class="col-md-6">

                <mat-form-field appearance="outline">
                  <mat-label>Nombre de mois de caution*</mat-label>
                  <input formControlName="nbreMoisCautionBail"
                  type="number" matInput placeholder="Loyer*"
                  [(ngModel)]="nombreMoisCautionMag"
                  (ngModelChange)="calculMontantCautionMag()">
                  <mat-error>Ce champ est obligatoire.</mat-error>
                </mat-form-field>
              </div>
              <!-- Form Group (location)-->
              <div class="col-md-6">

                <mat-form-field appearance="outline">
                  <mat-label>Montant caution*</mat-label>
                  <input formControlName="montantCautionBail"
                  type="number" matInput
                  [(ngModel)]="montantCautionMag"
                  >
                  <mat-error>Ce champ est obligatoire.</mat-error>
                </mat-form-field>
              </div>
            </div>

            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (phone number)-->
              <div class="col-md-6">

                <mat-form-field appearance="outline">
                  <mat-label>Date de début</mat-label>
                  <input formControlName="dateDebut" matInput [matDatepicker]="picker3">
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
              </div>
              <!-- Form Group (birthday)-->
              <div class="col-md-6">

                <mat-form-field appearance="outline">
                  <mat-label>Date de fin</mat-label>
                  <input formControlName="dateFin" matInput [matDatepicker]="picker4">
                  <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                  <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <button  mat-raised-button color="primary" (click)="onSaveBailMagasin()" [disabled]="bailMagainForm.invalid">
              <mat-icon>save</mat-icon>
              Valider
            </button>
          </form>
          <!-- FORM BAIL APPARTEMENT -->
          <form
            *ngIf="
              bailAppartementForm && ngSelectTypeContrat == 'Bail Appartement'
            "
            [formGroup]="bailAppartementForm"
          >
            <!-- Form Group (username)-->
            <div class="mb-3">
              <!-- <label class="small mb-1" for="inputUsername">Locataire</label> -->
              <ng-container
                *ngIf="utilisateurState$ | async as state"
                [ngSwitch]="state.dataState"
              >
                <ng-container *ngSwitchCase="UtilisteurStateEnum.INITIAL">
                  <mat-spinner> </mat-spinner>
                </ng-container>
                <ng-container *ngSwitchCase="UtilisteurStateEnum.ERROR">
                  <div class="p-2 invalid-feedback">
                    Une erreur est survenue.
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="UtilisteurStateEnum.LOADED">
                  <div
                    class="form-group"
                    *ngIf="state.utilisateurs.length != 0"
                  >

                    <mat-form-field appearance="outline">
                      <mat-label>Locataire*</mat-label>
                      <mat-select formControlName="idLocataire" placeholder="locataires"
                      >
                        <mat-option [value]="0">Sélection un Locataire</mat-option>
                        <mat-option [value]="utilis.id" *ngFor="let utilis of state.utilisateurs">
                          {{ utilis.nom }} {{ utilis.prenom }}
                        </mat-option>
                      </mat-select>
                      <mat-error>Ce champ est obligatoire.</mat-error>
                    </mat-form-field>
                  </div>

                </ng-container>
              </ng-container>
            </div>
            <div class="mb-2">
              <!-- <div class="col-sm-9"> -->
                <ng-container
                  *ngIf="appartementState$ | async as state"
                  [ngSwitch]="state.dataState"
                >
                  <ng-container *ngSwitchCase="AppartementStateEnum.INITIAL">
                    <mat-spinner> </mat-spinner>
                  </ng-container>
                  <ng-container *ngSwitchCase="AppartementStateEnum.ERROR">
                    <div class="p-2 invalid-feedback">
                      Une erreur est survenue.
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="AppartementStateEnum.LOADED">
                    <div *ngIf="state.appartements.length == 0">
                      Aucun appartement libre ou créer
                    </div>
                    <div *ngIf="state.appartements.length != 0">
                      <!-- <label class="big mb-6" for="inputUsername"
                        >Choisir un appartement</label
                      > -->
                      Aucun appartement libre ou créer
                      <!-- <div class="form-group"> -->

                        <mat-form-field appearance="outline">
                          <mat-label>Appartement*</mat-label>
                          <mat-select formControlName="idAppartement" placeholder="Appartement"
                          >
                            <mat-option [value]="0">Sélection un appartement</mat-option>
                            <mat-option [value]="appar.id"
                            *ngFor="let appar of state.appartements">
                            {{ appar.codeAbrvBienImmobilier }}
                            </mat-option>
                          </mat-select>
                          <mat-error>Ce champ est obligatoire.</mat-error>
                        </mat-form-field>

                      <!-- </div> -->
                    </div>
                  </ng-container>
                </ng-container>
              <!-- </div> -->
            </div>
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (first name)-->
              <div class="col-md-6">

                <mat-form-field appearance="outline">
                  <mat-label>Désignation*</mat-label>
                  <input formControlName="designationBail" type="text" matInput placeholder="Désignation*">
                  <mat-error>Ce champ est obligatoire.</mat-error>
                </mat-form-field>
              </div>
              <!-- Form Group (last name)-->
              <div class="col-md-6">

                <mat-form-field appearance="outline">
                  <mat-label>Loyer*</mat-label>
                  <input formControlName="nouveauMontantLoyer" type="number" matInput placeholder="Loyer*"
                  [(ngModel)]="montantLoyerApp"
                  (ngModelChange)="calculMontantCautionApp()">
                  <mat-error>Ce champ est obligatoire.</mat-error>
                </mat-form-field>
              </div>
            </div>
            <!-- Form Row        -->
            <div class="row gx-3 mb-3">
              <!-- Form Group (organization name)-->
              <div class="col-md-6">

                <mat-form-field appearance="outline">
                  <mat-label>Nombre de mois de caution</mat-label>
                  <input formControlName="nbreMoisCautionBail" type="number" matInput placeholder="caution*"
                  [(ngModel)]="nombreMoisCautionApp"
                  (ngModelChange)="calculMontantCautionApp()">
                  <mat-error>Ce champ est obligatoire.</mat-error>
                </mat-form-field>
              </div>
              <!-- Form Group (location)-->
              <div class="col-md-6">
                <!-- <label class="small mb-1" for="inputLocation"
                  >Montant caution</label
                >
                <input
                [(ngModel)]="montantCautionApp"
                  formControlName="montantCautionBail"
                  class="form-control"
                  type="number"
                /> -->
                <mat-form-field appearance="outline">
                  <mat-label>Montant caution</mat-label>
                  <input formControlName="montantCautionBail" type="number" matInput placeholder="caution*"
                  [(ngModel)]="montantCautionApp"
                  >
                  <mat-error>Ce champ est obligatoire.</mat-error>
                </mat-form-field>
              </div>
            </div>

            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (phone number)-->
              <div class="col-md-6">

                <mat-form-field appearance="outline">
                  <mat-label>Date de début</mat-label>
                  <input formControlName="dateDebut" matInput [matDatepicker]="picker5">
                  <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                  <mat-datepicker #picker5></mat-datepicker>
                </mat-form-field>
              </div>
              <!-- Form Group (birthday)-->
              <div class="col-md-6">

                <mat-form-field appearance="outline">
                  <mat-label>Date de début</mat-label>
                  <input formControlName="dateFin" matInput [matDatepicker]="picker6">
                  <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                  <mat-datepicker #picker6></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <!-- Save changes button-->
            <!-- <button
              class="btn btn-primary"
              type="button"
              (click)="onSaveBailAppartement()"
            >
              Valider
            </button> -->
            <button  mat-raised-button color="primary"
            (click)="onSaveBailAppartement()"
            [disabled]="bailAppartementForm.invalid">
              <mat-icon>save</mat-icon>
              Valider
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
