<div class="container-xl px-4 mt-4">
  <!-- Account page navigation-->

  <hr class="mt-0 mb-4" />
  <div class="row">
    <div class="col-md-4">
      <!-- Profile picture card-->
      <div class="card mb-4 mb-xl-0">
        <div class="card-header">Image d'illustration</div>
        <div class="card-body text-center">
          <!-- Profile picture image-->
          <img class="img-account-profile rounded-circle mb-2" src="assets/bien-immobilier.png" width="120px"
            height="120px" alt="" />
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <!-- Account details card-->
      <div class="card mb-4">
        <div class="card-header">Informations sur le Bien Immobilier</div>
        <div class="card-body">
          <form *ngIf="formGroup" [formGroup]="formGroup">
            <div class="mb-3">
              <label>Type de biens</label>
              <select class="form-control" [(ngModel)]="ngselecttypeBien" formControlName="idTypeBien" name="idTypeBien"
                id="idTypeBien">
                <option [value]="20000">Sélection un Type de Bien</option>
                <option [value]="biens" *ngFor="let biens of listTypeBiens">
                  {{ biens }}
                </option>
              </select>
            </div>
            <ng-container [ngSwitch]="ngselecttypeBien">
              <ng-container *ngSwitchCase="listTypeBiens[0]">
                <div class="p-2">Appartement</div>
              </ng-container>

              <ng-container *ngSwitchCase="listTypeBiens[1]">
                <div class="p-2">Etage</div>
              </ng-container>

              <ng-container *ngSwitchCase="listTypeBiens[2]">
                <div class="p-2">Immeuble</div>
              </ng-container>

              <ng-container *ngSwitchCase="listTypeBiens[3]">
                <div class="p-2">Magasin</div>
              </ng-container>

              <ng-container *ngSwitchCase="listTypeBiens[4]">
                <div class="p-2">Studio</div>
              </ng-container>
              <ng-container *ngSwitchCase="listTypeBiens[5]">
                <div class="p-2">Villa</div>
              </ng-container>
            </ng-container>
          </form>
          <!-- FORM POUR IMMEUBLE -->
          <form *ngIf="immeubleForm && ngselecttypeBien == 'Immeuble'" [formGroup]="immeubleForm">
            <div class="mb-3">
              <ng-container *ngIf="utilisateurState$ | async as state" [ngSwitch]="state.dataState">
                <ng-container *ngSwitchCase="UtilisteurStateEnum.INITIAL">
                  <div class="p-2">Initialisation des données</div>
                </ng-container>
                <ng-container *ngSwitchCase="UtilisteurStateEnum.ERROR">
                  <div class="p-2">
                    Une erreur est survenue : {{ state.errorMessage }}
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="UtilisteurStateEnum.LOADED">
                  <label class="small mb-1" for="inputUsername">Propriétaire</label>
                  <div class="form-group">
                    <select formControlName="idUtilisateur" name="idUtilisateur" id="username" class="form-control">
                      <option [value]="0">Sélection un Propriétaire</option>
                      <option [value]="utilis.id" *ngFor="let utilis of state.utlisisateurs">
                        {{ utilis.nom }} {{ utilis.prenom }}
                      </option>
                    </select>
                  </div>
                </ng-container>
              </ng-container>
            </div>
            <div class="mb-3">
              <ng-container *ngIf="siteState$ | async as state" [ngSwitch]="state.dataState">
                <ng-container *ngSwitchCase="SiteStateEnum.INITIAL">
                  <div class="p-2">Initialisation des données</div>
                </ng-container>
                <ng-container *ngSwitchCase="SiteStateEnum.ERROR">
                  <div class="p-2">
                    Une Erreur est survenue : {{ state.errorMessage }}
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="SiteStateEnum.LOADED">
                  <label class="small mb-1" for="inputUsername">Site</label>
                  <div class="form-group">
                    <select formControlName="idSite" name="idSite" class="form-control">
                      <option [value]="0">Sélection un Site</option>
                      <option [value]="sit.id" *ngFor="let sit of state.sites">
                        {{ sit.abrSite }}
                      </option>
                    </select>
                  </div>
                </ng-container>
              </ng-container>
            </div>

            <div class="row gx-3 mb-3">
              <!-- Form Group (organization name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputOrgName">Désignation</label>
                <input formControlName="nomBien" class="form-control" name="nomBien" type="text"
                  placeholder="Saisir le nom du Studio" value="Start Bootstrap" />
              </div>
              <!-- Form Group (location)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Statut</label>
                <input formControlName="statutBien" class="form-control" name="inputLocation" type="text" />
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputOrgName">Description</label>
                <input formControlName="descriptionImmeuble" class="form-control" name="descriptionImmeuble"
                  type="text" />
              </div>
              <!-- Form Group (location)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Nombre d'étage</label>
                <input formControlName="nbrEtage" class="form-control" type="number" />
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Nombre de pièces</label>
                <input formControlName="nbrePieceImmeuble" class="form-control" name="nbrePieceImmeuble"
                  type="number" />
              </div>
              <div>
                <div class="form-check form-check-inline">
                  <input mdbCheckbox class="form-check-input" type="checkbox" id="occupied"
                    formControlName="occupied" />
                  <label class="form-check-label" for="inlineCheckbox1">Occupé</label>
                </div>
                <div class="form-check form-check-inline">
                  <input mdbCheckbox class="form-check-input" type="checkbox" name="garrage"
                    formControlName="garrage" />
                  <label class="form-check-label" for="inlineCheckbox2">Avec garage</label>
                </div>
              </div>
            </div>
            <button class="btn btn-primary" type="button" (click)="onSaveImmeuble()">
              Valider
            </button>
          </form>
          <!-- FORM POUR VILLA -->
          <form *ngIf="villaForm && ngselecttypeBien == 'Villa'" [formGroup]="villaForm">
            <div class="mb-3">
              <ng-container *ngIf="utilisateurState$ | async as state" [ngSwitch]="state.dataState">
                <ng-container *ngSwitchCase="UtilisteurStateEnum.INITIAL">
                  <div class="p-2">Initialisation des données</div>
                </ng-container>
                <ng-container *ngSwitchCase="UtilisteurStateEnum.ERROR">
                  <div class="p-2">
                    Une erreur est survenue : {{ state.errorMessage }}
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="UtilisteurStateEnum.LOADED">
                  <label class="small mb-1" for="inputUsername">Propriétaire</label>
                  <div class="form-group">
                    <select formControlName="idUtilisateur" name="idUtilisateur" id="username" class="form-control">
                      <option [value]="0">Sélection un Propriétaire</option>
                      <option [value]="utilis.id" *ngFor="let utilis of state.utlisisateurs">
                        {{ utilis.nom }} {{ utilis.prenom }}
                      </option>
                    </select>
                  </div>
                </ng-container>
              </ng-container>
            </div>
            <div class="mb-3">
              <ng-container *ngIf="siteState$ | async as state" [ngSwitch]="state.dataState">
                <ng-container *ngSwitchCase="SiteStateEnum.INITIAL">
                  <div class="p-2">Initialisation des données</div>
                </ng-container>
                <ng-container *ngSwitchCase="SiteStateEnum.ERROR">
                  <div class="p-2">
                    Une Erreur est survenue : {{ state.errorMessage }}
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="SiteStateEnum.LOADED">
                  <label class="small mb-1" for="inputUsername">Site</label>
                  <div class="form-group">
                    <select formControlName="idSite" name="idSite" class="form-control">
                      <option [value]="0">Sélection un Site</option>
                      <option [value]="sit.id" *ngFor="let sit of state.sites">
                        {{ sit.abrSite }}
                      </option>
                    </select>
                  </div>
                </ng-container>
              </ng-container>
            </div>

            <div class="row gx-3 mb-3">
              <!-- Form Group (organization name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputOrgName">Désignation</label>
                <input formControlName="nomBien" class="form-control" name="nomVilla" type="text" />
              </div>
              <!-- Form Group (location)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Statut</label>
                <input formControlName="statutBien" class="form-control" name="inputLocation" type="text" />
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputOrgName">Description</label>
                <input formControlName="description" class="form-control" name="description" type="text" />
              </div>
              <!-- Form Group (location)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Nombre de Pièces</label>
                <input formControlName="nbrePiece" class="form-control" type="number" />
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Superficie</label>
                <input formControlName="superficieBien" class="form-control" name="superficieBien" type="number" />
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Nombre de salons</label>
                <input formControlName="nbrSalonVilla" class="form-control" name="nbrSalonVilla" type="number" />
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Nombre de Chambre</label>
                <input formControlName="nbrChambreVilla" class="form-control" name="nbrChambreVilla" type="number" />
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Nombre de salle d'eau</label>
                <input formControlName="nbrSalleEauVilla" class="form-control" name="nbrSalleEauVilla" type="number" />
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Combien de Voiture our le garage</label>
                <input formControlName="nbreVoitureGarageVilla" class="form-control" name="nbreVoitureGarageVilla"
                  type="number" />
              </div>
              <div>
                <div class="form-check form-check-inline">
                  <input mdbCheckbox class="form-check-input" type="checkbox" id="occupied"
                    formControlName="occupied" />
                  <label class="form-check-label" for="inlineCheckbox1">Occupé</label>
                </div>
                <div class="form-check form-check-inline">
                  <input mdbCheckbox class="form-check-input" type="checkbox" name="archived"
                    formControlName="archived" />
                  <label class="form-check-label" for="inlineCheckbox2">Archivé</label>
                </div>
              </div>
            </div>
            <button class="btn btn-primary" type="button" (click)="onSaveVilla()">
              Valider
            </button>
          </form>
          <!-- FORM POUR LES STUDIOS -->
          <form *ngIf="studioform && ngselecttypeBien == 'Studio'" [formGroup]="studioform">
            <div class="row gx-3 mb-3">
              <!-- Form Group (first name)-->
              <div class="col-md-6">
                <ng-container *ngIf="immeubleState$ | async as state" [ngSwitch]="state.dataState">
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.INITIAL">
                    <div class="p-2">Initialisation des données</div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.ERROR">
                    <div class="p-2">
                      Errure : {{ state.errorMessage | json }}
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.LOADING">
                    <div class="p-2">Chargement des données...</div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.LOADED">
                    <label class="small mb-1" for="inputFirstName">Immeuble</label>
                    <select (change)="findEtageByImmeuble($event)" formControlName="idImmeuble" name="idImmeuble"
                      class="form-control">
                      <option [value]="0">Sélection un Immeuble</option>
                      <option [value]="0">Aucun Immeuble</option>
                      <option [value]="immeub.id" *ngFor="let immeub of state.immeubles">
                        {{ immeub.abrvNomImmeuble }}
                      </option>
                      <option></option>
                    </select>
                  </ng-container>
                </ng-container>
              </div>
              <!-- Form Group (last name)-->
              <div class="col-md-6">
                <ng-container *ngIf="etageState$ | async as state" [ngSwitch]="state.dataState">
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.INITIAL">
                    <div class="p-2">Initialisation des données</div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.LOADING">
                    <div class="p-2">Chargementes données...</div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.ERROR">
                    <div class="p-2">erreur : {{ state.errorMessage }}</div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.LOADED">
                    <label class="small mb-1" for="inputLastName">Etage</label>
                    <select formControlName="idEtage" name="idEtage" class="form-control">
                      <option [value]="0">Sélection un Etage</option>
                      <option [value]="0">Aucun Etage</option>
                      <option [value]="eta.id" *ngFor="let eta of state.etages">
                        {{ eta.abrvEtage }}
                      </option>

                      <option></option>
                    </select>
                  </ng-container>
                </ng-container>
              </div>
              <div class="row gx-3 mb-3">
                <!-- Form Group (organization name)-->
                <div class="col-md-6">
                  <label class="small mb-1" for="inputOrgName">Désignation</label>
                  <input formControlName="nomStudio" class="form-control" name="nomEtage" type="text"
                    placeholder="Saisir le nom du Studio" value="Start Bootstrap" />
                </div>
                <!-- Form Group (location)-->
                <div class="col-md-6">
                  <label class="small mb-1" for="inputLocation">Description</label>
                  <input formControlName="descStudio" class="form-control" name="inputLocation" type="text"
                    placeholder="Decrire le Studio" value="San Francisco, CA" />
                </div>
              </div>
            </div>
            <button class="btn btn-primary" type="button" (click)="onSaveStudio()">
              Valider
            </button>
          </form>
          <!-- FORM POUR MAGASIN -->
          <form *ngIf="magasinForm && ngselecttypeBien == 'Magasin'" [formGroup]="magasinForm">
            <div class="mb-3">
              <ng-container *ngIf="utilisateurState$ | async as state" [ngSwitch]="state.dataState">
                <ng-container *ngSwitchCase="UtilisteurStateEnum.INITIAL">
                  <div class="p-2">Initialisation des données</div>
                </ng-container>
                <ng-container *ngSwitchCase="UtilisteurStateEnum.ERROR">
                  <div class="p-2">
                    Une erreur est survenue : {{ state.errorMessage }}
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="UtilisteurStateEnum.LOADED">
                  <label class="small mb-1" for="inputUsername">Propriétaire</label>
                  <div class="form-group">
                    <select formControlName="idUtilisateur" name="idUtilisateur" id="username" class="form-control">
                      <option [value]="0">Sélection un Propriétaire</option>
                      <option [value]="utilis.id" *ngFor="let utilis of state.utlisisateurs">
                        {{ utilis.nom }} {{ utilis.prenom }}
                      </option>
                    </select>
                  </div>
                </ng-container>
              </ng-container>
            </div>
            <div class="mb-3">
              <ng-container *ngIf="siteState$ | async as state" [ngSwitch]="state.dataState">
                <ng-container *ngSwitchCase="SiteStateEnum.INITIAL">
                  <div class="p-2">Initialisation des données</div>
                </ng-container>
                <ng-container *ngSwitchCase="SiteStateEnum.ERROR">
                  <div class="p-2">
                    Une Erreur est survenue : {{ state.errorMessage }}
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="SiteStateEnum.LOADED">
                  <label class="small mb-1" for="inputUsername">Site</label>
                  <div class="form-group">
                    <select formControlName="idSite" name="idSite" class="form-control">
                      <option [value]="0">Sélection un Site</option>
                      <option [value]="sit.id" *ngFor="let sit of state.sites">
                        {{ sit.abrSite }}
                      </option>
                    </select>
                  </div>
                </ng-container>
              </ng-container>
            </div>
            <div class="row gx-3 mb-3">
              <!-- Form Group (first name)-->
              <div class="col-md-6">
                <ng-container *ngIf="immeubleState$ | async as state" [ngSwitch]="state.dataState">
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.INITIAL">
                    <div class="p-2">Initialisation des données</div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.ERROR">
                    <div class="p-2">
                      Errure : {{ state.errorMessage | json }}
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.LOADING">
                    <div class="p-2">Chargement des données...</div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.LOADED">
                    <label class="small mb-1" for="inputFirstName">Immeuble</label>
                    <select (change)="findEtageByImmeuble($event)" name="idImmeuble" class="form-control">
                      <option [value]="0">Sélection un Immeuble</option>
                      <option [value]="0">Aucun Immeuble</option>
                      <option [value]="immeub.id" *ngFor="let immeub of state.immeubles">
                        {{ immeub.abrvNomImmeuble }}
                      </option>
                      <option></option>
                    </select>
                  </ng-container>
                </ng-container>
              </div>
              <!-- Form Group (last name)-->
              <div class="col-md-6">
                <ng-container *ngIf="etageState$ | async as state" [ngSwitch]="state.dataState">
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.INITIAL">
                    <div class="p-2">Initialisation des données</div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.LOADING">
                    <div class="p-2">Chargementes données...</div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.ERROR">
                    <div class="p-2">erreur : {{ state.errorMessage }}</div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.LOADED">
                    <label class="small mb-1" for="inputLastName">Etage</label>
                    <select formControlName="idEtage" name="idEtage" class="form-control">
                      <option [value]="0">Sélection un Etage</option>
                      <option [value]="0">Aucun Etage</option>
                      <option [value]="eta.id" *ngFor="let eta of state.etages">
                        {{ eta.abrvEtage }}
                      </option>

                      <option></option>
                    </select>
                  </ng-container>
                </ng-container>
              </div>
            </div>
            <div class="row gx-3 mb-3">
              <!-- Form Group (organization name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputOrgName">Désignation</label>
                <input formControlName="nomMagasin" class="form-control" name="nomEtage" type="text"
                  placeholder="Saisir le nom du Studio" value="Start Bootstrap" />
              </div>
              <!-- Form Group (location)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Statut</label>
                <input formControlName="statutBien" class="form-control" name="inputLocation" type="text" />
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputOrgName">Description</label>
                <input formControlName="description" class="form-control" name="description" type="text" />
              </div>
              <!-- Form Group (location)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Superficie</label>
                <input formControlName="superficieBien" class="form-control" name="inputLocation" type="number" />
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Nombre de pièces</label>
                <input formControlName="nmbrPieceMagasin" class="form-control" name="inputLocation" type="number" />
              </div>
              <div>
                <div class="form-check form-check-inline">
                  <input mdbCheckbox class="form-check-input" type="checkbox" id="occupied"
                    formControlName="occupied" />
                  <label class="form-check-label" for="inlineCheckbox1">Occupé</label>
                </div>
                <div class="form-check form-check-inline">
                  <input mdbCheckbox class="form-check-input" type="checkbox" id="archived"
                    formControlName="archived" />
                  <label class="form-check-label" for="inlineCheckbox2">Archivé</label>
                </div>
                <div class="form-check form-check-inline">
                  <input mdbCheckbox class="form-check-input" type="checkbox" id="underBuildingMagasin"
                    formControlName="underBuildingMagasin" />
                  <label class="form-check-label" for="inlineCheckbox3">Sous immeuble</label>
                </div>
              </div>
            </div>
            <button class="btn btn-primary" type="button" (click)="onSaveMagasin()">
              Valider
            </button>
          </form>
          <!-- FORM POUR APPARTEMENT -->
          <form *ngIf="appartementForm && ngselecttypeBien == 'Appartement'" [formGroup]="appartementForm">
            <div class="row gx-3 mb-3">
              <div class="col-md-6">
                <ng-container *ngIf="immeubleState$ | async as state" [ngSwitch]="state.dataState">
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.INITIAL">
                    <div class="p-2">Initialisation des données</div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.ERROR">
                    <div class="invalid-feedback">
                      Erreur : {{ state.errorMessage }}
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.LOADING">
                    <div class="p-2">Chargement des données...</div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.LOADED">
                    <label class="big mb-1" for="inputFirstName">Immeuble</label>
                    <select [ngClass]="{'is-invalid': submitted && appartementForm.controls.idImmeuble.errors}"
                      (change)="findEtageByImmeuble($event)" formControlName="idImmeuble" name="idImmeuble"
                      class="form-control">
                      <option [value]="0">Aucun Immeuble</option>
                      <option [value]="immeub.id" *ngFor="let immeub of state.immeubles">
                        {{ immeub.abrvNomImmeuble }}
                      </option>

                    </select>
                    <div *ngIf="submitted && appartementForm.controls.idImmeuble.errors" class="invalid-feedback">
                      <div *ngIf="appartementForm.controls.idImmeuble.errors.required">
                        *Immeuble obligatoire
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
              <div class="col-md-6">
                <ng-container *ngIf="etageState$ | async as stateEtage" [ngSwitch]="stateEtage.dataState">
                  <ng-container *ngSwitchCase="EtagesStateEnum.INITIAL">
                    <div class="p-2">Initialisation des données</div>
                  </ng-container>
                  <ng-container *ngSwitchCase="EtagesStateEnum.LOADING">
                    <div class="p-2">Chargementes données...</div>
                  </ng-container>
                  <ng-container *ngSwitchCase="EtagesStateEnum.ERROR">

                    <div class="invalid-feedback">
                      <div>
                        Erreur :{{stateEtage.errorMessage}}
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="EtagesStateEnum.LOADED">
                    <label class="small mb-1" for="inputLastName">Etage</label>
                    <select formControlName="idEtage" name="idEtage" id="idEtage" class="form-control">
                      <option [value]="0">Aucun Etage</option>
                      <option [value]="eta.id" *ngFor="let eta of stateEtage.etages">
                        {{ eta.abrvEtage }}
                      </option>
                    </select>
                    <div *ngIf="submitted && appartementForm.controls.idEtage.errors"></div>
                  </ng-container>
                </ng-container>
              </div>
              <div class="row gx-3 mb-3">
                <!-- Form Group (organization name)-->
                <div class="col-md-6">
                  <label class="small mb-1" for="inputOrgName">Désignation</label>
                  <input formControlName="nomApp" class="form-control" name="nomApp" type="text"
                    [ngClass]="{'is-invalid': submitted && appartementForm.controls.nomApp.errors}" />
                  <div *ngIf="submitted && appartementForm.controls.nomApp.errors" class="invalid-feedback">
                    <div *ngIf="appartementForm.controls.nomApp.errors.required">
                      *Champ obligatoire
                    </div>
                  </div>
                </div>


                <div class="col-md-6">
                  <label class="small mb-1" for="inputLocation">Nombre de Pièces</label>
                  <input formControlName="nbrPieceApp" class="form-control" name="inputLocation" type="number" />
                </div>
                <div class="col-md-6">
                  <label class="small mb-1" for="inputLocation">Nombre de Chambres</label>
                  <input formControlName="nbreChambreApp" class="form-control" name="inputLocation" type="number" />
                </div>
                <div class="col-md-6">
                  <label class="small mb-1" for="inputLocation">Nombre de Salons</label>
                  <input formControlName="nbrSalonApp" class="form-control" name="inputLocation" type="number" />
                </div>
                <div class="col-md-6">
                  <label class="small mb-1" for="inputLocation">Nombre de Salle d'eau</label>
                  <input formControlName="nbreSalleEauApp" class="form-control" name="inputLocation" type="number" />
                </div>
                <!-- Default checkbox -->
                <div class="form-check">
                  <input formControlName="meubleApp" mdbCheckbox class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" />
                  <label class="form-check-label" for="flexCheckDefault">
                    Meublé
                  </label>
                </div>
                <!-- Checked checkbox -->
                <div class="form-check">
                  <input formControlName="residence" mdbCheckbox class="form-check-input" type="checkbox" value=""
                    id="flexCheckChecked" />
                  <label class="form-check-label" for="flexCheckChecked">
                    Est une résidence
                  </label>
                </div>
              </div>
            </div>
            <button class="btn btn-primary" type="button" (click)="onSaveAppartement()">
              Valider
            </button>
          </form>
          <!-- FORM POUR LES ETAGES -->
          <form *ngIf="etageForm && ngselecttypeBien == 'Etage'" [formGroup]="etageForm">
            <!-- Form Group (username)-->
            <!-- <input
              name="idAgence"
              hidden="true"
              formControlName="idAgence"
              class="form-control"
              id="id"
              type="text"
              placeholder="Enter your organization name"
              value="Start Bootstrap"
            /> -->
            <!-- <input
              name="id"
              hidden="true"
              formControlName="id"
              class="form-control"
              id="id"
              type="text"
              placeholder="Enter your organization name"
              value="Start Bootstrap"
            /> -->
            <!-- <div class="mb-3">
              <ng-container
                *ngIf="siteState$ | async as state"
                [ngSwitch]="state.dataState"
              >
                <ng-container *ngSwitchCase="SiteStateEnum.INITIAL">
                  <div class="p-2">Initialisation des données</div>
                </ng-container>
                <ng-container *ngSwitchCase="SiteStateEnum.ERROR">
                  <div class="p-2">
                    Une Erreur est survenue : {{ state.errorMessage }}
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="SiteStateEnum.LOADED">
                  <label class="small mb-1" for="inputUsername">Site</label>
                  <div class="form-group">
                    <select
                      formControlName="idSite"
                      name="idSite"
                      class="form-control"
                    >
                      <option [value]="0">Sélection un Site</option>
                      <option [value]="sit.id" *ngFor="let sit of state.sites">
                        {{ sit.abrSite }}
                      </option>
                    </select>
                  </div>
                </ng-container>
              </ng-container>
            </div> -->
            <!-- LISTES DES PROPRIETAIRES -->
            <!-- <div class="mb-3">
              <ng-container
                *ngIf="utilisateurState$ | async as state"
                [ngSwitch]="state.dataState"
              >
                <ng-container *ngSwitchCase="UtilisteurStateEnum.INITIAL">
                  <div class="p-2">Initialisation des données</div>
                </ng-container>
                <ng-container *ngSwitchCase="UtilisteurStateEnum.ERROR">
                  <div class="p-2">
                    Une erreur est survenue : {{ state.errorMessage }}
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="UtilisteurStateEnum.LOADED">
                  <label class="small mb-1" for="inputUsername"
                    >Propriétaire</label
                  >
                  <div class="form-group">
                    <select
                      formControlName="idUtilisateur"
                      name="idUtilisateur"
                      id="username"
                      class="form-control"
                    >
                      <option [value]="0">Sélection un Propriétaire</option>
                      <option
                        [value]="utilis.id"
                        *ngFor="let utilis of state.utlisisateurs"
                      >
                        {{ utilis.nom }} {{ utilis.prenom }}
                      </option>
                    </select>
                  </div>
                </ng-container>
              </ng-container>
            </div> -->
            <!-- TYPE DE BIEN  -->
            <!-- LISTES DES PROPRIETAIRES -->
            <!-- <div class="mb-3">
              <label class="small mb-1" for="inputUsername"
                >Type de biens</label
              >
              <select
                [(ngModel)]="ngselecttypeBien"
                formControlName="idTypeBien"
                name="idTypeBien"
                id="idTypeBien"
                class="form-control"
              >
                <option [value]="20000">Sélection un Type de Bien</option>
                <option [value]="biens" *ngFor="let biens of listTypeBiens">
                  {{ biens }}
                </option>
              </select>
            </div> -->
            <!-- <ng-container [ngSwitch]="ngselecttypeBien">
              <ng-container *ngSwitchCase="listTypeBiens[0]">
                <div class="p-2">Appartement</div>
              </ng-container>

              <ng-container *ngSwitchCase="listTypeBiens[1]">
                <div class="p-2">Etage</div>
              </ng-container>

              <ng-container *ngSwitchCase="listTypeBiens[2]">
                <div class="p-2">Immeuble</div>
              </ng-container>

              <ng-container *ngSwitchCase="listTypeBiens[3]">
                <div class="p-2">Magasin</div>
              </ng-container>

              <ng-container *ngSwitchCase="listTypeBiens[4]">
                <div class="p-2">Studio</div>
              </ng-container>
              <ng-container *ngSwitchCase="listTypeBiens[5]">
                <div class="p-2">Villa</div>
              </ng-container>
            </ng-container> -->
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (first name)-->
              <div class="col-md-6">
                <ng-container *ngIf="immeubleState$ | async as state" [ngSwitch]="state.dataState">
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.INITIAL">
                    <div class="p-2">Initialisation des données</div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.ERROR">
                    <div class="p-2">
                      Errure : {{ state.errorMessage | json }}
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.LOADING">
                    <div class="p-2">Chargement des données...</div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.LOADED">
                    <label class="small mb-1" for="inputFirstName">Immeuble</label>
                    <select formControlName="idImmeuble" name="idImmeuble" class="form-control">
                      <option [value]="0">Sélection un Immeuble</option>
                      <option [value]="0">Aucun Immeuble</option>
                      <option [value]="immeub.id" *ngFor="let immeub of state.immeubles">
                        {{ immeub.abrvNomImmeuble }}
                      </option>
                      <option></option>
                    </select>
                  </ng-container>
                </ng-container>
              </div>
              <!-- Form Group (last name)-->
              <!-- <div class="col-md-6">
                <label class="small mb-1" for="inputLastName">Etage</label>
                <select
                  formControlName="idEtage"
                  name="idEtage"
                  class="form-control"
                >
                  <option [value]="0">Sélection un Etage</option>
                  <option [value]="0">Aucun Etage</option>

                  <option></option>
                </select>
              </div> -->
            </div>
            <!-- Form Row        -->
            <div class="row gx-3 mb-3">
              <!-- Form Group (organization name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputOrgName">Désignation</label>
                <input formControlName="nomEtage" class="form-control" name="nomEtage" type="text"
                  placeholder="Saisir le nom du Bien Immobilier" value="Start Bootstrap" />
              </div>
              <!-- Form Group (location)-->
              <!-- <div class="col-md-6">
                <label class="small mb-1" for="inputLocation"
                  >Description</label
                >
                <input
                  class="form-control"
                  id="inputLocation"
                  type="text"
                  placeholder="Decrir le Bien Immobilier"
                  value="San Francisco, CA"
                />
              </div> -->
            </div>
            <!-- Form Group (email address)-->
            <!-- <div class="mb-3">
              <label class="checkbox mb-1" for="garageVilla">
                Avec Garage</label
              >
              <input
                class="form-control"
                formControlName="garageVilla"
                name="garageVilla"
                type="checkbox"
              />
              <label class="checkbox mb-1" for="garageVilla"> Occupée</label>
              <input
                class="form-control"
                formControlName="occupied"
                name="occupied"
                type="checkbox"
              />
            </div> -->
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (phone number)-->
              <!-- <div class="col-md-6">
                <label class="small mb-1" for="inputPhone">Phone number</label>
                <input
                  class="form-control"
                  id="inputPhone"
                  type="tel"
                  placeholder="Enter your phone number"
                  value="555-123-4567"
                />
              </div> -->
              <!-- Form Group (birthday)-->
              <!-- <div class="col-md-6">
                <label class="small mb-1" for="inputBirthday">Birthday</label>
                <input
                  class="form-control"
                  id="inputBirthday"
                  type="text"
                  name="birthday"
                  placeholder="Enter your birthday"
                  value="06/10/1988"
                />
              </div> -->
            </div>
            <!-- Save changes button-->
            <button class="btn btn-primary" type="button" (click)="onSaveEtage()">
              Valider
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
