<div class="container-xl px-4 mt-4">
  <!-- Account page navigation-->

  <hr class="mt-0 mb-4" />
  <div class="row">
    <div class="col-md-4">
      <!-- Profile picture card-->
      <div class="card mb-4 mb-xl-0">
        <div class="card-header">Image d'illustration</div>
        <div class="card-body text-center">
          <!-- Profile picture image-->
          <img class="img-account-profile rounded-circle mb-2" src="assets/bien-immobilier.png" width="120px"
            height="120px" alt="" />
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <!-- Account details card-->
      <div class="card mb-4">
        <div class="card-header" *ngIf="ngselecttypeBien != '10'">
          Informations sur
          <div class="font-weight-bold">
            {{ ngselecttypeBien }}
          </div>
        </div>
        <div class="card-header" *ngIf="ngselecttypeBien == '10'">
          Informations sur le Bien
        </div>
        <div class="card-body">
          <form *ngIf="formGroup" [formGroup]="formGroup">
            <div class="mb-3">
              <label>Type de biens</label>
              <select class="form-control" [(ngModel)]="ngselecttypeBien" formControlName="idTypeBien" name="idTypeBien"
                id="idTypeBien">
                <option [value]="20000">Sélection un Type de Bien</option>
                <option [value]="biens" *ngFor="let biens of listTypeBiens">
                  {{ biens }}
                </option>
              </select>
            </div>
          </form>

          <!-- FORM POUR VILLA -->
          <form *ngIf="villaForm && ngselecttypeBien == 'Villa'" [formGroup]="villaForm">
            <div class="mb-3">
              <ng-container *ngIf="utilisateurState$ | async as state" [ngSwitch]="state.dataState">
                <ng-container *ngSwitchCase="UtilisteurStateEnum.INITIAL">
                  <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="UtilisteurStateEnum.ERROR">
                  <div class="p-2 invalid-feedback">
                    Une erreur est survenue
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="UtilisteurStateEnum.LOADED">
                  <label class="small mb-1" for="inputUsername">Propriétaire</label>
                  <div class="form-group">
                    <select formControlName="idUtilisateur" name="idUtilisateur" id="username" [(ngModel)]="userVilla"
                      class="form-control form-control-lg w-auto" [ngClass]="{
                        'is-invalid':
                          submitted &&
                          (villaForm.controls.idUtilisateur.errors ||
                            userVilla == '')
                      }">
                      <option [value]="">Sélection un Propriétaire</option>
                      <option [value]="utilis.id" *ngFor="let utilis of state.utilisateurs">
                        {{ utilis.nom }} {{ utilis.prenom }}
                      </option>
                    </select>
                    <div *ngIf="
                        submitted && villaForm.controls.idUtilisateur.errors
                      " class="invalid-feedback">
                      <div *ngIf="villaForm.controls.idUtilisateur.errors.required">
                        *Champ obligatoire
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
            <div class="mb-3">
              <ng-container *ngIf="siteState$ | async as state" [ngSwitch]="state.dataState">
                <ng-container *ngSwitchCase="SiteStateEnum.INITIAL">
                  <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="SiteStateEnum.ERROR">
                  <div class="p-2 invalid-feedback">
                    Une Erreur est survenue
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="SiteStateEnum.LOADED">
                  <label class="small mb-1" for="inputUsername">Site</label>
                  <div class="form-group">
                    <select formControlName="idSite" name="idSite" class="form-control form-control-lg w-auto"
                      [ngClass]="{
                        'is-invalid':
                          submitted &&
                          (villaForm.controls.idSite.errors ||
                            villaForm.controls['idSite'].value == '')
                      }">
                      <option [value]="">Sélection un Site</option>
                      <option [value]="sit.id" *ngFor="let sit of state.sites">
                        {{ sit.nomSite }}
                      </option>
                    </select>
                    <div *ngIf="submitted && villaForm.controls.idSite.errors" class="invalid-feedback">
                      <div *ngIf="villaForm.controls.idSite.errors.required">
                        *Champ obligatoire
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>

            <div class="row gx-3 mb-3">
              <!-- Form Group (organization name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputOrgName">Désignation</label>
                <input formControlName="nomVilla" class="form-control" name="nomVilla" type="text" [ngClass]="{
                    'is-invalid':
                      submitted && villaForm.controls.nomVilla.errors
                  }" />
                <div *ngIf="submitted && villaForm.controls.nomVilla.errors" class="invalid-feedback">
                  <div *ngIf="villaForm.controls.nomVilla.errors.required">
                    *Champ obligatoire
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <label class="small mb-1" for="inputOrgName">Description</label>
                <textarea rows="3" formControlName="description" class="form-control" name="description"
                  type="text"></textarea>
              </div>
              <!-- Form Group (location)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Nombre de Pièces</label>
                <input formControlName="nbrePiece" class="form-control" type="number" />
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Superficie</label>
                <input formControlName="superficieBien" class="form-control" name="superficieBien" type="number" />
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Nombre de salons</label>
                <input formControlName="nbrSalonVilla" class="form-control" name="nbrSalonVilla" type="number" />
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Nombre de Chambre</label>
                <input formControlName="nbrChambreVilla" class="form-control" name="nbrChambreVilla" type="number" />
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Nombre de salle d'eau</label>
                <input formControlName="nbrSalleEauVilla" class="form-control" name="nbrSalleEauVilla" type="number" />
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Combien de Voiture our le garage</label>
                <input formControlName="nbreVoitureGarageVilla" class="form-control" name="nbreVoitureGarageVilla"
                  type="number" />
              </div>
              <div>
                <div class="form-check form-check-inline">
                  <input mdbCheckbox class="form-check-input" type="checkbox" id="occupied"
                    formControlName="occupied" />
                  <label class="form-check-label" for="inlineCheckbox1">Occupé</label>
                </div>
                <div class="form-check form-check-inline">
                  <input mdbCheckbox class="form-check-input" type="checkbox" name="archived"
                    formControlName="archived" />
                  <label class="form-check-label" for="inlineCheckbox2">Archivé</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-danger mr-2" data-dismiss="modal" (click)="onClose()"
                  id="closeAgenceButton">
                  <i class="fas fa-ban"></i>
                  Close
                </button>
                <button type="button" class="btn btn-primary" (click)="onSaveVilla()">
                  <i class="fas fa-save"></i>
                  Enregistrer
                </button>
              </div>
            </div>
          </form>

          <!-- FORM POUR MAGASIN -->
          <form *ngIf="magasinForm && ngselecttypeBien == 'Magasin'" [formGroup]="magasinForm">
            <div class="mb-3">
              <ng-container *ngIf="utilisateurState$ | async as state" [ngSwitch]="state.dataState">
                <ng-container *ngSwitchCase="UtilisteurStateEnum.INITIAL">
                  <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="UtilisteurStateEnum.ERROR">
                  <div class="p-2 invalid-feedback">
                    Une erreur est survenue
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="UtilisteurStateEnum.LOADED">
                  <label class="small mb-1" for="inputUsername">Propriétaire</label>
                  <div class="form-group">
                    <select formControlName="idUtilisateur" name="idUtilisateur" id="username" class="form-control"
                      [ngClass]="{
                        'is-invalid':
                          submitted && magasinForm.controls.idUtilisateur.errors
                      }">
                      <option [value]="0">Aucun Propriétaire</option>
                      <option [value]="utilis.id" *ngFor="let utilis of state.utilisateurs">
                        {{ utilis.nom }} {{ utilis.prenom }}
                      </option>
                    </select>
                    <div *ngIf="
                        submitted && magasinForm.controls.idUtilisateur.errors
                      " class="invalid-feedback">
                      <div *ngIf="
                          magasinForm.controls.idUtilisateur.errors.required
                        ">
                        * Veuillez saisir un Propriétaire
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
            <div class="mb-3">
              <ng-container *ngIf="siteState$ | async as state" [ngSwitch]="state.dataState">
                <ng-container *ngSwitchCase="SiteStateEnum.INITIAL">
                  <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="SiteStateEnum.ERROR">
                  <div class="p-2 invalid-feedback">
                    Une Erreur est survenue
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="SiteStateEnum.LOADED">
                  <label class="small mb-1" for="inputUsername">Site</label>
                  <div class="form-group">
                    <select formControlName="idSite" name="idSite" class="form-control" [ngClass]="{
                        'is-invalid':
                          submitted && magasinForm.controls.idSite.errors
                      }">
                      <option [value]="">Aucun Site</option>
                      <option [value]="sit.id" *ngFor="let sit of state.sites">
                        {{ sit.nomSite }}
                      </option>
                    </select>
                    <div *ngIf="submitted && magasinForm.controls.idSite.errors" class="invalid-feedback">
                      <div *ngIf="magasinForm.controls.idSite.errors.required">
                        * Veuillez saisir Site
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
            <div class="row gx-3 mb-3">
              <!-- Form Group (first name)-->
              <div class="col-md-6">
                <ng-container *ngIf="immeubleState$ | async as state" [ngSwitch]="state.dataState">
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.INITIAL">
                    <div class="spinner-border text-primary" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.ERROR">
                    <div class="p-2 invalid-feedback">
                      Une erreur est survenu
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.LOADING">
                    <div class="spinner-border text-primary" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.LOADED">
                    <label class="small mb-1" for="inputFirstName">Immeuble</label>
                    <select (change)="findEtageByImmeuble($event)" name="idImmeuble" class="form-control">
                      <option [value]="0">Sélection un Immeuble</option>
                      <option [value]="0">Aucun Immeuble</option>
                      <option [value]="immeub.id" *ngFor="let immeub of state.immeubles">
                        {{ immeub.codeNomAbrvImmeuble }}
                      </option>
                      <option></option>
                    </select>
                  </ng-container>
                </ng-container>
              </div>
              <!-- Form Group (last name)-->
              <div class="col-md-6">
                <ng-container *ngIf="etageState$ | async as state" [ngSwitch]="state.dataState">
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.INITIAL">
                    <div class="spinner-border text-primary" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.LOADING">
                    <div class="spinner-border text-primary" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.ERROR">
                    <div class="p-2">erreur : {{ state.errorMessage }}</div>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.LOADED">
                    <label class="small mb-1" for="inputLastName">Etage</label>
                    <select formControlName="idEtage" name="idEtage" class="form-control">
                      <option [value]="0">Sélection un Etage</option>
                      <option [value]="0">Aucun Etage</option>
                      <option [value]="eta.id" *ngFor="let eta of state.etages">
                        {{ eta.abrvEtage }}
                      </option>

                      <option></option>
                    </select>
                  </ng-container>
                </ng-container>
              </div>
            </div>
            <div class="row gx-3 mb-3">
              <!-- Form Group (organization name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputOrgName">Désignation</label>
                <input formControlName="nomMagasin" class="form-control" name="nomEtage" type="text" [ngClass]="{
                    'is-invalid':
                      submitted && magasinForm.controls.nomMagasin.errors
                  }" placeholder="Saisir le nom du Magasin" value="Start Bootstrap" />
                <div *ngIf="submitted && magasinForm.controls.nomMagasin.errors" class="invalid-feedback">
                  <div *ngIf="magasinForm.controls.nomMagasin.errors.required">
                    * Champ obligatoire
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputOrgName">Description</label>
                <textarea rows="3" formControlName="description" class="form-control" name="description"
                  type="text"></textarea>
              </div>
              <!-- Form Group (location)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Superficie</label>
                <input formControlName="superficieBien" class="form-control" name="inputLocation" type="number" />
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Nombre de pièces</label>
                <input formControlName="nmbrPieceMagasin" class="form-control" name="inputLocation" type="number" />
              </div>
              <div>
                <div class="form-check form-check-inline">
                  <input mdbCheckbox class="form-check-input" type="checkbox" id="occupied"
                    formControlName="occupied" />
                  <label class="form-check-label" for="inlineCheckbox1">Occupé</label>
                </div>
                <div class="form-check form-check-inline">
                  <input mdbCheckbox class="form-check-input" type="checkbox" id="archived"
                    formControlName="archived" />
                  <label class="form-check-label" for="inlineCheckbox2">Archivé</label>
                </div>
                <div class="form-check form-check-inline">
                  <input mdbCheckbox class="form-check-input" type="checkbox" id="underBuildingMagasin"
                    formControlName="underBuildingMagasin" />
                  <label class="form-check-label" for="inlineCheckbox3">Sous immeuble</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-danger mr-2" data-dismiss="modal" (click)="onClose()"
                  id="closeAgenceButton">
                  <i class="fas fa-ban"></i>
                  Close
                </button>
                <button type="button" class="btn btn-primary" (click)="onSaveMagasin()">
                  <i class="fas fa-save"></i>
                  Enregistrer
                </button>
              </div>
            </div>
          </form>
          <!-- FORM POUR APPARTEMENT -->
          <form *ngIf="appartementForm && ngselecttypeBien == 'Appartement'" [formGroup]="appartementForm">
            <div class="row gx-3 mb-3">
              <div class="col-md-6">
                <ng-container *ngIf="immeubleState$ | async as state" [ngSwitch]="state.dataState">
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.LOADING">
                    <i class="fas fa-sync fa-spin"></i>
                  </ng-container>
                  <ng-container *ngSwitchCase="ImmeubleStateEnum.ERROR">
                    <div class="p-2">
                      Erreur: {{ state.errorMessage | json }}
                    </div>
                  </ng-container>

                  <ng-container *ngSwitchCase="ImmeubleStateEnum.LOADED">
                    <label class="small mb-1" for="inputFirstName">Immeuble</label>
                    <select (change)="findEtageByImmeuble($event)" formControlName="idImmeuble" name="idImmeuble"
                      class="form-control form-control-lg" [ngClass]="{
                        'is-invalid':
                          submitted &&
                          appartementForm.controls.idImmeuble.errors
                      }">

                      <option [value]="immeub.id" *ngFor="let immeub of state.immeubles">
                        {{ immeub.descriptionImmeuble }}
                      </option>
                    </select>
                    <div *ngIf="submitted && appartementForm.controls.idImmeuble.errors" class="invalid-feedback">
                      <div *ngIf="
                          appartementForm.controls.idImmeuble.errors.required
                        ">
                        * Veuillez saisir un Immeuble
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
              <div class="col-md-6">
                <ng-container *ngIf="etageState$ | async as etageState" [ngSwitch]="etageState.dataState">

                  <ng-container *ngSwitchCase="EtagesStateEnum.LOADING">
                    <div class="spinner-border text-primary" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="EtagesStateEnum.ERROR">
                    <div class="p-2">
                      Erreur : {{ etageState.errorMessage }}
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="EtagesStateEnum.LOADED">
                    <label class="small mb-1" for="inputLastName">Etage</label>
                    <select formControlName="idEtage" name="idEtage" class="form-control form-control-lg w-auto"
                      [ngClass]="{
                        'is-invalid':
                          submitted && appartementForm.controls.idEtage.errors
                      }">
                      <option [value]="eta.id" *ngFor="let eta of etageState.etages">
                        {{ eta.nomEtage }}
                      </option>
                    </select>
                    <div *ngIf="
                        submitted && appartementForm.controls.idEtage.errors
                      " class="invalid-feedback">
                      <div *ngIf="appartementForm.controls.idEtage.errors.required">
                        * Veuillez saisir un étage
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
              <div class="row gx-3 mb-3">
                <!-- Form Group (organization name)-->
                <div class="col-md-6">
                  <label class="small mb-1" for="inputOrgName">Désignation</label>
                  <input formControlName="nomApp" class="form-control" name="nomApp" type="text" [ngClass]="{
                      'is-invalid':
                        submitted && appartementForm.controls.nomApp.errors
                    }" required />
                  <div *ngIf="submitted && appartementForm.controls.nomApp.errors" class="invalid-feedback">
                    <div *ngIf="appartementForm.controls.nomApp.errors.required">
                      *Champ obligatoire
                    </div>
                  </div>
                  <div class="valid-feedback">Ok!</div>
                </div>
                <!-- Form Group (location)-->
                <div class="col-md-6">
                  <label class="small mb-1" for="inputLocation">Nombre de Pièces</label>
                  <input formControlName="nbrPieceApp" class="form-control" name="inputLocation" type="number" />
                </div>
                <div class="col-md-6">
                  <label class="small mb-1" for="inputLocation">Nombre de Chambres</label>
                  <input formControlName="nbreChambreApp" class="form-control" name="inputLocation" type="number" />
                </div>
                <div class="col-md-6">
                  <label class="small mb-1" for="inputLocation">Nombre de Salons</label>
                  <input formControlName="nbrSalonApp" class="form-control" name="inputLocation" type="number" />
                </div>
                <div class="col-md-6">
                  <label class="small mb-1" for="inputLocation">Nombre de Salle d'eau</label>
                  <input formControlName="nbreSalleEauApp" class="form-control" name="inputLocation" type="number" />
                </div>
                <!-- Default checkbox -->
                <div class="form-check">
                  <input formControlName="meubleApp" mdbCheckbox class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" />
                  <label class="form-check-label" for="flexCheckDefault">
                    Meublé
                  </label>
                </div>
                <!-- Checked checkbox -->
                <div class="form-check">
                  <input formControlName="residence" mdbCheckbox class="form-check-input" type="checkbox" value=""
                    id="flexCheckChecked" />
                  <label class="form-check-label" for="flexCheckChecked">
                    Est une résidence
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-danger mr-2" data-dismiss="modal" (click)="onClose()"
                  id="closeAgenceButton">
                  <i class="fas fa-ban"></i>
                  Close
                </button>
                <button type="button" class="btn btn-primary" (click)="onSaveAppartement()">
                  <i class="fas fa-save"></i>
                  Enregistrer
                </button>
              </div>
            </div>
          </form>
          <!-- FORM POUR LES ETAGES -->
        </div>
      </div>
    </div>
  </div>
</div>