<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Consultation des sorties de caisses</h1>
    </div>
    <div class="col-md-4 text-right"></div>
  </div>

  <div class="row">
    <div class="col">
      <h5>
        <i class="fas fa-asterisk blue-color"></i>&nbsp;Selection de la periode
      </h5>
    </div>
  </div>
  <hr style="margin-top: 0" />
  <div
    class="row mt-2 ml-2"
    style="
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
    "
  >
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Date début</mat-label>
        <input
          id="debut"
          [(ngModel)]="debut"
          matInput
          [matDatepicker]="picker"
          data-date-format="yyyy-mm-dd"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Date fin</mat-label>
        <input
          id="fin"
          [(ngModel)]="fin"
          matInput
          [matDatepicker]="picker1"
          data-date-format="yyyy-mm-dd"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div style="flex-grow: 1">
      <button
        (click)="
          getAllSuiviDepenseParPeriode(debut, fin);
          getListEncaissementParPeriode(debut, fin);
          getListPaiementloyerEntreDeuxDate(debut, fin);
          getSommeEncaissementEntreDeuxDate(debut, fin)
        "
        mat-raised-button
        color="primary"
        type="button"
        class="mr-1"
        style="height: 40px"
      >
        <mat-icon>search</mat-icon>
        Recherche
      </button>
    </div>
  </div>
  <div class="tab-content" id="myTabContent">
    <div class="col-md-8 p-0">
      <h2>Sortie de caisses</h2>
    </div>
    <!-- user table -->
    <div class="mat-elevation-z8">
      <mat-form-field class="tail-40">
        <input
          matInput
          (keyup)="applyFilter($event)"
          #input
          placeholder="Rechercher générale dans le tableau"
        />
      </mat-form-field>
      <div style="flex-grow: 2">
        <ng-container
          *ngIf="suiviDepense$ | async as suiviDepenseState"
          [ngSwitch]="suiviDepenseState.dataState"
        >
          <ng-container *ngSwitchCase="SuiviDepenseStateEnum.LOADED">
            <h5>
              {{
                suiviDepenseState.totalEncaisse.totalMontantDepense
                  | currency : "XOF" : "symbol"
              }}
            </h5>
          </ng-container>
        </ng-container>
      </div>
      <div class="row m-3">
        <div class="col-md-6 p-0">
          <!-- <button mat-button color="warn">Warn</button> -->
          <button
            mat-button
            mat-raised-button
            color="accent"
            (click)="
              exporterSuivi.exportTable('xlsx', { fileName: 'sorti_caisse' })
            "
          >
            Exporter en Excel
            <mat-icon>insert_drive_file</mat-icon>
          </button>
        </div>
        <!-- SORTI DE CAISSE PAR PERIODES-------->
        <mat-paginator
          id="paginatorSuivi"
          #paginatorSuivi
          showFirstLastButtons
          [pageSizeOptions]="pageSizeSuivi"
          aria-label="Select page of users"
          [length]="totalRecordsSuivi!"
        >
        </mat-paginator>
        <mat-table
          #tableDepense
          class="table"
          [dataSource]="dataSourceSuivi"
          matTableExporter
          #exporterSuivi="matTableExporter"
          matSort
        >
          <!-- Code colonne -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-id">
              id
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.id }}
            </mat-cell>
          </ng-container>
          <!-- Dénomination colonne -->
          <ng-container matColumnDef="dateEncaissement">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Date d'encaissement
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
           <font color="red">
            {{ row.dateEncaissement | date : "dd/MM/yyyy" }}
           </font>

            </mat-cell>
          </ng-container>

          <!-- Propriétaire colonne -->
          <ng-container matColumnDef="codeTransaction">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Code Transaction
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.codeTransaction }}</mat-cell
            >
          </ng-container>

          <ng-container matColumnDef="montantDepense">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Montant
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.montantDepense | currency : "XOF" : "symbol" }}</mat-cell
            >
          </ng-container>
          <ng-container matColumnDef="designation">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Description
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.designation }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="modePaiement">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Mode de Paiement
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.modePaiement }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="operationType">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Type d'opération
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.operationType }}</mat-cell>
          </ng-container>
          <!-- Propriétaire colonne -->
          <!-- Actions colonne -->
          <mat-header-row *matHeaderRowDef="displayedColumnsSuiviDepense">
          </mat-header-row>
          <mat-row
            *matRowDef="let row; columns: displayedColumnsSuiviDepense"
          ></mat-row>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              Aucune donnée enregistrée {{ input.value }}
            </td>
          </tr>
        </mat-table>
        <!-- FIN TABLE DEPENSE-->
      </div>
    </div>

  </div>
</div>
