<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Liste de(s) agence(s)</h1>
    </div>
    <div class="col-md-4 text-right">
       <app-app-button-new-agence-action></app-app-button-new-agence-action>

    </div>
  </div>
  <div class="col">
    <!-- main content -->
    <div class="tab-content" id="myTabContent">
      <!-- user table -->
      <div class="tab-pane fade show active" id="users">
        <div style="margin-top: 10px;">

          <mat-form-field appearance="standard">
            <mat-label>Filtre</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
          </mat-form-field>
        </div>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> User Id</th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <!-- productName Column -->
            <ng-container matColumnDef="nomAgence">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom Agence </th>
              <td mat-cell *matCellDef="let row"> {{row.nomAgence}} </td>
            </ng-container>
             <!-- fresh Column -->
            <ng-container matColumnDef="sigleAgence">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Sigle</th>
              <td mat-cell *matCellDef="let row"> {{row.sigleAgence}} </td>
            </ng-container>

            <!-- fresh Column -->
            <ng-container matColumnDef="telAgence">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Telephone</th>
              <td mat-cell *matCellDef="let row"> {{row.telAgence}} </td>
            </ng-container>

            <ng-container matColumnDef="emailAgence">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
              <td mat-cell *matCellDef="let row"> {{row.emailAgence}} </td>
            </ng-container>

            <ng-container matColumnDef="agenceStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
              <td mat-cell *matCellDef="let row"> <span>Active</span> </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" (click)="editProduct(row)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button  (click)="deleteProduct(row.id)" mat-icon-button color="warn">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
        <!--<div class="mb-3 float-left">
            <div class="col btn-group">
           <div class="row md-12">
              <form class="form-inline mr-2">
                <input name="searchTerm" #searchInput="ngModel" class="form-control" ngModel type="search"
                  placeholder="Recherche utilisateurs..." />
              </form>
              <button type="button" class="btn btn-info" (click)="onCreateAgence()">
                <em class="fa fa-plus"></em>&nbsp;Nouvelle Agence
              </button>
            </div>
          </div>
        </div>-->
        <!--<table class="table table-hover m-3 p-3">
          <thead class="table-borderless">
            <tr class="text-center mt-3">
              <th>Photo</th>
              <th>User ID</th>
              <th>Nom Agence</th>
              <th>Sigle</th>
              <th>Téléphone</th>
              <th>Email</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <ng-container *ngIf="getAgenceState$ | async as agenceState" [ngSwitch]="agenceState.dataState">
            <ng-container *ngSwitchCase="AgenceStateEnum.LOADED">
              <tbody *ngFor="let agence of agenceState.agences">
                <tr class="text-center">
                  <td>
                    <img height="40" width="40" src="assets/nassmam.jpg" class="rounded-circle img-fluid img-thumbnail"
                      alt="" />
                  </td>
                  <td>{{ agence.id }}</td>
                  <td>{{ agence.nomAgence }}</td>
                  <td>{{ agence.sigleAgence }}</td>
                  <td>{{ agence.telAgence }}</td>
                  <td>{{ agence.emailAgence }}</td>
                  <td>
                    <span>Active</span>
                  </td>
                  <td class="">
                    <div class="btn-group">
                      <button class="btn btn-outline-info">
                        <i class="fas fa-edit"></i>
                      </button>
                      <button class="btn btn-outline-danger">
                        <i class="fas fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </ng-container>
            <ng-container *ngSwitchCase="AgenceStateEnum.ERROR">
              erreur....
            </ng-container>
            <ng-container ng-container *ngSwitchCase="AgenceStateEnum.LOADING">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </ng-container>

          </ng-container>
        </table>-->
        <!-- End user table -->
      </div>
    </div>
  </div>
  <!-- <div class="row mb-3">
    <div class="col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div> -->
</div>
