<div class="tab-content pt-1">
  <div class="tab-pane active">
    <h1 mat-dialog-title class="mat-title">{{actionBtn}} une Agence</h1>
    <form [formGroup]="agenceRegisterForm">
      <div class="row">
        <div class="col">
          <div class="mb-2 text-primary">
            <i class="fas fa-asterisk"></i><b>
              Denomination sociale de
              l'agence</b>
          </div>
          <div class="row">
            <div class="col-md-4">
              <mat-form-field>
                <mat-label>Nom Agence*</mat-label>
                <input formControlName="nomAgence" matInput placeholder="Nom Agence*">
                <mat-error>Ce champ est obligatoire.</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <mat-label>sigle de l'agence</mat-label>
                <input formControlName="sigleAgence" matInput placeholder="Sigle">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field *ngIf="idCompare==0" >
                <mat-label>Nom du gérant*</mat-label>
                <input formControlName="nomPrenomGerant" matInput placeholder="Nom du gérant">
                <mat-error>Ce champ est obligatoire.</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="mb-2 text-primary">
            <i class="fas fa-asterisk"></i><b> Contact Agence</b>
          </div>
          <div class="row">

            <div class="col-md-4">
              <mat-form-field>
                <mat-label>Telephone</mat-label>
                <input formControlName="telAgence" matInput placeholder="Telephone">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <mat-label>Email*</mat-label>
                <input formControlName="emailAgence" matInput placeholder="Email"
                placeholder="Ex. pat@example.com">
                <mat-error *ngIf="agenceRegisterForm.controls['emailAgence'].errors?.required">Ce champ est obligatoire.</mat-error>
                <mat-error *ngIf="agenceRegisterForm.controls['emailAgence'].errors?.email">Invalide email adresse.</mat-error>

              </mat-form-field>
            </div>
            <div class="col-md-4">

              <mat-form-field *ngIf="idCompare==0">
                <mat-label>Mobile gérant*</mat-label>
                <input formControlName="mobileAgence" matInput placeholder="Mobile gérant*">
                <mat-error *ngIf="agenceRegisterForm.controls['mobileAgence'].errors?.required">
                  Ce champ est obligatoire.</mat-error>
                <mat-error *ngIf="agenceRegisterForm.controls['mobileAgence'].errors?.minlength">
                  Un minimum  de 8 charactaires.</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="mb-2 text-primary">
            <i class="fas fa-asterisk"></i><b>
              Information complémentaire</b>
          </div>
          <div class="row">
            <div class="col-md-4">
              <mat-form-field>
                <mat-label>Compte contribuable</mat-label>
                <input formControlName="compteContribuable" matInput placeholder="Compte contribuable">
              </mat-form-field>
            </div>
            <div class="col-md-4">

              <mat-form-field >
                <mat-label>Regime fiscale</mat-label>
                <input formControlName="regimeFiscaleAgence" matInput placeholder="Regime fiscale">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <mat-label>Capital</mat-label>
                <input formControlName="capital" matInput placeholder="Capital">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="idCompare==0" class="row">
        <div class="col-12 col-sm-6 mb-3">
          <div class="mb-2 text-primary">
            <i class="fas fa-asterisk"></i><b> Gestion du Mot de passe</b>
          </div>
          <div  class="row">
            <div class="col-sm-6">
              <mat-form-field>
                <mat-label>Nouveau mot de passe</mat-label>
                <input formControlName="motdepasse" type="password" matInput placeholder="*******">
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field>
                <mat-label>Confirmer le mot de passe</mat-label>
                <input type="password" matInput placeholder="*******">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-5 offset-sm-1 mb-3">
          <div class="mb-2 text-primary">
            <i class="fas fa-asterisk"></i><b> Rester connecter</b>
          </div>
          <div class="row">
            <div class="col">
              <!-- <label>Utilisateur actif ?</label> -->
              <div class="custom-controls-stacked px-2">
                <mat-checkbox formControlName="active" color="primary">Utilisateur actif ?</mat-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div mat-dialog-actions [align]="'end'">
      <button mat-raised-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon>
        Annuler
      </button>
      <button *ngIf="idCompare==0" mat-raised-button color="primary" [disabled]="agenceRegisterForm.invalid" (click)="saveNgrsAgence()">
        <mat-icon>save</mat-icon>
        {{actionBtn}}
      </button>
      <button *ngIf="idCompare!=0"  mat-raised-button color="primary"  (click)="saveNgrsAgence()">
        <mat-icon>save</mat-icon>
        {{actionBtn}}
      </button>
    </div>
  </div>
</div>
