<div class="card">
  <div class="card-body">
    <form *ngIf="siteRegisterForm" [formGroup]="siteRegisterForm">
      <h5 class="card-title">Nouveau site</h5>
      <div class="card-text">
        <div class="container">
          <div class="row flex-lg-nowrap">
            <div class="col">
              <div class="row">
                <div class="col mb-3">
                  <!-- <div class="card"> -->
                  <!-- <div class="card-body p-2"> -->
                  <div class="e-profile">
                    <div class="tab-content pt-1">
                      <div class="tab-pane active">
                        <form (ngSubmit)="saveSite()" [formGroup]="siteRegisterForm">
                          <div class="row">
                            <div class="col">
                              <div class="col">
                                <div class="form-group">
                                  <ng-container *ngIf="villeState$ | async as state" [ngSwitch]="state.dataState">
                                    <ng-container *ngSwitchCase="VilleStateEnum.LOADED">
                                      <label>Selectionnez une Ville</label>
                                      <select class="form-control" (change)="changeCity($any($event.target).value)">
                                        <option value="">Aucune</option>
                                        <option [value]="ville.id" *ngFor="let ville of state.villes">
                                          {{ ville.nomVille }}
                                        </option>
                                      </select>
                                    </ng-container>
                                  </ng-container>
                                </div>
                              </div>
                              <div class="col">
                                <!-- Selection de commune -->
                                <div class="form-group">
                                  <ng-container *ngIf="communeState$| async as state" [ngSwitch]="state.dataState">
                                    <ng-container *ngSwitchCase="CommunesStateEnum.LOADED">
                                      <ng-container *ngIf="state.communes.length==0">
                                        Aucune Commune disponible
                                      </ng-container>
                                      <ng-container *ngIf="state.communes.length!=0">
                                        <label>Selectionnez une Commune</label>
                                        <select class="form-control"
                                          (change)="changeCommune($any($event.target).value)">
                                          <option [value]="commune.id" *ngFor="let commune of state.communes">
                                            {{ commune.nomCommune }}
                                          </option>
                                        </select>
                                      </ng-container>

                                    </ng-container>
                                    <ng-container *ngSwitchCase="CommunesStateEnum.ERROR">
                                      {{state.errorMessage}}
                                    </ng-container>
                                  </ng-container>
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <!-- Selection de quartier -->
                                  <ng-container *ngIf="quartierState$| async as state" [ngSwitch]="state.dataState">
                                    <ng-container *ngSwitchCase="QuartierStateEnum.LOADED">
                                      <ng-container *ngIf="state.quartiers.length==0">
                                        Aucune Quartier disponible
                                      </ng-container>
                                      <ng-container *ngIf="state.quartiers.length!=0">
                                        <label>Selectionnez un Quartier</label>
                                        <select class="form-control" formControlName="idQuartier">
                                          <option [value]="quartier.id" *ngFor="let quartier of state.quartiers">
                                            {{ quartier.nomQuartier }}
                                          </option>
                                        </select>
                                      </ng-container>

                                    </ng-container>
                                    <ng-container *ngSwitchCase="QuartierStateEnum.ERROR">
                                      {{state.errorMessage}}
                                    </ng-container>
                                  </ng-container>

                                </div>
                              </div>
                              <!-- </div> -->

                            </div>
                          </div>
                          <div class="row">
                            <div class="col d-flex justify-content-end">
                              <button type="button" class="btn btn-danger mr-2" data-dismiss="modal" (click)="onClose()"
                                id="closeAgenceButton">
                                <i class="fas fa-ban"></i>
                                Close
                              </button>
                              <button class="btn btn-primary" type="submit" [disabled]="!siteRegisterForm.valid"
                                (click)="saveSite()">
                                <i class="fas fa-save"></i>
                                Enregistrer
                              </button>
                            </div>
                          </div>
                        </form>

                      </div>
                    </div>
                  </div>
                  <!-- Fin Card body  -->
                  <!-- </div> -->
                  <!-- Fin Card  -->
                  <!-- </div> -->
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- </form> -->
        <!-- </div> -->
      </div>
    </form>

  </div>
</div>
