<div class="card">
  <div class="card-body">
    <h5 class="card-title">Nouveau site</h5>
    <div class="card-text">
      <div class="container">
        <div class="row flex-lg-nowrap">
          <div class="col">
            <div class="row">
              <div class="col mb-3">
                <!-- <div class="card"> -->
                <!-- <div class="card-body p-2"> -->
                <div class="e-profile">
                  <div class="tab-content pt-1">
                    <div class="tab-pane active">
                      <form (ngSubmit)="saveSite()" [formGroup]="siteRegisterForm">
                        <div class="row">
                          <div class="col">
                            <div class="col">
                              <div class="form-group">
                                <label>Ville</label>
                                <select class="form-control" (change)="changeCity($any($event.target).value)"
                                  formControlName="cityName" name="user_question">
                                  <option selected value="">
                                    Selectionnez une Ville
                                  </option>
                                  <option>
                                    {{
                                    <!-- *ngFor="let city of City" [ngValue]="city" --> city }}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>Commune</label>
                                <select class="form-control" (change)="changeCity($any($event.target).value)"
                                  formControlName="cityName" name="user_question">
                                  <option selected value="">
                                    Selectionnez une commune
                                  </option>
                                  <option>
                                    {{
                                    <!-- *ngFor="let city of City" [ngValue]="city" --> city }}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>Quartier</label>
                                <select class="form-control" (change)="changeCity($any($event.target).value)"
                                  formControlName="cityName" name="user_question">
                                  <option selected value="">
                                    Selectionnez un quartier
                                  </option>
                                  <option>
                                    {{
                                    <!-- *ngFor="let city of City" [ngValue]="city" --> city
                                    }}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <!-- </div> -->

                          </div>
                        </div>
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button type="button" class="btn btn-danger mr-2" data-dismiss="modal"
                              id="closeAgenceButton">
                              <i class="fas fa-ban"></i>
                              Close
                            </button>
                            <button class="btn btn-primary" type="submit" [disabled]="!siteRegisterForm.valid">
                              <i class="fas fa-save"></i>
                              Enregistrer
                            </button>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>
                <!-- Fin Card body  -->
                <!-- </div> -->
                <!-- Fin Card  -->
                <!-- </div> -->
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- </form> -->
      <!-- </div> -->
    </div>
  </div>
</div>
