<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Appel loyers</h1>
    </div>
    <div class="col-md-4 text-right">

    </div>

  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        <h5><i class="fas fa-asterisk blue-color"></i>&nbsp;Paramètre d'appel</h5>
      </div>
    </div>
    <hr style="margin-top: 0;">
    <div class="row mb-3">
      <div class="col-md-3">
        <label>Année</label>
        <ng-container *ngIf="anneeState$ | async as anneeState" [ngSwitch]="anneeState.dataState">
          <ng-container>
            <ng-container *ngSwitchCase="AnneeStateEnum.LOADING ">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="AnneeStateEnum.ERROR ">
              <div class="spinner-border text-primary" role="status">
                Erreur
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="AnneeStateEnum.LOADED">

              <select id="modele" name="typeClim" class="form-control"  #selectionAnnee [(ngModel)]="finBail"
                (change)="getAppelByAnnee(selectionAnnee.value)">
                <option [value]="0">Sélectionnez une période </option>
                <option [value]="annee" *ngFor="let annee of anneeState.annees">{{annee}}</option>
              </select>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
      <div class="col-md-3">
        <ng-container *ngIf="periodeAppelState$ | async as periodeState" [ngSwitch]="periodeState.dataState">
          <label>Période</label>
          <ng-container *ngSwitchCase="AnneeStateEnum.LOADING ">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="AnneeStateEnum.ERROR ">
            Erreur
          </ng-container>
          <ng-container *ngSwitchCase="AnneeStateEnum.LOADED ">
            <select id="modele" name="typeClim" class="form-control" [(ngModel)]="periodePrint" #selection [(ngModel)]='periodePrint'
              (change)="getAppelByPeriode(periodePrint)">
              <option [value]="annee.periodeAppelLoyer" *ngFor="let annee of periodeState.anneesAppel">{{annee.periodeLettre}}
              </option>
            </select>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <ng-container *ngIf="appelState$ | async as appelState" [ngSwitch]="appelState.dataState" >
      <ng-container ng-container *ngSwitchCase="AppelLoyerStateEnum.LOADING">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </ng-container>
      <ng-container ng-container *ngSwitchCase="AppelLoyerStateEnum.ERROR ">
      ...
      </ng-container>
      <ng-container ng-container *ngSwitchCase="AppelLoyerStateEnum.LOADED ">
        <div class="row mb-3">
          <div class="col-md-3">
            <label>Du {{appelState.appelloyers[0].dateDebutMoisAppelLoyer|date:'dd / MM / yyyy'}}</label>

          </div>
          <div class="col-md-3">
            <label>Au {{appelState.appelloyers[0].dateFinMoisAppelLoyer|date:'dd / MM / yyyy'}}</label>

          </div>
          <div class="col-md-3">
            <label>Payer avant {{appelState.appelloyers[0].datePaiementPrevuAppelLoyer|date:'dd / MM / yyyy'}}</label>

          </div>
          <div class="col-md-3 text-center">

            <button type="button" class="mb-sm btn btn-primary mr-2 " (click)="printQuittance(periodePrint)">
              Imprimer
            </button>
            <ng-container *ngIf="ptQuittance$ | async as qtState" [ngSwitch]="qtState.dataState" >
              <ng-container  *ngSwitchCase="QuittanceloyerStateEnum.Requested">
                Chargement des données ...
              </ng-container>
              <!-- <ng-container  *ngSwitchCase="QuittanceloyerStateEnum.Started">
                 données Chargé...
              </ng-container> -->
              <ng-container  *ngSwitchCase="QuittanceloyerStateEnum.Failed">
                Erreur ...
              </ng-container>
            </ng-container>
            <button type="button" class="mb-sm btn btn-success mr-1" (click)="sendQuittanceGrouper(periodePrint)">
              Envoi
            </button> -->
            <ng-container *ngIf="sendMailState$ | async as sendState" [ngSwitch]="sendState.dataState" >
              <ng-container  *ngSwitchCase="MailStateEnum.LOADING ">
                Chargement des données ...
              </ng-container>
              <!-- <ng-container  *ngSwitchCase="QuittanceloyerStateEnum.Started">
                 données Chargé...
              </ng-container> -->
              <ng-container  *ngSwitchCase="MailStateEnum.ERROR ">
                Erreur ...
              </ng-container>
            </ng-container>
          </div>
        </div>
        </ng-container>
    </ng-container>


    <div class="row">
      <div class="col">
        <h5><i class="fas fa-asterisk blue-color"></i>&nbsp;Liste des loyers impayés</h5>
      </div>
    </div>
    <hr>
    <!-- main content -->
    <div class="tab-content" id="myTabContent">
      <!-- user table -->
      <div class="tab-pane fade show active" id="users">
        <table class="table table-hover m-3 p-3">
          <thead class="table-borderless">
            <tr class="text-center mt-3">
              <th>Période</th>
              <th>Locataire/Bien Immobilier</th>
              <th>Montant Loyer</th>
              <th>Status loyer</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="appelState$ | async as appelState" [ngSwitch]="appelState.dataState" >
              <ng-container  *ngSwitchCase="AppelLoyerStateEnum.LOADING">
                <div class="spinner-border text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </ng-container>
              <ng-container  *ngSwitchCase="AppelLoyerStateEnum.LOADED">
                <tr class="text-center" *ngFor="let appel of appelState.appelloyers" >
                  <td>{{appel.periodeLettre}}</td>
                  <td> {{appel.nomLocataire}} {{appel.prenomLocataire}}/{{appel.bienImmobilierFullName}}</td>
                  <td>{{appel.nouveauMontantLoyer}}</td>
                  <td>
                    <span [hidden]="!appel.solderAppelLoyer" [(ngModel)]="finBail" class="badge badge-success">Payé</span>
                    <span [hidden]="appel.solderAppelLoyer" class="badge badge-danger">Impayé</span>
                  </td>
                  <td class="">
                    <div class="btn-group">
                      <button class="btn btn-outline-info"><i class="fas fa-edit"></i></button>
                      <button class="btn btn-outline-danger"><i class="fas fa-trash"></i></button>
                      <button class="btn btn-outline-info" (click)="sendQuittanceIndividuel(appel.id)">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <ng-container *ngIf="sendMailIndivState$ | async as sendState" [ngSwitch]="sendState.dataState" >
                          <ng-container  *ngSwitchCase="MailStateEnumIndividuel.LOADING ">
                            <div class="spinner-border text-primary" role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                          </ng-container>
                          <!-- <ng-container  *ngSwitchCase="QuittanceloyerStateEnum.Started">
                             données Chargé...
                          </ng-container> -->
                          <ng-container  *ngSwitchCase="MailStateEnumIndividuel.ERROR ">
                            Erreur ...
                          </ng-container>
                        </ng-container>
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-container>
              <ng-container  *ngSwitchCase="AppelLoyerStateEnum.ERROR">
                Erreur
              </ng-container>
            </ng-container>



          </tbody>
        </table>
      </div>

    </div>

  </div>
  <div class="row mb-3">
    <div class=" col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>

</div>
