<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Appel loyers</h1>
    </div>
    <div class="col-md-4 text-right"></div>
  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        <h5>
          <i class="fas fa-asterisk blue-color"></i>&nbsp;Paramètre d'appel
        </h5>
      </div>
    </div>
    <hr style="margin-top: 0" />
    <div class="row mb-3">
      <div class="col-md-6">
        <ng-container
          *ngIf="anneeState$ | async as anneeState"
          [ngSwitch]="anneeState.dataState"
        >
          <ng-container>
            <ng-container *ngSwitchCase="AnneeStateEnum.LOADING">
              <i class="fas fa-sync fa-spin"></i>
            </ng-container>
            <ng-container *ngSwitchCase="AnneeStateEnum.ERROR">
              <div class="spinner-border text-primary" role="status">
                Aucune Année
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="AnneeStateEnum.LOADED">
              <mat-form-field appearance="outline">
                <mat-label>Année</mat-label>
                <mat-select
                  id="modele"
                  name="typeClim"
                  #selectionAnnee
                  [(value)]="printAnnee"
                  (selectionChange)="getAllPeriodeByAnnee(selectionAnnee.value)"
                >
                  <mat-option
                    [value]="annee"
                    *ngFor="let annee of anneeState.annees"
                  >
                    {{ annee }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
      <div class="col-md-6">
        <ng-container
          *ngIf="periodeState$ | async as periodeState"
          [ngSwitch]="periodeState.dataState"
        >
          <ng-container *ngSwitchCase="PeriodeStateEnum.LOADING">
            <i class="fas fa-sync fa-spin"></i>
          </ng-container>
          <ng-container *ngSwitchCase="PeriodeStateEnum.ERROR">
            Aucune Période
          </ng-container>
          <ng-container *ngSwitchCase="PeriodeStateEnum.LOADED">
            <mat-form-field appearance="outline">
              <mat-label>Période</mat-label>
              <mat-select
                [(value)]="periodePrint"
                #selectionPeriode
                (selectionChange)="getAppelByPeriode(selectionPeriode.value)"
              >
                <mat-option
                  [value]="periode.periodeAppelLoyer"
                  *ngFor="let periode of periodeState.periodes"
                >
                  {{ periode.periodeLettre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div *ngIf="afficheAppelTable != 0">
      <ng-container
        *ngIf="appelState$ | async as appelState"
        [ngSwitch]="appelState.dataState"
      >
        <ng-container ng-container *ngSwitchCase="AppelLoyerStateEnum.LOADING">
          <i class="fas fa-sync fa-spin"></i>
        </ng-container>
        <ng-container ng-container *ngSwitchCase="AppelLoyerStateEnum.ERROR">
          ...
        </ng-container>
        <ng-container ng - container *ngSwitchCase="AppelLoyerStateEnum.LOADED">
          <div class="row mb-3">
            <div class="col-md-3">
              <!-- <mat-label  appearance="outline"> -->
              <div class="mat-typography">
                <h3>
                  Du
                  {{
                    appelState.appelloyers[0].dateDebutMoisAppelLoyer
                      | date : "dd / MM / yyyy"
                  }}
                </h3>
              </div>
              <!-- </mat-label> -->
            </div>
            <div class="col-md-3">
              <div class="mat-typography">
                <h3>
                  Au
                  {{
                    appelState.appelloyers[0].dateFinMoisAppelLoyer
                      | date : "dd / MM / yyyy"
                  }}
                </h3>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mat-typography">
                <h3>
                  Payer avant
                  {{
                    appelState.appelloyers[0].datePaiementPrevuAppelLoyer
                      | date : "dd / MM / yyyy"
                  }}
                </h3>
              </div>
            </div>
            <div class="col-md-3 text-center">
              <button
                class="mr-2"
                mat-raised-button
                color="primary"
                type="button"
                (click)="printQuittance(periodePrint)"
              >
                <mat-icon>print</mat-icon>
                Imprimer
              </button>
              <ng-container
                *ngIf="ptQuittance$ | async as qtState"
                [ngSwitch]="qtState.dataState"
              >
                <ng-container *ngSwitchCase="QuittanceloyerStateEnum.Requested">
                  <i class="fas fa-sync fa-spin"></i>
                </ng-container>
              </ng-container>
              <button
                mat-raised-button
                color="primary"
                type="button"
                class="mr-1"
                (click)="sendQuittanceGrouper(periodePrint)"
              >
                <mat-icon>mail</mat-icon>
                Envoi par mail
              </button>

              <ng-container
                *ngIf="sendMailState$ | async as sendState"
                [ngSwitch]="sendState.dataState"
              >
                <ng-container *ngSwitchCase="MailStateEnum.LOADING">
                  Chargement des données ...
                </ng-container>

                <ng-container *ngSwitchCase="MailStateEnum.ERROR">
                  ...
                </ng-container>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="row">
      <div class="col">
        <h5>
          <i class="fas fa-asterisk blue-color"></i>&nbsp;Liste des loyers
          impayés
        </h5>
      </div>
      <ng-container
        *ngIf="appelState$ | async as appelState"
        [ngSwitch]="appelState.dataState"
      >
        <ng-container ng - container *ngSwitchCase="AppelLoyerStateEnum.LOADED">
          <div class="col">
            <h5>
              le Taux de Réduction est de
              <span style="color: red">{{
                appelState.appelloyers[0].pourcentageReduction
              }}</span>

              <button
                mat-raised-button
                color="primary"
                type="button"
                class="mr-1"
                (click)="reductionLoyerAppel(periodePrint)"
              >
                <mat-icon>percent</mat-icon>
                Appliquer une réduction
              </button>
            </h5>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <hr />
    <div *ngIf="afficheAppelTable != 0">
      <!-- main content -->
      <div class="tab-content" id="myTabContent">
        <!-- user table -->
        <div class="mat-elevation-z8">
          <mat-form-field class="tail-50">
            <input
              matInput
              (keyup)="applyFilter($event)"
              #input
              placeholder="Rechercher un Utilisateur"
            />
          </mat-form-field>
          <mat-paginator
            #matimmeuble
            showFirstLastButtons
            [pageSizeOptions]="pageSize"
            [length]="totalRecords!"
          ></mat-paginator>
          <mat-table #table [dataSource]="dataSource" matSort>
            <!-- Code colonne -->
            <ng-container matColumnDef="periode">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Période
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.periodeLettre }}
              </mat-cell>
            </ng-container>

            <!-- Dénomination colonne -->
            <ng-container matColumnDef="bail">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Bail
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.nomLocataire }} {{ row.prenomLocataire }} \
                {{ row.abrvBienimmobilier }}
              </mat-cell>
            </ng-container>

            <!-- Propriétaire colonne -->
            <ng-container matColumnDef="montantloyer">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Montant Loyer
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.nouveauMontantLoyer }}</mat-cell
              >
            </ng-container>

            <ng-container matColumnDef="solde">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Solde
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.soldeAppelLoyer }}</mat-cell
              >
            </ng-container>
            <!-- Propriétaire colonne -->
            <ng-container matColumnDef="Status">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Status
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span
                  *ngIf="row.statusAppelLoyer == 'Soldé'"
                  class="badge badge-success"
                  >{{ row.statusAppelLoyer }}</span
                >
                <span
                  *ngIf="row.statusAppelLoyer == 'Impayé'"
                  class="badge badge-danger"
                  >{{ row.statusAppelLoyer }}</span
                >
                <span
                  *ngIf="row.statusAppelLoyer == 'partiellement payé'"
                  class="badge badge-warning"
                  >{{ row.statusAppelLoyer }}</span
                >
              </mat-cell>
            </ng-container>
            <!-- Actions colonne -->
            <ng-container matColumnDef="Actions">
              <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <div class="btn-group">
                  <button mat-icon-button color="primary">
                    <mat-icon>print</mat-icon>
                  </button>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns">
            </mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                Aucune donnée enregistrée {{ input.value }}
              </td>
            </tr>
          </mat-table>
        </div>
      </div>
    </div>
  </div>
</div>
