
<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Le propiétaire</h1>
    </div>
    <div class="col-md-4 text-right">
      <app-boutton-action></app-boutton-action>
    </div>

  </div>
  <div class="col">
<!-- main content -->
<div class="tab-content" id="myTabContent">
  <!-- user table -->
  <div class="tab-pane fade show active" id="users">
   <div class="mb-3 float-left">
     <div class="col btn-group">
       <div class="row md-12">
        <form class="form-inline mr-2">
          <input name="searchTerm" #searchInput="ngModel" class="form-control" ngModel
           type="search" placeholder="Recherche utilisateurs...">
       </form>
        <button  type="button" class="btn btn-info" data-toggle="modal" data-target="#addUserModal">
          <i class="fa fa-plus"></i>&nbsp;New User
        </button>
      </div>

     </div>
   </div>
     <table class="table table-hover m-3 p-3">
      <thead class="table-borderless">
       <tr class="text-center mt-3">
         <th>Photo</th>
         <th>User ID</th>
         <th>First Name</th>
         <th>Last Name</th>
         <th>Username</th>
         <th>Email</th>
         <th>Status</th>
         <th>Actions</th>
       </tr>
     </thead>
      <tbody >
        <tr class="text-center">
          <td >
            <img height="40" width="40" src="assets/nassmam.jpg" class="rounded-circle img-fluid img-thumbnail" alt=""/>
          </td>
          <td >I2547185</td>
          <td >zrango</td>
          <td >nasaire</td>
          <td >+2250103833350</td>
          <td >zrangonazaire@gmail.com</td>
          <td>
            <span>Active</span>
          </td>
          <td class="">
            <div class="btn-group">
              <button class="btn btn-outline-info" ><i class="fas fa-edit"></i></button>
              <button class="btn btn-outline-danger" ><i class="fas fa-trash"></i></button>
            </div>
          </td>
        </tr>
       <tr class="text-center">
         <td >
           <img height="40" width="40" src="assets/zolo.jpg" class="rounded-circle img-fluid img-thumbnail" alt=""/>
         </td>
         <td >I2547185</td>
         <td >Bossoh</td>
         <td >Michel</td>
         <td >+2250777880885</td>
         <td >michel.bossoh@outlook.fr</td>
         <td >
           <span >Active</span>
         </td>
         <td class="">
           <div class="btn-group">
             <button class="btn btn-outline-info" ><i class="fas fa-edit"></i></button>
             <button class="btn btn-outline-danger" ><i class="fas fa-trash"></i></button>
           </div>
         </td>
       </tr>

       <tr class="text-center">
        <td >
          <img height="40" width="40" src="assets/nassmam.jpg" class="rounded-circle img-fluid img-thumbnail" alt=""/>
        </td>
        <td >I2547185</td>
        <td >zrango</td>
        <td >nasaire</td>
        <td >+2250103833350</td>
        <td >zrangonazaire@gmail.com</td>
        <td>
          <span>Active</span>
        </td>
        <td class="">
          <div class="btn-group">
            <button class="btn btn-outline-info" ><i class="fas fa-edit"></i></button>
            <button class="btn btn-outline-danger" ><i class="fas fa-trash"></i></button>
          </div>
        </td>
      </tr>

      <tr class="text-center">
        <td >
          <img height="40" width="40" src="assets/zolo.jpg" class="rounded-circle img-fluid img-thumbnail" alt=""/>
        </td>
        <td >I2547185</td>
        <td >Bossoh</td>
        <td >Michel</td>
        <td >+2250777880885</td>
        <td >michel.bossoh@outlook.fr</td>
        <td >
          <span >Active</span>
        </td>
        <td class="">
          <div class="btn-group">
            <button class="btn btn-outline-info" ><i class="fas fa-edit"></i></button>
            <button class="btn btn-outline-danger" ><i class="fas fa-trash"></i></button>
          </div>
        </td>
      </tr>
     </tbody>
    </table>
 </div>

</div>

  </div>
  <div class="row mb-3">
    <div class=" col-md-12 text-center">
        <app-pagination></app-pagination>
    </div>
  </div>

</div>







