
<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Liste de(s) propiétaire(s)</h1>
    </div>
    <div class="col-md-4 text-right">
       <app-boutton-action></app-boutton-action>
    </div>

  </div>
  <div class="col">
<!-- main content -->
<div class="tab-content" id="myTabContent">
  <!-- user table -->
  <div class="tab-pane fade show active" id="users">
   <div class="mb-3 float-left">
     <div class="col btn-group">
       <div class="row md-12">
        <form class="form-inline mr-2">
          <input name="searchTerm" class="form-control" ngModel
           type="search" placeholder="Recherche utilisateurs...">
       </form>
        <button  type="button" class="btn btn-info" data-toggle="modal" data-target="#addUserModal">
          <i class="fa fa-plus"></i>&nbsp;New User
        </button>
      </div>

     </div>
   </div>
   <div>
    <ng-container *ngIf="proprietaireState$ | async as state" [ngSwitch]="state.dataState">
      <ng-container *ngSwitchCase="UtilisteurStateEnum.ERROR">
        <div class="p-2 invalid-feedback">error...</div>
      </ng-container>
      <ng-container *ngSwitchCase="UtilisteurStateEnum.LOADING">
        <div class="p-2"> les données sont en chargement ...</div>
      </ng-container>
      <ng-container *ngSwitchCase="UtilisteurStateEnum.LOADED">
        <div class="p-2"></div>
        <table class="table table-hover m-3 p-3">
          <thead class="table-borderless">
           <tr class="text-center mt-3">
            <th>Photo</th>
            <th>User ID</th>
            <th>Nom prénoms</th>
            <th>Nom utilisateur</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Status</th>
            <th>Actions</th>
           </tr>
         </thead>
          <tbody >
            <tr class="text-center" *ngFor="let propio of state.utlisisateurs">
              <td >
                <img height="40" width="40" src="assets/nassmam.jpg" class="rounded-circle img-fluid img-thumbnail" alt=""/>
              </td>
              <td >{{propio.utilisateurIdApp}}</td>
              <td >{{propio.nom}} {{propio.prenom}}</td>
              <td >{{propio.username}}</td>
              <td >{{propio.mobile}}</td>
              <td >{{propio.email}}</td>
              <td>
                <div class="">Status:
                  <span [hidden]="!propio.active" class="badge badge-success">Active</span>
                  <span [hidden]="propio.active" class="badge badge-danger">Inactive</span>
                </div>
              </td>
              <td class="">
                <div class="btn-group">
                  <button class="btn btn-outline-info" ><i class="fas fa-edit"></i></button>
                  <button class="btn btn-outline-danger" ><i class="fas fa-trash"></i></button>
                </div>
              </td>
            </tr>
         </tbody>
        </table>
    </ng-container>
  </ng-container>
   </div>

 </div>

</div>

  </div>
  <div class="row mb-3">
    <div class=" col-md-12 text-center">
        <app-pagination></app-pagination>
    </div>
  </div>

</div>







