<div class="col">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-white mb-5">
        <div class="row">
          <div class="col-md-8">
            <div class="card-heading clearfix border-bottom mb-4">
              <h4 class="card-title">Demandes reservations en cours</h4>
            </div>
          </div>
          <div class="col-md-4">
            <div class="d-flex">
              <div class="p-2 flex-fill">
                <button type="button" class="btn btn-success">
                  <i class="fas fa-cloud-download-alt"></i>&nbsp; Exporter
                  reservations
                </button>
              </div>
              <div class="p-2 flex-fill">
                <button
                  (click)="creerUneReservation()"
                  type="button"
                  class="btn btn-primary"
                  mat-raised-button
                >
                  <i class="fas fa-plus"></i>&nbsp; nouvelle reservation
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <ul class="list-unstyled">
            <div>
              <div class="mat-elevation-z8">
                <div class="example-header">
                  <mat-form-field class="tail-50" style="margin-left: 12px">
                    <mat-label>Rechercher</mat-label>
                    <input
                      matInput
                      (keyup)="applyFilterAppel($event)"
                      #input
                      placeholder="Rechercher une réservation"
                    />
                  </mat-form-field>
                </div>
                <mat-paginator
                  #paginator
                  showFirstLastButtons
                  [length]="totalRecords!"
                  [pageSizeOptions]="pageSizeAppel"
                  aria-label="Select page of users"
                >
                </mat-paginator>
                <mat-table #table [dataSource]="dataSource" matSort>
                  <ng-container matColumnDef="datereservation">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Date de Réservation
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      {{ row.creationDate | date : "dd/MM/yyyy" }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="client">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Client
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      {{ row.utilisateurOperation }}</mat-cell
                    >
                  </ng-container>

                  <ng-container matColumnDef="appartement">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Appartement
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      {{ row.bienImmobilierOperation }}</mat-cell
                    >
                  </ng-container>

                  <ng-container matColumnDef="totalapayer">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Montant à payer
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      {{ row.montantReservation | currency : "XOF" }}</mat-cell
                    >
                  </ng-container>
                  <ng-container matColumnDef="montantpaye">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Payé
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      {{ row.montantPaye | currency : "XOF" }}</mat-cell
                    >
                  </ng-container>
                  <ng-container matColumnDef="resteapayer">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Solde
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      {{ row.soldReservation | currency : "XOF" }}</mat-cell
                    >
                  </ng-container>

                  <ng-container matColumnDef="pourcentagereductione">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Poucentage
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      {{ row.pourcentageReduction }} %</mat-cell
                    >
                  </ng-container>
                  <ng-container matColumnDef="periode">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Période
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      {{ row.dateDebut | date : "dd/MM/yyyy" }} Au
                      {{ row.dateFin | date : "dd/MM/yyyy" }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Action
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <button
                        (click)="entrerEnChambre(row)"
                        color="primary"
                        *ngIf="row.utilisateurOperation == 'XXX XXXXX'"
                        mat-icon-button
                      >
                        <mat-icon>login</mat-icon>
                      </button>
                      <button (click)="encaissementReservation(row)" mat-icon-button color="warn">
                        <mat-icon>attach_money</mat-icon>
                      </button>
                      <button (click)="printRecuPaiementReservation(row.id)" mat-icon-button color="accent">
                        <mat-icon>print</mat-icon>
                      </button>
                      <button mat-icon-button color="warn">
                        <mat-icon>delete_sweep</mat-icon>
                      </button>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns">
                  </mat-header-row>
                  <mat-row
                    *matRowDef="let row; columns: displayedColumns"
                  ></mat-row>
                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">
                      Aucune donnée enregistrée {{ input.value }}
                    </td>
                  </tr>
                </mat-table>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
