<div class="row">
  <div class="col-md-12">
    <div class="card card-white mb-5">
      <div class="row">
        <div class="col-md-8">
          <div class="card-heading clearfix border-bottom mb-4">
            <h4 class="card-title">Demandes reservations en cours</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex">
            <div class="p-2 flex-fill">
              <button type="button" class="btn btn-success">
                <i class="fas fa-cloud-download-alt"></i>&nbsp; Exporter
                reservations
              </button>
            </div>
            <div class="p-2 flex-fill">
              <button
                (click)="creerUneReservation()"
                type="button"
                class="btn btn-primary"
                mat-raised-button
              >
                <i class="fas fa-plus"></i>&nbsp; nouvelle reservation
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body">
        <ul class="list-unstyled">
          <ng-container
            *ngIf="reservationState$ | async as reservationState"
            [ngSwitch]="reservationState.dataState"
          >
            <ng-container *ngSwitchCase="ReservationStateEnum.ERROR">
              <label for="">Erreur : {{ reservationState.errorMessage }}</label>
            </ng-container>
            <ng-container *ngSwitchCase="ReservationStateEnum.LOADED">
              <table>
                <tr>
                  <th>Date de réservation</th>
                  <th>Client</th>
                  <th>Téléphone</th>
                  <th>N° Pièce</th>
                  <th>Appartement</th>
                  <th>Total à payer</th>
                  <th>Montant payé</th>
                  <th>Reste à payer</th>
                  <th>Montant de reduction</th>
                  <th>Réduction</th>
                  <th>période</th>
                  <th>Nombre d'adultes</th>
                  <th>Nombre d'enfant</th>
                  <th>Actions</th>
                </tr>
                <tr *ngFor="let reservation of reservationState.reservations">
                  <td>
                    <span class="bg-light-blue">{{
                      reservation.creationDate | date : "dd/MM/yyyy"
                    }}</span>
                  </td>
                  <td>
                    <span class="border-right pr-2 mr-2">{{
                      reservation.utilisateurOperation
                    }}</span>
                  </td>

                  <td>{{ reservation.username }}</td>
                  <td>N° Pièce</td>
                  <td>{{ reservation.bienImmobilierOperation }}</td>
                  <td>{{ reservation.montantReservation |currency:'XOF' }}</td>
                  <td>{{ reservation.montantPaye|currency:'XOF' }}</td>
                  <td>{{ reservation.soldReservation |currency:'XOF'}}</td>
                  <td>{{ reservation.montantReduction |currency:'XOF'}}</td>
                  <td>{{ reservation.pourcentageReduction }} %</td>
                  <td>
                    <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">
                      {{ reservation.dateDebut | date : "dd/MM/yyyy" }} Au {{ reservation.dateFin | date : "dd/MM/yyyy" }}
                    </span>
                  </td>
                  <td>{{ reservation.nmbreHomme }}</td>
                  <td>{{ reservation.nmbrEnfant }}</td>
                  <td>Actions</td>
                </tr>
              </table>
            </ng-container>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>
