<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Liste des utilisateurs</h1>
    </div>
    <div class="col-md-4 text-right">
      <app-boutton-action></app-boutton-action>
    </div>

  </div>
  <div class="col">
    <!-- main content -->
    <div class="tab-content" id="myTabContent">
      <!-- user table -->
      <div class="tab-pane fade show active" id="users">
        <div class="mb-3 float-left">
          <div class="col btn-group">
            <div class="row md-12">
              <form class="form-inline mr-2">
                <input name="searchTerm" #searchInput="ngModel" class="form-control" ngModel type="search"
                  placeholder="Recherche utilisateurs...">
              </form>
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addUserModal">
                <i class="fa fa-plus"></i>&nbsp;New User
              </button>
              <div class="btn-group ml-2">
                <button type="button" (click)="getUsers(true)" class="btn btn-info">
                  <i *ngIf="refreshing" class="fas fa-sync fa-spin"></i>
                  <i *ngIf="!refreshing" class="fas fa-sync"></i>
                </button>
              </div>
            </div>

          </div>
        </div>
        <table class="table table-hover m-3 p-3">
          <thead class="table-borderless">
            <tr class="text-center mt-3">
              <th>Photo</th>
              <th>ID</th>
              <th>Nom</th>
              <th>Prénoms</th>
              <th>Login</th>
              <th>Email</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let appUser of users">
            <tr class="text-center">
              <td>
                <img height="40" width="40" src="assets/nassmam.jpg" class="rounded-circle img-fluid img-thumbnail"
                  alt="" />
              </td>
              <td (click)="onSelectUser(appUser)">{{appUser.utilisateurIdApp}}</td>
              <td (click)="onSelectUser(appUser)" >{{appUser.nom}}</td>
              <td (click)="onSelectUser(appUser)">{{appUser.prenom}}</td>
              <td (click)="onSelectUser(appUser)">{{appUser.username}}</td>
              <td (click)="onSelectUser(appUser)">{{appUser.email}}</td>
              <td>
                <span [hidden]="!appUser?.active" class="badge badge-success">Active</span>
                <span [hidden]="appUser?.active" class="badge badge-danger">Inactive</span>
              </td>
              <td class="">
                <div class="btn-group">
                  <button class="btn btn-outline-info"><i class="fas fa-edit"></i></button>
                  <button class="btn btn-outline-danger"><i class="fas fa-trash"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- End user table -->
      </div>
      <button [hidden]="true" type="button" id="openUserInfo" data-toggle="modal" data-target="#viewUserModal">
      </button>
      <button [hidden]="true" type="button" id="openUserEdit" data-toggle="modal" data-target="#editUserModal">
      </button>

      <!-- modal user info -->
      <div class="modal fade bd-example-modal-lg" id="viewUserModal" tabindex="-1" role="dialog" aria-labelledby=""
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center" id="exampleModalLongTitle">{{selectedUser?.nom}}
                {{selectedUser?.prenom}}
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-sm-auto">
                        <div class="mx-auto" style="width: 120px;">
                          <div class="d-flex justify-content-center align-items-center rounded">
                            <img class="rounded" height="120" width="120" src="{{selectedUser?.profileImageUrl}}"
                              alt="{{selectedUser?.nom}}">
                          </div>
                        </div>
                      </div>
                      <div class="col d-flex flex-column flex-sm-row justify-content-between">
                        <div class="text-center text-sm-left mb-sm-0">
                          <h6 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{selectedUser?.nom}}
                            {{selectedUser?.prenom}}</h6>
                          <p class="mb-1">{{selectedUser?.username}}</p>
                          <div class="">Status:
                            <span [hidden]="!selectedUser?.active" class="badge badge-success">Active</span>
                            <span [hidden]="selectedUser?.active" class="badge badge-danger">Inactive</span>
                          </div>
                          <div *ngIf="selectedUser?.lastLoginDateDisplay" class="text-muted"><small>Last Login:
                              {{selectedUser?.lastLoginDateDisplay | date: 'medium'}}</small>
                          </div>
                        </div>
                        <div class="text-center text-sm-right">
                          <div class="text-muted"><small>Joined {{selectedUser?.joinDate | date: 'mediumDate'}}</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"></li>
                    <li class="list-group-item"><i
                        class="fa fa-id-badge float-right"></i>{{selectedUser?.utilisateurIdApp}}
                    </li>
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{selectedUser?.email}}
                    </li>
                    <li class="list-group-item"><i
                        class="fas fa-shield-alt float-right"></i>{{selectedUser?.roleUsed?.substring(5)}}
                    <li *ngIf="selectedUser?.lastLoginDateDisplay" class="list-group-item"><i
                        class="fas fa-sign-in-alt float-right"></i>{{selectedUser?.lastLoginDateDisplay | date:
                      'medium'}}
                    </li>
                    <li class="list-group-item">
                      <span [hidden]="selectedUser?.nonLocked">
                        <i class="fa fa-lock float-right" style="color: red;">
                        </i>
                        Account Locked
                      </span>
                      <span [hidden]="!selectedUser?.nonLocked">
                        <i class="fa fa-unlock float-right" style="color: green;">
                        </i>
                        Account Unlocked
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
        <!-- End modal user info -->
      </div>
      <!-- End of Main content -->
    </div>

  </div>
  <div class="row mb-3">
    <div class=" col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>

</div>
