.mat-select{
  max-width: max-content !important;
  min-width: 100%;
}
.mat-form-field{
  width: 100%;
}
.widthForm{
  width: 75%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
.tail-50{
  width: 50%;
}
#container {
  visibility: hidden;
}
.larger {
  font-size: larger;
}
#loader {
color: #008cff;
height: 40px;
width: 30%;
position: absolute;
top: 45%;
left: 45%;
}

#element {
  display: block;
  height: 350px;
}

#wrapper {
  width: 250px;
  margin: 0 auto;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}
span {
  font-size: 1.6em;
}
.longueurtext{
  text-align: left;
  width: 100%;
}
