<div class="container-xl px-4 mt-4">
  <!-- Account page navigation-->

  <hr class="mt-0 mb-4" />
  <div class="row">
    <div class="col-md-4">
      <!-- Profile picture card-->
      <div class="card mb-4 mb-xl-0">
        <div class="card-header">Image d'illustration</div>
        <div class="card-body text-center">
          <!-- Profile picture image-->
          <img
            class="img-account-profile rounded-circle mb-2"
            src="assets/bien-immobilier.png"
            width="120px"
            height="120px"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <!-- Account details card-->
      <div class="card mb-4">
        <div class="card-header font-weight-bold">
          Informations sur l'Immeuble
        </div>
        <div class="card-body">
          <!-- FORM POUR APPARTEMENT -->
          <form *ngIf="immeubleForm" [formGroup]="immeubleForm">
            <div class="row gx-3 mb-3">
              <div class="col-md-6">
                <ng-container
                  *ngIf="siteState$ | async as siteState"
                  [ngSwitch]="siteState.dataState"
                >

                  <ng-container *ngSwitchCase="SiteStateEnum.ERROR">
                    <div class="p-2">
                      Erreur: {{ siteState.errorMessage | json }}
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="SiteStateEnum.LOADING">
                    <div class="spinner-border text-primary" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="SiteStateEnum.LOADED">
                    <label class="big mb-1" for="inputFirstName">Site</label>
                    <select
                      formControlName="idSite"
                      name="idImmeuble"
                      class="form-control form-control-lg"
                      [ngClass]="{
                        'is-invalid':
                          submitted && immeubleForm.controls.idSite.errors
                      }"
                    >
                      <option [value]="0">Sélection un Site</option>
                      <option [value]="0">Aucun Site</option>
                      <option
                        [value]="site.id"
                        *ngFor="let site of siteState.sites"
                      >
                        {{ site.nomSite }}
                      </option>
                    </select>
                  </ng-container>
                </ng-container>
              </div>
              <div class="col-md-6">
                <ng-container
                *ngIf="utilisateurState$ | async as state"
                [ngSwitch]="state.dataState"
              >
                <ng-container *ngSwitchCase="UtilisteurStateEnum.INITIAL">
                  <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="UtilisteurStateEnum.ERROR">
                  <div class="p-2 invalid-feedback">
                    Une erreur est survenue
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="UtilisteurStateEnum.LOADED">
                  <label class="small mb-1" for="inputUsername"
                    >Propriétaire</label
                  >
                  <div class="form-group">
                    <select
                      formControlName="idUtilisateur"
                                         class="form-control form-control-lg w-auto"
                      [ngClass]="{
                        'is-invalid':
                          submitted &&
                          immeubleForm.controls.idUtilisateur.errors
                      }"
                    >
                      <option [value]="">Sélection un Propriétaire</option>
                      <option
                        [value]="utilis.id"
                        *ngFor="let utilis of state.utilisateurs"
                      >
                        {{ utilis.nom }} {{ utilis.prenom }}
                      </option>
                    </select>
                    <div
                      *ngIf="
                        submitted && immeubleForm.controls.idUtilisateur.errors
                      "
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="immeubleForm.controls.idUtilisateur.errors.required"
                      >
                        *Champ obligatoire
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              </div>
              <div class="row gx-3 mb-3">
                <!-- Form Group (organization name)-->
                <div class="col-md-6">
                  <label class="small mb-1" for="inputOrgName"
                    >Désignation</label
                  >
                  <input
                    formControlName="nomBien"
                    class="form-control"

                    type="text"
                    [ngClass]="{
                      'is-invalid':
                        submitted && immeubleForm.controls.nomApp.errors
                    }"
                    required
                  />
                  <div
                    *ngIf="submitted && immeubleForm.controls.nomApp.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="immeubleForm.controls.nomApp.errors.required">
                      *Champ obligatoire
                    </div>
                  </div>
                  <div class="valid-feedback">Ok!</div>
                </div>
                <!-- Form Group (location)-->
                <div class="col-md-6">
                  <label class="small mb-1" for="inputLocation"
                    >Description  </label
                  >
                  <textarea class="form-control" rows="3" formControlName="descriptionImmeuble" ></textarea>

                </div>
                <div class="col-md-6">
                  <label class="small mb-1" for="inputLocation"
                    >Nombre d'étages </label
                  >
                  <input
                    formControlName="nbrEtage"
                    class="form-control"
                    name="inputLocation"
                    type="number"
                  />
                </div>
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-end">
                <button
                  type="button"
                  class="btn btn-danger mr-2"
                  data-dismiss="modal"
                  (click)="onClose()"
                  id="closeAgenceButton"
                >
                  <i class="fas fa-ban"></i>
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="onSaveImmeuble()"
                >
                  <i class="fas fa-save"></i>
                  Enregistrer
                </button>
              </div>
            </div>
          </form>
          <!-- FORM POUR LES ETAGES -->
        </div>
      </div>
    </div>
  </div>
</div>
