<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Encaissement en masse</h1>
    </div>
    <div class="col-md-4 text-right"></div>
  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        <h5>
          <i class="fas fa-asterisk blue-color"></i>&nbsp;Paramètre d'appel
        </h5>
      </div>
    </div>
    <hr style="margin-top: 0" />
    <div class="row mb-3">
      <div class="col-md-6 ">
        <ng-container *ngIf="periodeState$ | async as periodeState" [ngSwitch]="periodeState.dataState">
          <ng-container *ngSwitchCase="PeriodeStateEnum.LOADED">
            <mat-form-field appearance="outline">
              <mat-label>Mois</mat-label>
              <mat-select [(value)]="periode" #selectionmois (valueChange)="
                  getListeLocataireImpayer(selectionmois.value)
                ">
                <mat-option [value]="periode.periodeAppelLoyer" *ngFor="let periode of periodeState.periodes">
                  {{ periode.periodeLettre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button class="ml-3" mat-raised-button color="primary" style="width: 50%; height: 50%"
              (click)="paiementGroupe()">
              <mat-icon>save</mat-icon>
              Encaisser
            </button>
          </ng-container>
        </ng-container>
      </div>
      <div class="col-md-6">

      </div>
    </div>
    <div>
      <ng-container>
        <ng-container>
          <div class="row mb-3">
            <div class="col-md-3"></div>
            <div class="col-md-3">
              <div class="mat-typography">
                <h3></h3>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mat-typography">
                <h3></h3>
              </div>
            </div>
            <div class="col-md-3 text-center"></div>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="row">
      <div class="row">
        <div class="col">
          <h5>
            <i class="fas fa-asterisk blue-color"></i>&nbsp;Liste des loyers
            impayés ({{nbreLoyerNonPayer}})
            <!-- <span style="text-align: right;">Nombre loyer(s) non payer {{nbreLoyerNonPayer}}</span> -->
          </h5>
        </div>
        <!-- <div class="col-md-6"> -->
        <!-- Nombre loyer(s) non payer {{nbreLoyerNonPayer}} -->
        <!-- </div> -->
      </div>
      <div class="row">

        <hr style="margin-top: 0" />
      </div>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggeAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()"></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <!--  bail column-->
        <ng-container matColumnDef="appel">
          <th mat-header-cell *matHeaderCellDef>Code Appel</th>
          <td mat-cell *matCellDef="let element">{{ element.idAppel }}</td>
        </ng-container>
        <!--  bail column-->
        <ng-container matColumnDef="periode">
          <th mat-header-cell *matHeaderCellDef>Période</th>
          <td mat-cell *matCellDef="let element">{{ element.moisEnLettre }}</td>
        </ng-container>
        <!--  bail column-->
        <ng-container matColumnDef="bail">
          <th mat-header-cell *matHeaderCellDef>Locataire / Bail</th>
          <td mat-cell *matCellDef="let element">{{ element.codeDescBail }}</td>
        </ng-container>
        <!--  loyer column-->
        <ng-container matColumnDef="loyer">
          <th mat-header-cell *matHeaderCellDef>Loyer</th>
          <td mat-cell *matCellDef="let element">{{ element.montantloyer }}</td>
        </ng-container>
        <!--  solde column-->
        <ng-container matColumnDef="solde">
          <th mat-header-cell *matHeaderCellDef>Solde</th>
          <td mat-cell *matCellDef="let element">{{ element.montantloyer }}</td>
        </ng-container>
        <!--  montant_encaisser column-->
        <ng-container matColumnDef="montant_encaisser">
          <th mat-header-cell *matHeaderCellDef>Montant Encaissé</th>
          <td mat-cell *matCellDef="let element">{{ element.montantloyer }}</td>
        </ng-container>
        <!--  date_encaissement column-->
        <ng-container matColumnDef="date_encaissement">
          <th mat-header-cell *matHeaderCellDef>Date d'encaissement</th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
              <mat-label>Choisir une date</mat-label>
              <input [formControl]="date" #refDate matInput [matDatepicker]="picker" data-date-format="yyyy-mm-dd" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </td>
        </ng-container>
        <!--  mode_reglement column-->
        <ng-container matColumnDef="mode_reglement">
          <th mat-header-cell *matHeaderCellDef>Mode de règlement</th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
              <mat-label>Mode de règlement*</mat-label>
              <mat-select id="element.id" value="ESPESE_MAGISER" (selectionChange)="getModePaiement(element.idAppel,$event.value)">
                <mat-option value="ESPESE_MAGISER">Espèce</mat-option>
                <mat-option value="MOBILE_MONEY_MAGISER">Money Electronique</mat-option>
                <mat-option value="CHEQUE_ECOBANK_MAGISER">Chèque</mat-option>
                <mat-option value="VIREMENT_ECOBANK_MAGISER">Virement Banquaire</mat-option>
              </mat-select>
              <mat-error>Ce champ est obligatoire.</mat-error>
            </mat-form-field>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <hr />
  </div>
</div>
