<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Cloture de caisse</h1>
    </div>
    <div class="col-md-4 text-right"></div>
  </div>

  <div class="col">
    <div class="row">
      <div class="col">
        <h5><i class="fas fa-asterisk blue-color"></i>&nbsp;Période</h5>
        <h5>
          <div class="row">
            <mat-card-subtitle>
              <mat-form-field appearance="outline">
                <mat-label>Date de départ</mat-label>
                <input
                  [(ngModel)]="selectedDate"
                  #refDate
                  matInput
                  [matDatepicker]="picker"
                  data-date-format="yyyy-mm-dd"
                  (dateChange)="
                    getAllEnciassementParPeriodeCaisseAgence(
                      refDate.value,
                      refDateJour.value
                    );
                    getAllSuiviDepenseentreDeuxDate(
                      refDate.value,
                      refDateJour.value
                    )
                  "
                />

                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <mat-form-field appearance="outline">
                <mat-label>Date du jour</mat-label>
                <input
                  disabled="true"
                  [(ngModel)]="selectedDateJour"
                  #refDateJour
                  matInput
                  [matDatepicker]="pickerJour"
                  data-date-format="dd-mm-yyyy"
                  (dateChange)="
                    getAllEnciassementParPeriodeCaisseAgence(
                      refDate.value,
                      refDateJour.value
                    );
                    getAllSuiviDepenseentreDeuxDate(
                      refDate.value,
                      refDateJour.value
                    )
                  "
                />

                <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerJour"
                ></mat-datepicker-toggle>
                <mat-datepicker #pickerJour></mat-datepicker>
              </mat-form-field>
            </mat-card-subtitle>
            <button class="mr-2" mat-raised-button color="primary">
              <mat-icon>save</mat-icon>
              Cloturer
            </button>
          </div>
        </h5>
      </div>
    </div>
    <hr style="margin-top: 0" />
  </div>
  <div class="row">
    <div class="col-md-6"></div>
  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        <h5>
          <i class="fas fa-asterisk blue-color"></i>&nbsp;Liste des encaissement
          des loyers
        </h5>
      </div>
    </div>
    <hr style="margin-top: 0" />
  </div>
  <div>
    <div class="mat-elevation-z8">
      <span> Totol : {{ sommeEncaissePrincipal }}</span>
      <div class="example-header">
        <mat-form-field class="tail-50" style="margin-left: 12px">
          <mat-label>Rechercher</mat-label>
          <input
            matInput
            (keyup)="applyFilterAppel($event)"
            #input
            placeholder="Rechercher un Appel"
          />
        </mat-form-field>
      </div>
      <mat-paginator
        #paginator
        showFirstLastButtons
        [length]="100"
        [pageSizeOptions]="pageSizeEncaisseLoyer"
        aria-label="Select page of users"
      >
      </mat-paginator>
      <mat-table #tableAppel [dataSource]="dataSourceEncaisseLoyer" matSort>
        <!-- Code colonne -->
        <ng-container matColumnDef="idEncaiss">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Date d'Encaissement
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.dateEncaissement | date : "dd-MM-yyyy" }}
          </mat-cell>
        </ng-container>
        <!-- Dénomination colonne -->

        <!-- Propriétaire colonne -->
        <ng-container matColumnDef="Periode">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Entité
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.appelLoyersFactureDto.nomLocataire }}
            {{ row.appelLoyersFactureDto.prenomLocataire }} /
            {{ row.appelLoyersFactureDto.abrvBienimmobilier }}</mat-cell
          >
        </ng-container>
        <ng-container matColumnDef="Loyer">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Montant Encaissé
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.montantEncaissement }}</mat-cell
          >
        </ng-container>
        <ng-container matColumnDef="solde">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Mode paiement
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.modePaiement }}</mat-cell>
        </ng-container>
        <!-- Propriétaire colonne -->

        <!-- Actions colonne -->

        <mat-header-row *matHeaderRowDef="displayedColumnsAppel">
        </mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsAppel"></mat-row>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            Aucune donnée enregistrée {{ input.value }}
          </td>
        </tr>
      </mat-table>
    </div>
  </div>
  <!-- LISTE DES APPELS PAR BIEN -->
  <div class="col mt-4">
    <div class="row">
      <div class="col">
        <h5>
          <i class="fas fa-asterisk blue-color"></i>&nbsp;Liste des sorties de
          depenses
        </h5>
      </div>
    </div>
    <hr style="margin-top: 0" />
  </div>
  <div>
    <div class="mat-elevation-z8">
      <span> Totol : {{ sommeEncaisseSuivi }}</span>
      <div class="example-header">
        <mat-form-field class="tail-50" style="margin-left: 12px">
          <mat-label>Rechercher</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            #input
            placeholder="Rechercher un Encaissement"
          />
        </mat-form-field>
      </div>
      <mat-paginator
        #paginatorEncaissenent
        showFirstLastButtons
        [pageSizeOptions]="pageSize"
        aria-label="Select page of users"
      >
      </mat-paginator>
      <mat-table #tableEncaissemnt [dataSource]="dataSourceSuivi" matSort>
        <!-- Code colonne -->
        <ng-container matColumnDef="idEncaiss">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            id
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.id }}
          </mat-cell>
        </ng-container>
        <!-- Dénomination colonne -->
        <ng-container matColumnDef="Datedepaiement">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Date de Paiement
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.dateEncaissement | date : "dd-MM-yyyy" }}
          </mat-cell>
        </ng-container>

        <!-- Propriétaire colonne -->
        <ng-container matColumnDef="Periode">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Entité
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.designation

            }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="Loyer">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Montant Payé
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.montantDepense
            }}</mat-cell
          >
        </ng-container>
        <ng-container matColumnDef="MontantPaye">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Montant Payé
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.montantEncaissement }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="ModedeReglement">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Mode de Paiement
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.modePaiement }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="soldedumois">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Solde du mois
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.soldeEncaissement }}</mat-cell
          >
        </ng-container>
        <!-- Propriétaire colonne -->

        <!-- Actions colonne -->

        <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            Aucune donnée enregistrée {{ input.value }}
          </td>
        </tr>
      </mat-table>
    </div>
  </div>

  <div class="col mt-4">
    <div class="row">
      <div class="col">
        <h5>
          <i class="fas fa-asterisk blue-color"></i>&nbsp;Liste des Messages
        </h5>
      </div>
    </div>
    <hr style="margin-top: 0" />
  </div>
  <div>
    <div class="mat-elevation-z8">
      <div class="example-header">
        <mat-form-field class="tail-50" style="margin-left: 12px">
          <mat-label>Rechercher</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            #input
            placeholder="Rechercher un Encaissement"
          />
        </mat-form-field>
      </div>
      <mat-paginator
        #matsms
        showFirstLastButtons
        [pageSizeOptions]="pageSizeSms"
        aria-label="Select page of users"
      >
      </mat-paginator>
      <mat-table #tableEncaissemnt [dataSource]="dataSourceSms" matSort>
        <!-- Code colonne -->
        <ng-container matColumnDef="dateEnvoi">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            id
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.dateEnvoi }}
          </mat-cell>
        </ng-container>
        <!-- Dénomination colonne -->
        <ng-container matColumnDef="destinaireNomPrenom">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Téléphone
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.destinaireNomPrenom }}
          </mat-cell>
        </ng-container>

        <!-- Propriétaire colonne -->
        <ng-container matColumnDef="typeMessage">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Type de Message
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.typeMessage }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="textMessage">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Message
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.textMessage }}</mat-cell>
        </ng-container>

        <!-- Propriétaire colonne -->
        <ng-container matColumnDef="envoer">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Status
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span
              *ngIf="row.envoer.statusAppelLoyer == true"
              class="badge badge-success"
              >Envoyé
            </span>
            <span *ngIf="row.envoer == false" class="badge badge-danger"
              >Echec de l'envoi
            </span>
          </mat-cell>
        </ng-container>
        <!-- Actions colonne -->
        <ng-container matColumnDef="Actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary">
              <mat-icon>print</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsSms">
        </mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsSms"></mat-row>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            Aucune donnée enregistrée {{ input.value }}
          </td>
        </tr>
      </mat-table>
    </div>
  </div>
</div>
