<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Liste des biens immobiliers</h1>
    </div>
    <div class="col-md-4 text-right">
      <app-action-button-bien (bienImmobilierEmmiter)="onActionEvent($event)"></app-action-button-bien>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        <h5><i class="fas fa-asterisk blue-color"></i>&nbsp;Filtre</h5>
      </div>
    </div>
    <hr style="margin-top: 0" />
    <div class="row mb-3">
      <div class="col-md-3">
        <ng-container *ngIf="villeState$ | async as state" [ngSwitch]="state.dataState">
          <ng-container *ngSwitchCase="VilleStateEnum.ERROR">
            <div class="p-2 invalid-feedback">Erreur est survenue</div>
          </ng-container>
          <ng-container *ngSwitchCase="VilleStateEnum.LOADED">
            <label>Ville</label>
            <select id="modele" name="typeClim" class="form-control" (change)="findCommuneByPays($event)">
              <option [value]="vil.id" *ngFor="let vil of state.villes">
                {{ vil.nomVille }}
              </option>
            </select>
          </ng-container>
        </ng-container>
      </div>
      <div class="col-md-3">
        <ng-container *ngIf="commeState$ | async as state" [ngSwitch]="state.dataState">
          <ng-container *ngSwitchCase="CommunesStateEnum.ERROR">
            <div class="p-2 invalid-feedback">Erreur est survenue</div>
          </ng-container>
          <ng-container *ngSwitchCase="CommunesStateEnum.LOADED">
            <label>Commune</label>
            <select id="modele" name="typeClim" class="form-control">
              <option [value]="comm.id" *ngFor="let comm of state.communes">
                {{ comm.nomCommune }}
              </option>
            </select>
          </ng-container>
        </ng-container>
      </div>
      <div class="col-md-3">
        <label>Type de bien</label>
        <select id="modele" name="typeClim" class="form-control">
          <option value="0">selectionnez un type de bien</option>
          <option value="Janvier 2022">Immeuble</option>
          <option value="Février 2022">Villa</option>
        </select>
      </div>
      <div class="col-md-3 mt-4">
        <button type="button" class="mb-sm btn btn-primary mr-1">
          Nouveau
        </button>
        <button type="button" class="mb-sm btn btn-success mr-1">
          Rappel d'appel
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h5>
          <i class="fas fa-asterisk blue-color"></i>&nbsp;Liste des biens
          immobiliers
        </h5>
      </div>
    </div>
    <hr style="margin-top: 0" />
    <!-- main content -->



    <ng-container *ngIf="bienState$ | async as state" [ngSwitch]="state.dataState">


      <div class="tab-content" id="myTabContent">
        <!-- user table -->
        <div class="tab-pane fade show active" id="users">
          <table class="table table-hover m-3 p-3">
            <thead class="table-borderless">
              <tr class="text-center mt-3">

                <th>Code</th>
                <th>Propriétaire</th>
                <th>Site</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <!-- Les appartements -->
              <ng-container *ngIf="appartementState$ | async as appartementState"
                [ngSwitch]="appartementState.dataState">
                <ng-container ng-container *ngSwitchCase="AppartementEnum.INITIAL">

                </ng-container>
                <ng-container ng-container *ngSwitchCase="AppartementEnum.LOADED">
                  <tr class="text-center" *ngFor="let appart of appartementState.appartements">

                    <td>{{ appart.abrvNomApp }}</td>
                    <td>{{ appart.nbreChambreApp }}</td>
                    <td>{{ appart.abrvNomApp }}</td>
                    <td *ngIf="appart.occupied" style="color: red"><i class="fa-solid fa-door-closed"></i></td>
                    <td *ngIf="!appart.occupied" style="color: blue"><i class="fas fa-door-open"></i></td>

                    <td class="">
                      <div class="btn-group">
                        <button class="btn btn-outline-info" (click)="onEditdele(appart.id)">
                          <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-outline-danger">
                          <i class="fas fa-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                <ng-container ng-container *ngSwitchCase="AppartementEnum.ERROR">
                  <div class="p-2">
                    L'Erreur suivante c'est produite : {{ appartementState.errorMessage }}
                  </div>
                </ng-container>
              </ng-container>
              <!-- Les Magasins -->
              <ng-container *ngIf="magasinState$ | async as magasinState" [ngSwitch]="magasinState.dataState">
                <ng-container ng-container *ngSwitchCase="AppartementEnum.INITIAL">

                </ng-container>
                <ng-container ng-container *ngSwitchCase="AppartementEnum.LOADED">
                  <tr class="text-center" *ngFor="let maga of magasinState.magasins">

                    <td>{{ maga.abrvBienimmobilier }}</td>
                    <td>{{ maga.abrvNomMagasin }}</td>
                    <td>{{ maga.abrvNomMagasin }}</td>
                    <td *ngIf="maga.occupied" style="color: red"><i class="fa-solid fa-door-closed"></i></td>
                    <td *ngIf="!maga.occupied" style="color: blue"><i class="fas fa-door-open"></i></td>

                    <td class="">
                      <div class="btn-group">
                        <button class="btn btn-outline-info" (click)="onEditdele(maga.id)">
                          <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-outline-danger">
                          <i class="fas fa-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                <ng-container ng-container *ngSwitchCase="AppartementEnum.ERROR">
                  <div class="p-2">
                    L'Erreur suivante c'est produite : {{ magasinState.errorMessage }}
                  </div>
                </ng-container>
              </ng-container>
              <!-- Les studios -->
              <ng-container *ngIf="studioState$ | async as studioState" [ngSwitch]="studioState.dataState">
                <ng-container ng-container *ngSwitchCase="StudioStateEnum.INITIAL">

                </ng-container>
                <ng-container ng-container *ngSwitchCase="StudioStateEnum.LOADED">
                  <tr class="text-center" *ngFor="let studio of studioState.studios">

                    <td>{{ studio.abrvNomApp }}</td>
                    <td>{{ studio.nbreChambreApp }}</td>
                    <td>{{ studio.abrvNomApp }}</td>
                    <td *ngIf="studio.occupied" style="color: red"><i class="fa-solid fa-door-closed"></i></td>
                    <td *ngIf="!studio.occupied" style="color: blue"><i class="fas fa-door-open"></i></td>

                    <td class="">
                      <div class="btn-group">
                        <button class="btn btn-outline-info" (click)="onEditdele(studio.id)">
                          <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-outline-danger">
                          <i class="fas fa-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                <ng-container ng-container *ngSwitchCase="StudioStateEnum.ERROR">
                  <div class="p-2">
                    L'Erreur suivante c'est produite : {{ studioState.errorMessage }}
                  </div>
                </ng-container>
              </ng-container>
              <!-- Les villas -->
              <ng-container *ngIf="villaState$ | async as villaState" [ngSwitch]="villaState.dataState">
                <ng-container ng-container *ngSwitchCase="AppartementEnum.INITIAL">

                </ng-container>
                <ng-container ng-container *ngSwitchCase="AppartementEnum.LOADED">
                  <tr class="text-center" *ngFor="let villa of villaState.villas">

                    <td>{{ villa.abrvBienimmobilier }}</td>
                    <td>{{ villa.nbrSalonVilla }}</td>
                    <td>{{ villa.abrvVilla }}</td>
                    <td *ngIf="villa.occupied" style="color: red"><i class="fa-solid fa-door-closed"></i></td>
                    <td *ngIf="!villa.occupied" style="color: blue"><i class="fas fa-door-open"></i></td>

                    <td class="">
                      <div class="btn-group">
                        <button class="btn btn-outline-info" (click)="onEditdele(villa.id)">
                          <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-outline-danger">
                          <i class="fas fa-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                <ng-container ng-container *ngSwitchCase="AppartementEnum.ERROR">
                  <div class="p-2">
                    L'Erreur suivante c'est produite : {{ villaState.errorMessage }}
                  </div>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>

      <ng-container *ngSwitchCase="BienImmobilierStateEnum.LOADING">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="BienImmobilierStateEnum.ERROR">
        <div class="p-2">
          L'Erreur suivante c'est produite : {{ state.errorMessage }}
        </div>
      </ng-container>
    </ng-container>

    <div class="row mb-3">
      <div class="col-md-12 text-center">
        <app-pagination></app-pagination>
      </div>
    </div>
  </div>
