<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Liste des biens immobiliers</h1>
    </div>
    <div class="col-md-4 text-right">
      <app-action-button-bien (bienImmobilierEmmiter)="onActionEvent($event)"></app-action-button-bien>
    </div>
  </div>
  <div class="col">

    <div class="row">
      <div class="col">
        <h5>
          <i class="fas fa-asterisk blue-color"></i>&nbsp;Liste des biens
          immobiliers
        </h5>
      </div>
    </div>
    <hr style="margin-top: 0" />
    <!-- main content -->
    <div class="example-header espace">
      <div>

      </div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event)" #input placeholder="Rechercher un Immeuble" />
      </mat-form-field>
      <div></div>
      <mat-form-field appearance="outline">
        <mat-label>Chapitre</mat-label>
        <mat-select [(ngModel)]="chapitre" #selectionChapitre
          (selectionChange)="getAllBienBiChapite(selectionChapitre.value)">
          <mat-option [value]=0>
            Tout
          </mat-option>
          <mat-option [value]=1>
            Magiser
          </mat-option>
          <mat-option [value]=2>
            Ebimpe
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- MAT TABLE AFFICHE  -->
    <div class="table-responsive">


    <ng-container *ngIf="bienImmobilierState$ | async as bienImmobilierState"
      [ngSwitch]="bienImmobilierState.dataState">
      <ng-container *ngSwitchCase="BienImmobilierStateEnum.LOADED">
        <div class="mat-elevation-z8">
          <mat-paginator #matimmeuble showFirstLastButtons [pageSizeOptions]="pageSize"
            [length]="totalRecords!"></mat-paginator>
          <mat-table #table [dataSource]="dataSource" matSort>
            <!-- Code colonne -->
            <ng-container matColumnDef="Chapitre">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Chapitre
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.chapitre }}
              </mat-cell>
            </ng-container>
            <!-- Code colonne -->
            <ng-container matColumnDef="Code">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Code
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.codeAbrvBienImmobilier }}
              </mat-cell>
            </ng-container>

            <!-- Dénomination colonne -->
            <ng-container matColumnDef="Denomination">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Dénomination
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.nomBaptiserBienImmobilier }}
              </mat-cell>
            </ng-container>

            <!-- Propriétaire colonne -->
            <ng-container matColumnDef="Proprietaire">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Propriétaire
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.nomPrenomProprio }}</mat-cell>
            </ng-container>
            <!-- Propriétaire colonne -->
            <ng-container matColumnDef="Status">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Status
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span [hidden]="row.occupied" class="badge badge-success">Libre</span>
                <span [hidden]="!row.occupied" class="badge badge-danger">Occupé</span></mat-cell>
            </ng-container>
            <!-- Actions colonne -->
            <ng-container matColumnDef="Actions">
              <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <td class="">
                  <button mat-icon-button color="primary" (click)="onEditBien(row)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button (click)="updateBienChapitre(row.id,row.codeAbrvBienImmobilier)" mat-icon-button color="black">
                    <div *ngIf="row.chapitre=='EBIMPE'">
                      <mat-icon>build</mat-icon>
                      Transférer vers MAGISER
                    </div>
                    <div *ngIf="row.chapitre=='MAGISER'">
                      <mat-icon>build</mat-icon>
                      Transférer vers EBIMPE
                    </div>
                  </button>
                </td>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns">
            </mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                Aucune donnée enregistrées "{{ input.value }}"
              </td>
            </tr>
          </mat-table>
        </div>
      </ng-container>
    </ng-container>
  </div>
  </div>
</div>
