.espace
{
  margin-left: 3;
}
@media screen and (max-width:600px)
  {
    table {
      width: 50%;
    }
  }
  .tail-40{
    width: 40%;
    margin-left: 10px;
  }
  mat-header-cell,
mat-cell {
  width: 100px; /* Ajustez la largeur selon vos besoins */
}

