<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Liste des biens immobiliers</h1>
    </div>
    <div class="col-md-4 text-right">
      <app-boutton-action></app-boutton-action>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        <h5><i class="fas fa-asterisk blue-color"></i>&nbsp;Filtre</h5>
      </div>
    </div>
    <hr style="margin-top: 0" />
    <div class="row mb-3">
      <div class="col-md-3">
        <label>Ville</label>
        <select id="modele" name="typeClim" class="form-control">
          <option value="0">selectionnez une ville</option>
          <option value="Janvier 2022">Abidjan</option>
          <option value="Février 2022">Aboisso</option>
        </select>
      </div>
      <div class="col-md-3">
        <label>Commune</label>
        <select id="modele" name="typeClim" class="form-control">
          <option value="0">selectionnez une commune</option>
          <option value="Janvier 2022">Cocody</option>
          <option value="Février 2022">Koumassi</option>
          <option value="Mars 2022">Yopougon</option>
        </select>
      </div>
      <div class="col-md-3">
        <label>Type de bien</label>
        <select id="modele" name="typeClim" class="form-control">
          <option value="0">selectionnez un type de bien</option>
          <option value="Janvier 2022">Immeuble</option>
          <option value="Février 2022">Villa</option>
        </select>
      </div>
      <div class="col-md-3 mt-4">
        <button type="button" class="mb-sm btn btn-primary mr-1">
          Nouveau
        </button>
        <button type="button" class="mb-sm btn btn-success mr-1">
          Rappel d'appel
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h5>
          <i class="fas fa-asterisk blue-color"></i>&nbsp;Liste des biens
          immobiliers
        </h5>
      </div>
    </div>
    <hr style="margin-top: 0" />
    <!-- main content -->
    <ng-container
      *ngIf="bienState$ | async as state"
      [ngSwitch]="state.dataState"
    >
      <ng-container *ngSwitchCase="BienImmobilierStateEnum.INITIAL">
        <div class="p-2">Initialisation des données</div>
      </ng-container>
      <ng-container *ngSwitchCase="BienImmobilierStateEnum.LOADED">
        <div class="tab-content" id="myTabContent">
          <!-- user table -->
          <div class="tab-pane fade show active" id="users">
            <table class="table table-hover m-3 p-3">
              <thead class="table-borderless">
                <tr class="text-center mt-3">
                  <th>Photo</th>
                  <th>User ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="BienImmobilierStateEnum.LOADING">
        <div class="p-2">Chargement des données...</div>
      </ng-container>

      <ng-container *ngSwitchCase="BienImmobilierStateEnum.ERROR">
        <div class="p-2">
          L'Erreur suivante c'est produite : {{ state.errorMessage }}
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="row mb-3">
    <div class="col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
