
/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{
  background-color: #eff2f5 !important;
}
.backgroung-gray{
  background-color: #eff2f5 !important;
}
.border-none{
border: none !important;
}
.custom-border-right {
  border-right: 2px solid #9ca1a6 !important; ;
}
.custom-border {
  border: solid #9ca1a6;
  border-radius: 5px;
}
.blue-color {
  color: #037bfe;
}

.hidden {
  display: none;
}

.loader-overlay {
  position: absolute;
  width: 100%;
  z-index: 500000;
  top: 0;
}

.loader {
  height: 10px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #FFF;
}

.loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 10px;
  background-color: #007bff;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}

#posts {
  margin: 20px 0;
  list-style-type: none;
}

#about {
  margin: 20px;
}

.alerts {
  margin: 20px 0;
  color: red;
}
.required:after {
  content: " *";
    color: red;
    font-weight: 100;
}

td {
  cursor: pointer;
}
.move-right {
    position: absolute;
    right: 0;
  }

  .move-left {
    position: absolute;
    left: 0;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }

  @media screen and (max-width:600px)
  {

  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

