<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Règlement Individuel des loyers</h1>
    </div>
    <div class="col-md-4 text-right"></div>
  </div>

  <div class="col">
    <form *ngIf="encaissementform" [formGroup]="encaissementform">
      <div class="row">
        <div class="col">
          <h5>
            <i class="fas fa-asterisk blue-color"></i>&nbsp;Paramètre de
            règlement
          </h5>
        </div>
      </div>
      <hr style="margin-top: 0" />
      <div class="row mb-3">
        <div class="col-md-3">
          <ng-container
            *ngIf="locataireState$ | async as locataireState"
            [ngSwitch]="locataireState.dataState"
          >
            <ng-container *ngSwitchCase="UtilisteurStateEnum.LOADING">
            </ng-container>
            <ng-container *ngSwitchCase="UtilisteurStateEnum.LOADED">
              <label>Locataires</label>
              <select
                id="modele"
                name="typeClim"
                #selectionlocataire
                class="form-control"
                (change)="getBienByLocataire(selectionlocataire.value)"
              >
                <option
                  [value]="locataire.id"
                  *ngFor="let locataire of locataireState.utilisateurs"
                >
                  {{ locataire.nom }} {{ locataire.prenom }}
                </option>
              </select>
            </ng-container>
          </ng-container>
        </div>
        <div class="col-md-3">
          <ng-container
            *ngIf="getBienBylocatairestate$ | async as biensLocataire"
            [ngSwitch]="biensLocataire.dataState"
          >
            <ng-container *ngSwitchCase="BauxStateEnum.LOADING">
              <i class="fas fa-sync fa-spin"></i>
            </ng-container>
            <ng-container *ngSwitchCase="BauxStateEnum.LOADED">
              <label>Bien immobilier</label>
              <select
                id="modelemoi"
                name="modeMoi"
                class="form-control"
                #selectBien
                (change)="getBauxBybien()"
              >
                <option value="0">Sélectionner un bien</option>
                <option
                  [value]="bien.id"
                  *ngFor="let bien of biensLocataire.baux"
                >
                  {{ bien.codeAbrvBienImmobilier }}
                </option>
              </select>
            </ng-container>
            <ng-container *ngSwitchCase="BauxStateEnum.ERROR">
              ...
            </ng-container>
          </ng-container>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="firstName">Mois</label>
            <input
              type="text"
              name="mois"
              [(ngModel)]="moisPaiement"
              class="form-control"
            />
          </div>
        </div>
        <div class="col-md-3">
          <label>Mode de règlement</label>
          <select
            id="modele"
            name="typeClim"
            class="form-control"
            formControlName="modePaiement"
          >
            <option value="ESPESE_MAGISER">Espèce</option>
            <option value="MOBILE_MONEY_MAGISER">Money Electronique</option>
            <option value="CHEQUE_ECOBANK_MAGISER">Chèque</option>
            <option value="VIREMENT_ECOBANK_MAGISER">Virement Banquaire</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>
            <i class="fas fa-asterisk blue-color"></i>&nbsp;Montant de règlement
          </h5>
        </div>
      </div>
      <hr style="margin-top: 0" />
      <div class="row mb-3">
        <div class="col-md-3">
          <label>Montant encaissé</label>
          <input
            formControlName="montantEncaissement"
            type="text"
            class="form-control"
            placeholder="Montant encaissé"
            name="MontantEncaissé"
          />
        </div>
        <div class="col-md-3">
          <label>Solde loyer</label>
          <input
            type="text"
            class="form-control"
            placeholder="Solde loyer"
            name="SoldeLoyer"
          />
        </div>
        <div class="col-md-3">
          <label>Montant du loyer</label>
          <input
            type="text"
            class="form-control"
            placeholder="SMontant loyer"
            name="MontnatLoyer"
          />
        </div>
        <div class="col-md-3">
          <label>Status du loyer</label>
          <br />
          <h4>
            <span class="badge badge badge-secondary badge-success">Soldé</span>
          </h4>
          &nbsp;
        </div>
      </div>
      <div class="row mb-3">
        <div class="col panel-body text-right">
          <button
            type="button"
            class="mb-sm btn btn-primary mr-1"
            (click)="onSaveEncaissement()"
          >
            Encaisser
          </button>
          <button type="button" class="mb-sm btn btn-danger mr-1">
            Annuler
          </button>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col">
        <h5>
          <i class="fas fa-asterisk blue-color"></i>&nbsp;Liste des loyers
        </h5>
      </div>
    </div>
    <hr />

    <!-- main content -->
    <div class="tab-content" id="myTabContent">
      <!-- user table -->
      <div class="tab-pane fade show active" id="users">
        <table class="table table-hover m-3 p-3">
          <thead class="table-borderless">
            <tr class="text-center mt-3">
              <th>Periode</th>
              <th>Locataire</th>
              <th>Loyer</th>
              <th>Montant payé</th>
              <th>Solde du mois</th>
              <th>Mode de règlement</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td>
                <img
                  height="40"
                  width="40"
                  src="assets/nassmam.jpg"
                  class="rounded-circle img-fluid img-thumbnail"
                  alt=""
                />
              </td>
              <td>I2547185</td>
              <td>zrango</td>
              <td>nasaire</td>
              <td>+2250103833350</td>
              <td>zrangonazaire@gmail.com</td>
              <td>
                <span>Active</span>
              </td>
              <td class="">
                <div class="btn-group">
                  <button class="btn btn-outline-info">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn btn-outline-danger">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr class="text-center">
              <td>
                <img
                  height="40"
                  width="40"
                  src="assets/zolo.jpg"
                  class="rounded-circle img-fluid img-thumbnail"
                  alt=""
                />
              </td>
              <td>I2547185</td>
              <td>Bossoh</td>
              <td>Michel</td>
              <td>+2250777880885</td>
              <td>michel.bossoh@outlook.fr</td>
              <td>
                <span>Active</span>
              </td>
              <td class="">
                <div class="btn-group">
                  <button class="btn btn-outline-info">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn btn-outline-danger">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>

            <tr class="text-center">
              <td>
                <img
                  height="40"
                  width="40"
                  src="assets/nassmam.jpg"
                  class="rounded-circle img-fluid img-thumbnail"
                  alt=""
                />
              </td>
              <td>I2547185</td>
              <td>zrango</td>
              <td>nasaire</td>
              <td>+2250103833350</td>
              <td>zrangonazaire@gmail.com</td>
              <td>
                <span>Active</span>
              </td>
              <td class="">
                <div class="btn-group">
                  <button class="btn btn-outline-info">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn btn-outline-danger">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>

            <tr class="text-center">
              <td>
                <img
                  height="40"
                  width="40"
                  src="assets/zolo.jpg"
                  class="rounded-circle img-fluid img-thumbnail"
                  alt=""
                />
              </td>
              <td>I2547185</td>
              <td>Bossoh</td>
              <td>Michel</td>
              <td>+2250777880885</td>
              <td>michel.bossoh@outlook.fr</td>
              <td>
                <span>Active</span>
              </td>
              <td class="">
                <div class="btn-group">
                  <button class="btn btn-outline-info">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn btn-outline-danger">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
